<div id="about">
    <div class="mainbox editboxon">
        <h2>What is PrioCloud TESTLLLL</h2>
        <h3>The target group</h3>
        <b>Not ready to choose a pro tool:</b><br/> You want to have a light weight Project and Portfolio Management tool
        at no cost while you build your processes around Project and portfolio management in your organization and you want
        to wait with the investment in a pro tool until you know what your exact requirements are to a new system.<br/>&nbsp;<br/>
        <b>A quick intro and training in Portfolio Management:</b><br/> You and/or your organization are not sure what to
        expect from doing Portfolio Management. By putting in a simple set of project information you can train in portfolio
        prioritization and project risk management.<br/>&nbsp;<br/>
        <b>You just need a simple tool:</b><br/> Many companies would benefit more by doing a small set of simple processes
        in a steady flow than having a complex tool that is only used sporadic and by different processes or even with no
        agreed processes. This tool can be that simple solution.<br/>&nbsp;<br/>
        <b>You are a freelance Project Manager:</b><br/> Your customer do not have a tool and you just want a quick start
        so project governance is in place in 10-30 minutes.<br/>&nbsp;<br/> ...but do not hesitate to look in the "Great
        alternatives" section, there you will find tools of all sizes, complexities and price ranges. Do we want you to choose
        another system than PrioCloud? ...the answer is simple, we want you to do Portfolio Management and our rule of thumb
        is - <b>First you build your process, then you build your organization and then you choose your tool. PrioCloud is your stepping stone while you build your version of a Portfolio Office - Good luck!</b>
    </div>
</div>