<div class="login" ng-show="!user.authenticated" ng-controller="LoginController">

    <div id="login">
      <form ng-submit="doLogin()">
        <input placeholder="Email address" type="email" name="email" ng-model="login.email" />        <br>
        <input placeholder="Password" type="password" name="password" ng-model="login.password" />        <br>
        <button ng-submit="doLogin()">Login</button>
      </form>
      <div class="footer">Don't have an account? <a href ng-click="showCreate = !showCreate">Sign Up</a></div>
    </div>

    <div id="createUser" class="fadein fadeout" ng-show="showCreate">
      <h3>Create user</h3>
      <form ng-submit="createUser()">
        <input placeholder="Email address" type="email" name="email" ng-model="create.email">        <br>
        <input placeholder="Password" type="password" name="password" ng-model="create.password">        <br>
        <button ng-submit="createUser()">Create user</button>
      </form>
    </div>

    <hr>http://ttsoftware.dk/user.html
    <br>http://ttsoftware.dk/rest.html
    <br>http://ttsoftware.dk/push.html
    <br>

</div>