<prio-admin-menu></prio-admin-menu>

<div id="linkdiv5" class="noview">
    <div class="mainbox">
        <h2>
            Ressource types
            <div class="right"><button type="button" ng-click="saveCompany(company)" ng-if="user.admin">Save</button></div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Ressource type 1</td>
                <td><input ng-model="company.res1lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 2</td>
                <td><input ng-model="company.res2lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 3</td>
                <td><input ng-model="company.res3lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 4</td>
                <td><input ng-model="company.res4lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 5</td>
                <td><input ng-model="company.res5lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 6</td>
                <td><input ng-model="company.res6lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 7</td>
                <td><input ng-model="company.res7lable" /></td>
            </tr>
            <tr>
                <td class="header">Ressource type 8</td>
                <td><input ng-model="company.res8lable" /></td>
            </tr>
        </table>
    </div>
</div>