<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<div id="linkdiv5" class="view">
    <div id="popdiv5" ng-show="showRiskForm">
        <h2 class="{{editrisk.status}}">
            {{editrisk.type}}
            <div class="right">
                <button type="button" prio-class save-this="$parent.hasChanged"
                        ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.admin"
                        ng-click="saveRisk(editrisk)">save</button>
                <button type="button" ng-click="hideRiskForm()">close</button>
            </div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Title</td>
                <td>
                    <div class="field">
                        <input ng-model="editrisk.title"  ng-change="saveNow()"/>
                    </div>
                </td>
                <td class="header">Type</td>
                <td>
                    <select ng-model="editrisk.type" ng-change="saveNow()">
                        <option value="Risk">Risk</option>
                        <option value="Issue">Issue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Proximity</td>
                <td>
                    <select ng-model="editrisk.proximity" ng-change="saveNow()">
                        <option value="Project">Project</option>
                        <option value="Go-live">Go-live</option>
                        <option value="Production">Production</option>
                    </select>
                </td>
                <td class="header">Response</td>
                <td>
                    <select ng-model="editrisk.response" ng-change="saveNow()">
                        <option value="Accept">Accept</option>
                        <option value="Mitigation">Mitigation</option>
                        <option value="Contingency">Contingency</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Responsible</td>
                <td>
                    <select ng-model="editrisk.acc"  ng-change="saveNow()" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                </td>
                <td class="header">Audience</td>
                <td>
                    <select ng-model="editrisk.audience" ng-change="saveNow()">
                        <option value="Confidential">Confidential</option>
                        <option value="Project">Project</option>
                        <option value="Portfolio">Portfolio</option>
                        <option value="Company">Company</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header {{editrisk.status}}">Status</td>
                <td>
                    <select ng-model="editrisk.status" ng-change="saveNow()">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td class="header">State</td>
                <td>
                    <select ng-model="editrisk.state" ng-change="saveNow()">
                        <option value="New">New</option>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header" prio-class prio-risk-bar-render="editrisk.prob">Probability</td>
                <td>
                    <select ng-model="editrisk.prob" ng-change="saveNow()">
                        <option value="1">1. Slim chance</option>
                        <option value="2">2. Could happen</option>
                        <option value="3">3. Likely to happen</option>
                        <option value="4">4. Most likely to happen</option>
                    </select>
                </td>
                <td class="header" prio-class prio-risk-bar-render="editrisk.impact">Impact</td>
                <td>
                    <select ng-model="editrisk.impact" ng-change="saveNow()">
                        <option value="1">1. Minor Project impact</option>
                        <option value="2">2. Major Project impact</option>
                        <option value="3">3. Business Unit impact</option>
                        <option value="4">4. Company impact</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Description<span id="riskdesc_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.desc" maxlength="300" id="riskdesc" placeholder="Describe the risk and the associated loss of brand, time and/or cost."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Request<span id="riskrequest_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.request" maxlength="300" id="riskrequest" placeholder="Describe the request for action from Steerco or senior management."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Mitigation<span id="riskmit_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.miti" maxlength="300" id="riskmit" placeholder="Describe actions beside normal work or attention that can decrease or remove the risk and its associatted cost."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Contingency trigger<span id="risktrig_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.trigger" maxlength="300" id="risktrig" placeholder="Describe the tippingpoint were a risk turns in to an issue that demands for the contingency plan to come in to effect."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Contingency plan<span id="riskplan_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.cont" maxlength="300" id="riskplan" placeholder="Describe the plan and associated cost for getting back in control after an risk incident."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Status change comment<span id="riskplan_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow()" ng-model="editrisk.comment" maxlength="300" id="riskplan" placeholder="Comments regarding the change of state, probability and impact."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" ng-if="user.email==project.po.email || user.email==project.pm.email || user.email==project.altpo.email || user.email==project.altpm.email || user.isOwner || user.admin">
                    <div class="right">
                        <button type="button" 
                            ng-click="$scope.deleteThis=true" 
                            ng-if="!$scope.deleteThis && (user.email==project.po.email || 
                            user.email==project.pm.email || 
                            user.isOwner || user.admin)">delete</button>
                        <button type="button" class="Red"
                            ng-click="$scope.deleteThis=false;removeRisk(editrisk)" 
                            ng-if="$scope.deleteThis && (user.email==project.po.email || 
                            user.email==project.pm.email || 
                            user.isOwner || user.admin)">confirm delete!!!</button>



                        
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="mainbox" id="risklist" ng-show="!showRiskForm">
        <h2>
            Risk and issues
            <div class="right">
                <button type="button" 
                    ng-click="newRisk()"
                    ng-if="user.email==project.po.email || user.email==project.pm.email || user.email==project.altpo.email || user.email==project.altpm.email || user.isOwner || user.admin">create new risk or issue</button>
            </div>
        </h2>
        <div class="overview">
            <table class="tablelist smaller" ng-if="project.risks.length > 0">
                <tr class="header">
                    <td colspan="6">
                    <span>Filters</span>
                    <select ng-model="riskpmsearch.audience" class="right">
                        <option value="" default>Show all audience</option>
                        <option value="Confidential">Show only Confidential</option>
                        <option value="Project">Show only Project</option>
                        <option value="Portfolio">Show only Portfolio</option>
                        <option value="Company">Show only Company</option>
                    </select>
                    <select ng-model="riskpmsearch.type" class="right">
                        <option value="" default>Show all risks and issues</option>
                        <option value="Risk">Show only risks</option>
                        <option value="Issue">Show only issues</option>
                    </select>
                    <select ng-model="riskpmsearch.state" class="right">
                        <option value="" default>Show all states</option>
                        <option value="New">Show only New</option>
                        <option value="Open">Show only Open</option>
                        <option value="Closed">Show only Closed</option>
                    </select>
                    <select ng-model="riskpmsearch.proximity" class="right">
                        <option value="" default>Show all proximity</option>
                        <option value="Project">Show only Project proximity</option>
                        <option value="Go-live">Show only Go-live proximity</option>
                        <option value="Production">Show only Production proximity</option>
                    </select>
                    <select ng-if="user.email==project.po.email || user.email==project.pm.email || user.email==project.altpo.email || user.email==project.altpm.email || user.isOwner || user.admin"
                            ng-model="project.showconfrisk" class="right">
                        <option value="true" default>Show confidential</option>
                        <option value="false">Hide confidential</option>
                    </select>
                    <select ng-model="riskpmsearch.acc.name" class="right">
                        <option value="">Show all responsibles</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                    </select>
                    </td>
                </tr>
                <tr class="header">
                    <td class="label">Title</td>
                    <td class="label">Probability</td>
                    <td class="label">Impact</td>
                    <td class="label">Type<br/>Proximity</td>
                    <td class="label">State<br/>Response</td>
                    <td class="label">Audience<br/>Responsible</td>
                </tr>
                <tr class="link" 
                    ng-repeat="risk in project.risks | filter:riskpmsearch | orderBy:'-total'"
                    ng-click="beginEditRisk(risk)"
                    ng-if="risk.audience!='Confidential' ||
                    (risk.audience=='Confidential'&&project.showconfrisk=='true' &&
                    (user.email==project.po.email || user.email==project.pm.email || user.email==project.altpo.email || user.email==project.altpm.email || user.isOwner || user.admin))">
                    <td class="texttop {{risk.status}}"><b>{{risk.title}}</b>
                        <div class="right">({{risk.total}})</div>
                    </td>
                    <td class="texttop" prio-class prio-risk-bar-render="risk.prob">{{risk.prob}}</td>
                    <td class="texttop" prio-class prio-risk-bar-render="risk.impact">{{risk.impact}}</td>
                    <td class="texttop">&nbsp;{{risk.type}}<br/>&nbsp;{{risk.proximity}}</td>
                    <td class="texttop">&nbsp;{{risk.state}}<br/>&nbsp;{{risk.response}}</td>
                    <td class="texttop">&nbsp;{{risk.audience}}<br/>&nbsp;{{risk.acc.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>