
$color-gray-dark-2: #141F33;
$color-gray-dark: #2A384C;
$color-gray: #617D88;
$color-gray-light: #C8DDE3;
$color-gray-light-2: #E2EDF0;
$color-gray-light-3: #F0F6F7;
$color-gray-light-4: #F8FAFB;

$color-blue: #0926BB;
$color-blue-light: #a7b6ff;
$color-teal: #2DA0CB;
$color-green: #38B270;
$color-yellow: #DF9215;
$color-orange: #D46E24;
$color-red: #C42C43;
$color-pink: #D4499D;

$color-text: $color-gray-dark-2;
$color-text-gray: $color-gray;

$color-bg: $color-gray-light-2;

$color-line: $color-gray;
$color-line-table: $color-gray-light;
 
$padding: 15px;
$padding-table-cells: 10px;
$padding-tabs: 15px;
$padding-buttons: 5px 10px;
$padding-input: 5px 10px;
$padding-content: 15px;
$padding-content-half: calc($padding-content / 2);