<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<form ng-submit="saveProject()">
    <div id="linkdiv2" class="view">
        <div class="mainbox editboxon" id="details">
            <h2>
                Details
                <div class="right">
                    <button type="button" 
                        ng-class="{'Red': projecthaschanged}" 
                        ng-if="isAllowedToSave()"
                        ng-click="saveProject()">save project</button>
                </div>
            </h2>
            <table class="smaller gutter-top">
                <tr>
                    <td class="l header">Title</td>
                    <td colspan="3">
                        <div ng-if="!user.isOwner && !user.admin">{{project.title}}</div>
                        <input ng-if="user.isOwner || user.admin" ng-model="project.title" ng-change="$parent.projecthaschanged=true" id="title"
                        />
                    </td>
                </tr>
                <tr>
                    <td class="header">BU</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.bu.name}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.bu" id="probu" ng-options="bu.name for bu in bus track by bu.name"
                            ng-change="$parent.projecthaschanged=true"></select></td>
                    <td class="header">Audience</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.audience}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.audience" ng-change="$parent.projecthaschanged=true">
                        <option value="Project">Project</option>
                        <option value="Business Unit">Business Unit</option>
                        <option value="Company">Company</option>
                     </select>
                    </td>
                </tr>
                <tr>
                    <td class="header">State</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.state}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.state" id="state" ng-change="$parent.projecthaschanged=true">
                            <option value="Proposed">Proposed</option>
                            <option value="Progress">Progress</option>
                            <option value="Onhold">On hold</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </td>
                    <td class="header">Supported</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.support}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.support" ng-change="$parent.projecthaschanged=true">
                            <option value="None">None</option>
                            <option value="PMO">PMO</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="l header" colspan="4">Organization</td>
                </tr>
                <tr>
                    <td class="header">PM</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.pm.name}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.pm" id="propm" ng-change="$parent.projecthaschanged=true" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                    </td>
                    <td class="header">PO</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.po.name}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.po" id="propo" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"
                            ng-change="$parent.projecthaschanged=true"></select></td>
                </tr>
                <tr>
                    <td class="header">Alt. PM</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.altpm.name}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.altpm" id="proaltpm" ng-change="$parent.projecthaschanged=true"
                            ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                    </td>
                    <td class="header">Alt. PO</td>
                    <td>
                        <div ng-if="!user.isOwner && !user.admin">{{project.altpo.name}}</div>
                        <select ng-if="user.isOwner || user.admin" ng-model="project.altpo" id="proaltpo" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"
                            ng-change="$parent.projecthaschanged=true"></select></td>
                </tr>
                <tr>
                    <td>
                        <p>Steering Commitee members</p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.memberssteering" ng-change="projecthaschanged=true" placeholder="Name the members of your steering commitee."></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Project members</p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.membersproject" ng-change="projecthaschanged=true" placeholder="Name the members of your project."></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="l header" colspan="4">Brief business case</td>
                </tr>
                <tr>
                    <td>
                        <p>Purpose<span id="detailoutcome_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.outcome" maxlength="300" ng-change="projecthaschanged=true" id="detailoutcome" placeholder="Your Elevator Pitch: What changes are you going to make to your business and customers and what is the overall business benefit."></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Benefits<span id="detailbenefit_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field ">
                            <textarea ng-model="project.costbenefit" maxlength="300" ng-change="projecthaschanged=true" id="detailbenefit" placeholder="What will you achieve by running this project and what will the business gain by this investment."></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Don't do impact<span id="detailrisk_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.costrisk" maxlength="300" ng-change="projecthaschanged=true" id="detailrisk" placeholder="What will it cost the company to not make this investment."></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Benefit realisation plan<span id="detailreal_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.benefitplan" maxlength="300" ng-change="projecthaschanged=true" id="detailreal" placeholder="When in time will you asses the results of this project and evaluate its bennefits."></textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <!--
            <h2>Project logs</h2>
            <h3>Save log</h3>
            <table>
                <tr ng-repeat="log in project.logSave">
                    <td>{{log.date | date:'yyyy-MM-dd @ HH:mm'}}</td>
                    <td>{{log.username}}</td>
                    <td>{{log.desc}}</td>
                </tr>
            </table>
            <h3>View log</h3>
            <table>
                <tr ng-repeat="log in project.logWatch">
                    <td>{{log.date | date:'yyyy-MM-dd @ HH:mm'}}</td>
                    <td>{{log.username}}</td>
                    <td>{{log.desc}}</td>
                </tr>
            </table>
            -->
        </div>
    </div>
</form>