<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<form ng-submit="saveProject(project)">
    <div id="linkdiv2" class="view">
        <div class="mainbox editboxon" id="details">
            <h2>
                Details
                <div class="right">
                   <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-if="user.changeContent"
                        ng-click="saveProject(project)">save</button>
                </div>
            </h2>
            <table class="smaller gutter-top">
                <tr>
                    <td class="l header">Title </td>
                    <td>
                        <input style="width: 200px" ng-model="project.title" ng-change="saveNow()" id="title"  ng-disabled="!user.changeContent" />
                    </td>
                    <td class="header" rowspan="3">Affected areas:</td>
                    <td rowspan="3">
                        <div class="field multiple-select">
                            <select style="width: 200px" multiple="multiple" ng-multiple="true" ng-model="project.connect" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'" ng-change="saveNow()" ng-disabled="!user.changeContent"></select>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    
                    <td class="l header">Type</td>
                    <td>
                        
                        <select ng-model="project.type" id="type" ng-change="saveNow()" ng-disabled="!user.changeContent">
                            <option value="Project">Project</option>
                            <option value="Product">Product</option>
                        </select>
                    </td>
                    
                </tr>
                <tr>
                    <td class="header">BU</td>
                    <td>
                        
                        <select  ng-change="saveNow()" ng-model="project.bu" id="probu" ng-options="bu.name for bu in bus | orderBy: 'name' track by bu.name" ng-disabled="!user.changeContent"></select>
                    </td>
                        
                </tr>
                <tr>
                    <td class="header">State</td>
                    <td>
                        <select ng-model="project.state" id="state" ng-change="saveNow()" ng-disabled="!user.changeContent">
                            <option value="Template">Template</option>
                            <option value="Proposed">Proposed</option>
                            <option value="Progress">Progress</option>
                            <option value="Onhold">On hold</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </td>
                    <td class="header">Portfolio</td>
                    <td>
                        <select  ng-change="saveNow()" ng-model="project.support" id="prosupport" ng-options="port.name for port in company.portfolios | orderBy: 'level' track by port.name" ng-disabled="!user.changeContent"></select>
                    
            
                    </td>
                </tr>
                <tr>
                        <td class="header">Priority</td>
                        <td>
                            <select ng-model="project.priority" ng-change="saveNow()" ng-disabled="!user.changeContent">
                                    <option value="1. Must">1. Must</option>
                                    <option value="2. Should">2. Should</option>
                                    <option value="3. Could(H1)">3. Could(H1)</option>
                                    <option value="4. Backlog(H2)">4. Backlog(H2)</option>
                                </select>
                        </td>
                    
                    <td class="header">Company broadcast</td>
                    <td>
                        <input type="checkbox" ng-model="project.broadcast" ng-change="saveNow()">
                    </td>
                        
                </tr>
            
                <tr>
                    <td>
                        <b>Decision comment</b><br/>Pending action: <input type="checkbox" ng-model="project.pending" ng-change="saveNow()">
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.deccomment"  ng-change="saveNow()" placeholder="Comments for decisions pending or output of decision" ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class="l header" colspan="4">Organization</td>
                </tr>
                <tr>
                    <td class="header">PM</td>
                    <td>
                        <select ng-model="project.pm" id="propm" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name" ng-disabled="!user.changeContent" ng-change="saveNow()"></select>
                    </td>
                    <td class="header">PO</td>
                    <td>
                        <select ng-model="project.po" id="propo" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name" ng-disabled="!user.changeContent" ng-change="saveNow()"></select>
                    </td>
                </tr>
                <tr>
                    <td class="header">Alt. PM</td>
                    <td>
                        <select ng-model="project.altpm" id="proaltpm" ng-change="saveNow()" ng-disabled="!user.changeContent" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                    </td>
                    <td class="header">Alt. PO</td>
                    <td>
                        <select ng-model="project.altpo" id="proaltpo" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name" ng-change="saveNow()" ng-disabled="!user.changeContent"></select></td>
                </tr>
                <tr>
                    <td>
                        <p>Steering Commitee members</p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.memberssteering"  ng-change="saveNow()" placeholder="Name the members of your steering commitee." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Resource demand</p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.membersproject" ng-change="saveNow()" placeholder="Name the members of your project." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                
                <tr class="header"><td colspan="4">Link external Organization document</td></tr>
                <tr>
                    <td>Title: <input ng-model="project.orglinktitle" ng-change="saveNow()" ng-disabled="!user.changeContent"/></td>    
                    <td>URL: <input ng-model="project.orglink" ng-change="saveNow()" ng-disabled="!user.changeContent"/></td>
                    <td>Show in report <input type="checkbox" ng-model="project.filters.showOrgExternalLink" ng-change="saveNow()"></td>
                    <td><a target="_blank" href="{{project.orglink}}">{{project.orglinktitle}}<div class="linkicon right"></div></a></td>
                </tr>
        
                <tr>
                    <td class="l header" colspan="4">Brief business case</td>
                </tr>
                <tr>
                    <td>
                        <p>Objective<span id="detailoutcome_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.outcome" maxlength="300" ng-change="saveNow()" id="detailoutcome" placeholder="Your Elevator Pitch: What changes are you going to make to your business and customers and what is the overall business benefit." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Benefits<span id="detailbenefit_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field ">
                            <textarea ng-model="project.costbenefit" maxlength="300" ng-change="saveNow()" id="detailbenefit" placeholder="What will you achieve by running this project and what will the business gain by this investment." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Don't do impact<span id="detailrisk_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.costrisk" maxlength="300" ng-change="saveNow()" id="detailrisk" placeholder="What will it cost the company to not make this investment." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Benefit realisation plan<span id="detailreal_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-model="project.benefitplan" maxlength="300" ng-change="saveNow()" id="detailreal" placeholder="When in time will you asses the results of this project and evaluate its bennefits." ng-disabled="!user.changeContent"></textarea>
                        </div>
                    </td>
                </tr>
                <tr class="header"><td colspan="4">Link external Business Case document</td></tr>
                <tr>
                    <td>Title: <input ng-model="project.bclinktitle" ng-change="saveNow()" ng-disabled="!user.changeContent"/></td>    
                    <td>URL: <input ng-model="project.bclink" ng-change="saveNow()" ng-disabled="!user.changeContent"/></td>
                    <td>Show in report <input type="checkbox" ng-model="project.filters.showBcExternalLink" ng-change="saveNow()"></td>
                    <td><a target="_blank" href="{{project.bclink}}">{{project.bclinktitle}}<div class="linkicon right"></div></a></td>
                </tr>
            </table>
            <table class="smaller">
            <tr class="header"><td>Project KPI</td><td>Value</td><td>Chart</td></tr>
            <tr><td>{{company.projkpi1lable}}</td>
                <td>
                    <select ng-model="project.kpi1"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
                <td rowspan="6">
                    <canvas id="radar" height="400" width="400" class="chart chart-radar" chart-data="radarkpidata" chart-options="radarkpioptions" chart-labels="radarkpilabels"></canvas>                 
                </td>
            </tr>
            <tr><td>{{company.projkpi2lable}}</td>
                <td>
                    <select ng-model="project.kpi2"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
            </tr>
            <tr><td>{{company.projkpi3lable}}</td>
                <td>
                    <select ng-model="project.kpi3"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
            </tr>
            <tr><td>{{company.projkpi4lable}}</td>
                <td>
                    <select ng-model="project.kpi4"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
            </tr>
            <tr><td>{{company.projkpi5lable}}</td>
                <td>
                    <select ng-model="project.kpi5"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
            </tr>
            <tr><td>{{company.projkpi6lable}}</td>
                <td>
                    <select ng-model="project.kpi6"  ng-change="saveNow()" ng-disabled="!user.changeContent">
                        <option value="0">No value</option>
                        <option value="10">Small business unit impact</option>
                        <option value="20">Large business unit impact</option>
                        <option value="40">Small division impact</option>
                        <option value="50">Large division impact</option>
                        <option value="70">Small company impact</option>
                        <option value="80">Large company impact</option>
                        <option value="99">Game changer</option>
                    </select>
                </td>
            </tr>
        </table>
            <!--
            <h2>Project logs</h2>
            <h3>Save log</h3>
            <table>
                <tr ng-repeat="log in project.logSave">
                    <td>{{log.date | date:'yyyy-MM-dd @ HH:mm'}}</td>
                    <td>{{log.username}}</td>
                    <td>{{log.desc}}</td>
                </tr>
            </table>
            <h3>View log</h3>
            <table>
                <tr ng-repeat="log in project.logWatch">
                    <td>{{log.date | date:'yyyy-MM-dd @ HH:mm'}}</td>
                    <td>{{log.username}}</td>
                    <td>{{log.desc}}</td>
                </tr>
            </table>
            -->
        </div>
    </div>
</form>