<div id="projects-finance">
    <h2>Project list - Finance <div class="right"><button ng-click="showfilters=true"  ng-show="!showfilters">Show filters</button><button ng-click="showfilters=false"  ng-show="showfilters">Hide filters</button></div></h2>
    <div class="smaller">
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label" style="height:120px;">
                Filter by:<br/> BU
                <br/>PO<br/>PM
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.buname" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.poname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.pmname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
            </div>
        </div>
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label" style="height:120px;">
                Filter by:<br/> State
                <br/>Audience<br/>Portfolio
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.state" ng-init="search.state=['Progress']">
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.audience">
                    <option value="Project">Project</option>
                    <option value="Portfolio">Portfolio</option>
                    <option value="Company">Company</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.support" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
            </div>
        </div>
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="projectnumber">Capex Project number</option>
                    <option value="opexprojectnumber">Opex Project number</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projectList.length > 0">
                <tr class="header">
                    <td colspan="3">
                        <select ng-model="showType" ng-init="showType='capex'">
                            <option value="total">Show total</option>
                            <option value="capex">Show capex</option>
                            <option value="opex">Show opex</option>
                            <option value="externals">Show externals</option>
                            <option value="internals">Show internals</option>
                        </select>
                    </td>
                    <td colspan="7">
                        Show only finance controlled <input type="checkbox" ng-model="showControlled" />
                    </td>
                </tr>
                <tr class="listsubject">
                    <td colspan="10">
                        <div ng-if="showType=='total'"><h3>Projects Finance - Total deviations in TDKK</h3></div>
                        <div ng-if="showType=='capex'"><h3>Projects Finance - Capex deviations in TDKK</h3></div>
                        <div ng-if="showType=='opex'"><h3>Projects Finance - Opex deviations in TDKK</h3></div>
                        <div ng-if="showType=='externals'"><h3>Projects Finance - Externals deviations in TDKK</h3></div>
                        <div ng-if="showType=='internals'"><h3>Projects Finance - Internals deviations in TDKK</h3></div>
                        
                    </td>
                </tr>
                <tr class="header">
                    <td>Control status, Project</td>
                    <td>Cap. #</td>
                    <td>Ope. #</td>
                    <td>Prev</td>
                    <td>Q1</td>
                    <td>Q2</td>
                    <td>Q3</td>
                    <td>Q4</td>
                    <td>Year</td>
                    <td>Grand</td>
                </tr>
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-if="showType=='total' && (!showControlled || (project.isControlled && showControlled))" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.financeControl}} tooltip">{{project.title}}
                        <span class="tooltiptext">
                            <b>Deviation comments</b><br/>
                            Q1: {{project.finance.devq1}}<br/>
                            Q2: {{project.finance.devq2}}<br/>
                            Q3: {{project.finance.devq3}}<br/>
                            Q4: {{project.finance.devq4}}<br/>
                    </td>
                    <td>{{project.projectnumber}}</td>
                    <td>{{project.opexprojectnumber}}</td>
                    <td class="sums tooltip">{{ project.finance.devTotalprev | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalprev | number:0}}<br/>Posted: {{project.finance.postTotalprev | number:0}}<br/>Deviation: {{project.finance.devTotalprev | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalq1 | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalq1 | number:0}}<br/>Posted: {{project.finance.postTotalq1 | number:0}}<br/>Deviation: {{project.finance.devTotalq1 | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalq2 | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalq2 | number:0}}<br/>Posted: {{project.finance.postTotalq2 | number:0}}<br/>Deviation: {{project.finance.devTotalq2 | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalq3 | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalq3 | number:0}}<br/>Posted: {{project.finance.postTotalq3 | number:0}}<br/>Deviation: {{project.finance.devTotalq3 | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalq4 | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalq4 | number:0}}<br/>Posted: {{project.finance.postTotalq4 | number:0}}<br/>Deviation: {{project.finance.devTotalq4 | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalSum | number:0}}<br/>Posted: {{project.finance.postTotalSum | number:0}}<br/>Deviation: {{project.finance.devTotalSum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devTotalgrandSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budTotalgrandSum | number:0}}<br/>Posted: {{project.finance.postTotalgrandSum | number:0}}<br/>Deviation: {{project.finance.devTotalgrandSum | number:0}}</span>
                    </td>
                </tr>

                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-if="showType=='capex' && (!showControlled || (project.isControlled && showControlled))" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.financeControl}} tooltip">{{project.title}}
                        <span class="tooltiptext">
                            <b>Deviation comments</b><br/>
                            Q1: {{project.finance.devq1}}<br/>
                            Q2: {{project.finance.devq2}}<br/>
                            Q3: {{project.finance.devq3}}<br/>
                            Q4: {{project.finance.devq4}}<br/>
                    </td>
                    <td>{{project.projectnumber}}</td>
                    <td>{{project.opexprojectnumber}}</td>
                    <td class="sums tooltip">{{ project.finance.devcapexprevSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexprevSum | number:0}}<br/>Posted: {{project.finance.postcapexprevSum | number:0}}<br/>Deviation: {{project.finance.devcapexprevSum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexq1Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexq1Sum | number:0}}<br/>Posted: {{project.finance.postcapexq1Sum | number:0}}<br/>Deviation: {{project.finance.devcapexq1Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexq2Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexq2Sum | number:0}}<br/>Posted: {{project.finance.postcapexq2Sum | number:0}}<br/>Deviation: {{project.finance.devcapexq2Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexq3Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexq3Sum | number:0}}<br/>Posted: {{project.finance.postcapexq3Sum | number:0}}<br/>Deviation: {{project.finance.devcapexq3Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexq4Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexq4Sum | number:0}}<br/>Posted: {{project.finance.postcapexq4Sum | number:0}}<br/>Deviation: {{project.finance.devcapexq4Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexTotal | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexTotal | number:0}}<br/>Posted: {{project.finance.postcapexTotal | number:0}}<br/>Deviation: {{project.finance.devcapexTotal | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devcapexTotalgrand | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budcapexTotalgrand | number:0}}<br/>Posted: {{project.finance.postcapexTotalgrand | number:0}}<br/>Deviation: {{project.finance.devcapexTotalgrand | number:0}}</span>
                    </td>
                </tr>
            
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-if="showType=='opex' && (!showControlled || (project.isControlled && showControlled))" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.financeControl}} tooltip">{{project.title}}
                        <span class="tooltiptext">
                            <b>Deviation comments</b><br/>
                            Q1: {{project.finance.devq1}}<br/>
                            Q2: {{project.finance.devq2}}<br/>
                            Q3: {{project.finance.devq3}}<br/>
                            Q4: {{project.finance.devq4}}<br/>
                    </td>
                    <td>{{project.projectnumber}}</td>
                    <td>{{project.opexprojectnumber}}</td>
                    <td class="sums tooltip">{{ project.finance.devopexprevSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexprevSum | number:0}}<br/>Posted: {{project.finance.postopexprevSum | number:0}}<br/>Deviation: {{project.finance.devopexprevSum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexq1Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexq1Sum | number:0}}<br/>Posted: {{project.finance.postopexq1Sum | number:0}}<br/>Deviation: {{project.finance.devopexq1Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexq2Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexq2Sum | number:0}}<br/>Posted: {{project.finance.postopexq2Sum | number:0}}<br/>Deviation: {{project.finance.devopexq2Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexq3Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexq3Sum | number:0}}<br/>Posted: {{project.finance.postopexq3Sum | number:0}}<br/>Deviation: {{project.finance.devopexq3Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexq4Sum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexq4Sum | number:0}}<br/>Posted: {{project.finance.postopexq4Sum | number:0}}<br/>Deviation: {{project.finance.devopexq4Sum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexTotal | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexTotal | number:0}}<br/>Posted: {{project.finance.postopexTotal | number:0}}<br/>Deviation: {{project.finance.devopexTotal | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devopexTotalgrand | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budopexTotalgrand | number:0}}<br/>Posted: {{project.finance.postopexTotalgrand | number:0}}<br/>Deviation: {{project.finance.devopexTotalgrand | number:0}}</span>
                    </td>
                </tr>
            
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-if="showType=='externals' && (!showControlled || (project.isControlled && showControlled))" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.financeControl}} tooltip">{{project.title}}
                        <span class="tooltiptext">
                            <b>Deviation comments</b><br/>
                            Q1: {{project.finance.devq1}}<br/>
                            Q2: {{project.finance.devq2}}<br/>
                            Q3: {{project.finance.devq3}}<br/>
                            Q4: {{project.finance.devq4}}<br/>
                    </td>
                    <td>{{project.projectnumber}}</td>
                    <td>{{project.opexprojectnumber}}</td>
                    <td class="sums tooltip">{{ project.finance.devExternalprevTotal | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalprevTotal | number:0}}<br/>Posted: {{project.finance.postExternalprevTotal | number:0}}<br/>Deviation: {{project.finance.devExternalprevTotal | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devExternalq1Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalq1Total | number:0}}<br/>Posted: {{project.finance.postExternalq1Total | number:0}}<br/>Deviation: {{project.finance.devExternalq1Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devExternalq2Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalq2Total | number:0}}<br/>Posted: {{project.finance.postExternalq2Total | number:0}}<br/>Deviation: {{project.finance.devExternalq2Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devExternalq3Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalq3Total | number:0}}<br/>Posted: {{project.finance.postExternalq3Total | number:0}}<br/>Deviation: {{project.finance.devExternalq3Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devExternalq4Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalq4Total | number:0}}<br/>Posted: {{project.finance.postExternalq4Total | number:0}}<br/>Deviation: {{project.finance.devExternalq4Total | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.budExternalTotalSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalTotalSum | number:0}}<br/>Posted: {{project.finance.postExternalTotalSum | number:0}}<br/>Deviation: {{project.finance.devExternalTotalSum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.budExternalTotalgrandSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budExternalTotalgrandSum | number:0}}<br/>Posted: {{project.finance.postExternalTotalgrandSum | number:0}}<br/>Deviation: {{project.finance.devExternalTotalgrandSum | number:0}}</span>
                    </td>
                </tr>
            
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-if="showType=='internals' && (!showControlled || (project.isControlled && showControlled))" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.financeControl}} tooltip">{{project.title}}
                        <span class="tooltiptext">
                            <b>Deviation comments</b><br/>
                            Q1: {{project.finance.devq1}}<br/>
                            Q2: {{project.finance.devq2}}<br/>
                            Q3: {{project.finance.devq3}}<br/>
                            Q4: {{project.finance.devq4}}<br/>
                    </td>
                    <td>{{project.projectnumber}}</td>
                    <td>{{project.opexprojectnumber}}</td>
                    <td class="sums tooltip">{{ project.finance.devInternalprevTotal | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalprevTotal | number:0}}<br/>Posted: {{project.finance.postInternalprevTotal | number:0}}<br/>Deviation: {{project.finance.devInternalprevTotal | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.devInternalq1Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalq1Total | number:0}}<br/>Posted: {{project.finance.postInternalq1Total | number:0}}<br/>Deviation: {{project.finance.devInternalq1Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devInternalq2Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalq2Total | number:0}}<br/>Posted: {{project.finance.postInternalq2Total | number:0}}<br/>Deviation: {{project.finance.devInternalq2Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devInternalq3Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalq3Total | number:0}}<br/>Posted: {{project.finance.postInternalq3Total | number:0}}<br/>Deviation: {{project.finance.devInternalq3Total | number:0}}</span>
                    </td>
                    <td class="Totals tooltip">{{ project.finance.devInternalq4Total | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalq4Total | number:0}}<br/>Posted: {{project.finance.postInternalq4Total | number:0}}<br/>Deviation: {{project.finance.devInternalq4Total | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.budInternalTotalSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalTotalSum | number:0}}<br/>Posted: {{project.finance.postInternalTotalSum | number:0}}<br/>Deviation: {{project.finance.devInternalTotalSum | number:0}}</span>
                    </td>
                    <td class="sums tooltip">{{ project.finance.budInternalTotalgrandSum | number:0 }}
                        <span class="tooltiptext">Budget: {{project.finance.budInternalTotalgrandSum | number:0}}<br/>Posted: {{project.finance.postInternalTotalgrandSum | number:0}}<br/>Deviation: {{project.finance.devInternalTotalgrandSum | number:0}}</span>
                    </td>
                </tr>
            
            </table>
        </div>
    </div>
</div>