<div class="fanes">
    <a class="fane admin-menu-home" href="#/admin">Company</a>
    <a class="fane admin-menu-users" href="#/admin/users">Users</a>
    <a class="fane admin-menu-projects" href="#/admin/projects">Projects</a>
    <a class="fane admin-menu-resource-types" href="#/admin/resource-types">Resources</a>
    <a class="fane admin-menu-portfolios" href="#/admin/portfolios">Settings</a>
    <a class="fane admin-menu-systems" href="#/admin/systems">Systems</a>
    <a class="fane admin-menu-processs" href="#/admin/processs">Processs</a>
    <a class="fane admin-menu-strategies" href="#/admin/strategies">Strategies</a>
    <!-- <a class="fane" href="#/admin/delete">Delete account</a> -->
</div>