<ul class="fanes">
    <li>
        <a class="fane" href="#/admin">Company and business units</a>
    </li>
    <li>
        <a class="fane" href="#/admin/users">Users</a>
    </li>
    <li>
        <a class="fane" href="#/admin/projects">Projects</a>
    </li>
    <li>
        <a class="fane" href="#/admin/project-ratings">Project ratings</a>
    </li>
    <li>
        <a class="fane" href="#/admin/resource-types">Resource types</a>
    </li>
    <li>
        <a class="fane" href="#/admin/portfolios">Portfolios</a>
    </li>
    <li>
        <a class="fane" href="#/admin/delete">Delete account</a>
    </li>
</div>