<div id="linkdiv1">
    <div class="mainbox editboxon">
        <h2>PrioCloud - BETA TESTING</h2>
     	<h3>-a free online project portfolio management tool</h3>
        
        <div class="login login-container" ng-show="!user.authenticated" ng-controller="LoginController">
            <div id="login" class="column small-6">
                <div class="login-box">
                    <b>Log in to PrioCloud</b>
                    <form ng-submit="doLogin()">
                        <div class="field">
                            <input placeholder="Email address" type="email" name="email" ng-model="login.email" autofocus />
                        </div>
                        <div class="field">
                            <input placeholder="Password" type="password" name="password" ng-model="login.password" />
                        </div>
                        <div class="button">
                            <button ng-submit="doLogin()">Login</button>
                        </div>
                    </form>
                    <div>
                        <i>
                            <a class="link" ng-click="resetUserPWEmail(login.email)">I forgot my password - send me an email to reset my password</a>
                        </i>
                    </div>
                </div>
            </div>
            <div  class="column small-6">
                <div class="demo-box">
                    <b>Demo login</b>
                    <div>
                            You can login as the boardmember in "The Bank Company".<br/>
                            This "Boardmember" have access to all projects and information.
                            But he cannot persist changes to priorities beyond your session.<br/>&nbsp;<br/>
                            <table class="smaller">
                                <tr>
                                    <td style="background-color:#fff;"><b>Use email:</b></td>
                                    <td>boardmember@bank.demo</td>
                                </tr>
                                <tr>
                                    <td style="background-color:#fff;"><b>Use password:</b></td>
                                    <td>demo</td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>   
        </div>        
        <div ng-show="user.authenticated">
            <div id="login" class="login">
                <b>Logged in as: </b>{{ user.name }} <br/>
                <button ng-controller="LoginController" ng-click="doLogout()">Logout</button>
            </div>
        </div>        
    </div>        
</div>
<div id="linkdiv2" class="hide">
    <div class="mainbox editboxon">
        <h2>What is PrioCloud</h2>
        <h3>The target group</h3>
        <b>Not ready to choose a pro tool:</b><br/>
        You want to have a light weight Project and Portfolio Management tool at no cost while you build your processes around Project and portfolio management in your organization and you want to wait with the investment in a pro tool until you know what your exact requirements are to a new system.<br/>&nbsp;<br/>
        <b>A quick intro and training in Portfolio Management:</b><br/>
        You and/or your organization are not sure what to expect from doing Portfolio Management. By putting in a simple set of project information you can train in portfolio prioritization and project risk management.<br/>&nbsp;<br/>
        <b>You just need a simple tool:</b><br/>
        Many companies would benefit more by doing a small set of simple processes in a steady flow than having a complex tool that is only used sporadic and by different processes or even with no agreed processes. This tool can be that simple solution.<br/>&nbsp;<br/>
        <b>You are a freelance Project Manager:</b><br/>
        Your customer do not have a tool and you just want a quick start so project governance is in place in 10-30 minutes.<br/>&nbsp;<br/>
       
        ...but do not hesitate to look in the "Great alternatives" section, there you will find tools of all sizes, complexities and price ranges. Do we want you to choose another system than PrioCloud? ...the answer is simple, we want you to do Portfolio Management and our rule of thumb is - <b>First you build your process, then you build your organization and then you choose your tool. PrioCloud is your stepping stone while you build your version of a Portfolio Office - Good luck!</b>
    </div>
</div>
<div id="linkdiv3" class="hide">
    <div class="mainbox editboxon">
        <h2>Great alternatives</h2>
        <b>- When you are ready for a bigger solution or more features look here!</b> 
        <table class="tablelist smaller">
            <tr class="header">
                <td style="width: 20%;">Tool</td>
                <td>Site</td>
            </tr>
        <tr><td>Projectplace</td><td><a href="https://www.projectplace.com/" target="_blank">https://www.projectplace.com/</a></td></tr>
        <tr><td>Rally Software</td><td><a href="https://www.rallydev.com/" target="_blank">https://www.rallydev.com/</a></td></tr>
        <tr><td>Metier</td><td><a href="http://www.metier.dk/" target="_blank">http://www.metier.dk/</a></td></tr>
        <tr><td>LiquidPlanner</td><td><a href="https://www.liquidplanner.com/" target="_blank">https://www.liquidplanner.com/</a></td></tr>
        <tr><td>Bitrix24</td><td><a href="https://www.bitrix24.com/" target="_blank">https://www.bitrix24.com/</a></td></tr>
        <tr><td>Projecturf</td><td><a href="https://www.projecturf.com/" target="_blank">https://www.projecturf.com/</a></td></tr>
        <tr><td>Projectbubble</td><td><a href="http://projectbubble.com/" target="_blank">http://projectbubble.com/</a></td></tr>
        <tr><td>Basecamp</td><td><a href="https://basecamp.com/" target="_blank">https://basecamp.com/</a></td></tr>
        <tr><td>Zoho Projects</td><td><a href="https://www.zoho.com/projects/" target="_blank">https://www.zoho.com/projects/</a></td></tr>
        <tr><td>Podio</td><td><a href="https://podio.com/" target="_blank">https://podio.com/</a></td></tr>
        <tr><td>Clarizen</td><td><a href="http://www.clarizen.com/" target="_blank">http://www.clarizen.com/</a></td></tr>
        </table>
    </div>
</div>

<div id="linkdiv4" class="hide">
    <div class="mainbox editboxon">
        <div>
            <h2>New users</h2>
            You cannot create a new user under a company.<br/>
            This is restricted to be done by the PrioCloud administrator in your company. <br/>
        </div>
        <h2>Create a new Company Portfolio</h2>
        If your company do not have an account, create an account and get started instantly.<br/>
        The tool is free to use with no limits to portfolio size or number of users.<br/><br/>
        <div ng-show="!user.authenticated" ng-controller="LoginController">
            
            <div>My company do not have an account and my email is not used in PrioCloud let me...<br/>&nbsp;<br/>
                  <button ng-click="showCreate = !showCreate">Start creating a new company portfolio now!</button><br/>&nbsp;<br/>
            </div>
            <div class="login zontop">
                <div id="createUser" class="fadein fadeout overview" ng-show="showCreate">
                  <h3>Company Account sign up:</h3>
                  <form ng-submit="createUser()">
                    Company name: <input placeholder="Company name" type="text" name="companyname" ng-model="create.companyname">        <br/>
                    Admin email: <input placeholder="Email address" type="email" name="email" ng-model="create.email">        <br/>
                    Admin password: <input placeholder="Password" type="password" name="password" ng-model="create.password">        <br/>&nbsp;<br/>
                    <button ng-submit="createUser()">Create Company Account</button><br/>&nbsp;<br/>
                  </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div id="linkdiv5" class="hide">
    <div class="mainbox editboxon">
        <h2>Support</h2>
        <div class="overview">
            <h3>Support for users</h3>
            <b>Contact your local administrator.</b><br/>
            PrioCloud is a free tool and we have to limit our support effort to support company administrators.
            <br/><br/>
            <h3>Support for administrators</h3>
            <b>Contact me via LinkedIn</b>
            Mikkel Groth-Andersen<br/>
            <a href="http://dk.linkedin.com/in/mikkelgroth" target="_blank">LinkedIn profile</a><br/><br/>
        </div>
        
        <h2>Team PrioCloud</h2>
        <div class="overview">
            <h3>Theis Borg</h3>
            <b>Developer, Consultant</b><br/>
            Backend servers, database, architecture and problemsolver guru.<br/>
            <a href="http://dk.linkedin.com/pub/theis-borg/2/403/b04/en" target="_blank">LinkedIn profile</a>
            <br/><br/>
            <h3>Mikkel Groth-Andersen</h3>
            <b>Project Portfolio Manager</b><br/>
            Product Owner, frontend, business logic and Project and Portfolio wise guy<br/>
            <a href="http://dk.linkedin.com/in/mikkelgroth" target="_blank">LinkedIn profile</a><br/><br/>
        </div>

        <h2>Terms of use</h2>
        <div class="overview">
            <i>The purpose of the tool is to get familiar with Portfolio and Project Management.<br>
            The tool is supported by volentary efforts and users can not expect to get help other than from emails.<br>
            We will support you to the extend of our abbilities.<br>
            The company account is private and secure for your company and your users, we would however not recomend that highly secret or sensitive information is placed in PrioCloud.<br>
            We aim at having an constant uptime, but the system can have planned downtime, announced on this page.<br>
            For security reasons Priocloud can not create new users for an company account or help with passwords, that is for the Administrator in your company.<br></i>
        </div>
    </div>
</div>


