<div id="linkdiv1">

	<h2>
        Project list - Overview
    </h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.bu.name">
                    <option value="">All business units</option>
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select ng-model="search.po.name">
                        <option value="">All PO</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                
                <select ng-model="search.pm.name">
                        <option value="">All PM</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.state" ng-init="search.state = 'Progress'">
                    <option value="">All States</option>
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select ng-model="search.audience">
                    <option value="">All Audience</option>
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select ng-model="search.support">
                    <option value="">All support types</option>
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projects.length > 0">
                <tr class="listsubject">
                    <td colspan="7"><h3>Projects</h3></td>
                </tr>
                <tr class="header">
                    <td>Project, PM<br/>BU, PO</td>
                    <td>Status state<br/>PO approval</td>
                    <td colspan="2">Project/Product<br/>User feedback</td>
                    <td>Status date<br/>Demo date</td>
                </tr>
                  <tr ng-repeat="project in projects | filter:search | orderBy:porderparam " ng-click="editProject(project)" class="link">
                    <td class="{{project.statuses[project.statuses.length-1].status}}"><b>{{project.title}}</b>, {{project.pm.name}}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{project.bu.name}}</b>, {{project.po.name}}</td>
                    <td>{{project.statuses[project.statuses.length-1].statusstate}}<br/>{{project.statuses[project.statuses.length-1].apo}}</td>
                      <td class="{{csrender(project.statuses[project.statuses.length-1].cs)}}">{{project.statuses[project.statuses.length-1].cs}}</td>
                    <td class="{{csrender(project.statuses[project.statuses.length-1].productcs)}}">{{project.statuses[project.statuses.length-1].productcs}}</td>
                    <td><div class="right">{{project.statuses[project.statuses.length-1].date | date:'yyyy-MM-dd'}}<br/>{{project.statuses[project.statuses.length-1].demodate | date:'yyyy-MM-dd'}}</div></td> 
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="linkdiv2" class="hide">

	<h2>
        Project list - Dependencies
    </h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.bu.name">
                    <option value="">All business units</option>
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select ng-model="search.po.name">
                        <option value="">All PO</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                
                <select ng-model="search.pm.name">
                        <option value="">All PM</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.state" ng-init="search.state = 'Progress'">
                    <option value="">All States</option>
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select ng-model="search.audience">
                    <option value="">All Audience</option>
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select ng-model="search.support">
                    <option value="">All support types</option>
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                    <option value="res1">{{company.res1lable}}</option>
                    <option value="res2">{{company.res2lable}}</option>
                    <option value="res3">{{company.res3lable}}</option>
                    <option value="res4">{{company.res4lable}}</option>
                    <option value="res5">{{company.res5lable}}</option>
                    <option value="res6">{{company.res6lable}}</option>
                    <option value="res7">{{company.res7lable}}</option>
                    <option value="res8">{{company.res8lable}}</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projects.length > 0">
                <tr class="listsubject">
                    <td colspan="9"><h3>Projects</h3></td>
                </tr>
                <tr class="header">
                    <td>Project</td>
                    <td class="verttd"><div class="vert">{{company.res1lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res2lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res3lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res4lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res5lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res6lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res7lable}}</div></td>
                    <td class="verttd"><div class="vert">{{company.res8lable}}</div></td> 
                </tr>
                <tr ng-repeat="project in projects | filter:search | orderBy:porderparam " ng-click="editProject(project)" class="link">
                    <td class="{{project.statuses[project.statuses.length-1].status}}">{{project.title}}</td>
                    <td class="{{skillrender(project.res1skill)}} {{sizerender(project.res1)}}"><div ng-if="project.res1fte!='None'">{{project.res1fte}}</div></td>
                    <td class="{{skillrender(project.res2skill)}} {{sizerender(project.res2)}}"><div ng-if="project.res2fte!='None'">{{project.res2fte}}</div></td>
                    <td class="{{skillrender(project.res3skill)}} {{sizerender(project.res3)}}"><div ng-if="project.res3fte!='None'">{{project.res3fte}}</div></td>
                    <td class="{{skillrender(project.res4skill)}} {{sizerender(project.res4)}}"><div ng-if="project.res4fte!='None'">{{project.res4fte}}</div></td>
                    <td class="{{skillrender(project.res5skill)}} {{sizerender(project.res5)}}"><div ng-if="project.res5fte!='None'">{{project.res5fte}}</div></td>
                    <td class="{{skillrender(project.res6skill)}} {{sizerender(project.res6)}}"><div ng-if="project.res6fte!='None'">{{project.res6fte}}</div></td>
                    <td class="{{skillrender(project.res7skill)}} {{sizerender(project.res7)}}"><div ng-if="project.res7fte!='None'">{{project.res7fte}}</div></td>
                    <td class="{{skillrender(project.res8skill)}} {{sizerender(project.res8)}}"><div ng-if="project.res8fte!='None'">{{project.res8fte}}</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="linkdiv3" class="hide">

	<h2>
        Project list - KPI
    </h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.bu.name">
                    <option value="">All business units</option>
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select ng-model="search.po.name">
                        <option value="">All PO</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                
                <select ng-model="search.pm.name">
                        <option value="">All PM</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.state" ng-init="search.state = 'Progress'">
                    <option value="">All States</option>
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select ng-model="search.audience">
                    <option value="">All Audience</option>
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select ng-model="search.support">
                    <option value="">All support types</option>
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projects.length > 0">
                <tr class="listsubject">
                    <td colspan="8"><h3>Projects</h3></td>
                </tr>
                <tr class="header">
                    <td>Project</td>
                    <td>Total</td>
                    <td>{{company.projkpi1lable}}</td>
                    <td>{{company.projkpi2lable}}</td>
                    <td>{{company.projkpi3lable}}</td>
                    <td>{{company.projkpi4lable}}</td>
                    <td>{{company.projkpi5lable}}</td>
                    <td>{{company.projkpi6lable}}</td>
                    
                </tr>
                <tr ng-repeat="project in projects | filter:search | orderBy:porderparam " ng-click="editProject(project)" class="link">
                    <td class="{{project.statuses[project.statuses.length-1].status}}">{{project.title}}</td>
                    <td>{{project.total}}</td>
                    <td class="Blue {{kpisizerender(project.kpi1)}}"></td>
                    <td class="Blue {{kpisizerender(project.kpi2)}}"></td>
                    <td class="Blue {{kpisizerender(project.kpi3)}}"></td>
                    <td class="Blue {{kpisizerender(project.kpi4)}}"></td>
                    <td class="Blue {{kpisizerender(project.kpi5)}}"></td>
                    <td class="Blue {{kpisizerender(project.kpi6)}}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="linkdiv4" class="hide">

	<h2>
        Project list - Status
    </h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.bu.name">
                    <option value="">All business units</option>
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select ng-model="search.po.name">
                        <option value="">All PO</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                
                <select ng-model="search.pm.name">
                        <option value="">All PM</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.state" ng-init="search.state = 'Progress'">
                    <option value="">All States</option>
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select ng-model="search.audience">
                    <option value="">All Audience</option>
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select ng-model="search.support">
                    <option value="">All support types</option>
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projects.length > 0">
                <tr class="listsubject">
                    <td colspan="8"><h3>Projects</h3></td>
                </tr>
                <tr class="header">
                    <td>Project overall status<br/>BU</td>
                    <td>PO approval<br/>Status date</td>
                    <td class="verttd"><div class="vert">Business case</div></td>
                    <td class="verttd"><div class="vert">Scope</div></td>
                    <td class="verttd"><div class="vert">Time line</div></td>
                    <td class="verttd"><div class="vert">Resources</div></td>
                    <td class="verttd"><div class="vert">Budget</div></td>
                    <td class="verttd"><div class="vert">Risks</div></td>
                </tr>
                <tr ng-repeat="project in projects | filter:search | orderBy:porderparam " ng-click="editProject(project)" class="link">
                    <td class="{{project.statuses[project.statuses.length-1].status}}">{{project.title}}<br/>{{project.bu.name}}</td>
                    <td>{{project.statuses[project.statuses.length-1].apo}}<br/>{{project.statuses[project.statuses.length-1].date | date:'d MMM, yyyy'}}</td>
                    <td class="{{project.statuses[project.statuses.length-1].statusbc}}"></td>
                    <td class="{{project.statuses[project.statuses.length-1].statussc}}"></td>
                    <td class="{{project.statuses[project.statuses.length-1].statustl}}"></td>
                    <td class="{{project.statuses[project.statuses.length-1].statusres}}"></td>
                    <td class="{{project.statuses[project.statuses.length-1].statusbud}}"></td>
                    <td class="{{project.statuses[project.statuses.length-1].statusrisk}}"></td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="linkdiv5" class="hide">

	<h2>
        Project list - Purpose
    </h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.bu.name">
                    <option value="">All business units</option>
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select ng-model="search.po.name">
                        <option value="">All PO</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                
                <select ng-model="search.pm.name">
                        <option value="">All PM</option>
                        <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Filter by:
            </div>
            <div class="field">
                <select ng-model="search.state" ng-init="search.state = 'Progress'">
                    <option value="">All States</option>
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select ng-model="search.audience">
                    <option value="">All Audience</option>
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select ng-model="search.support">
                    <option value="">All support types</option>
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projects.length > 0">
                <tr class="listsubject">
                    <td colspan="6"><h3>Projects</h3></td>
                </tr>
                
                <tr class="header">
                    <td>Project<br/>Status date</td>
                    <td>PO approval<br/>BU</td>
                    <td>Purpose</td>
                    <td>Overall status</td>
                    <td colspan="2">Project/Product<br/>feedback</td>
                </tr>
                
                <tr ng-repeat="project in projects | filter:search | orderBy:porderparam " ng-click="editProject(project)" class="link">
                    <td class="texttop {{project.statuses[project.statuses.length-1].status}}">&nbsp;{{project.title}}<br/>&nbsp;{{project.statuses[project.statuses.length-1].date | date:'d MMM, yyyy'}}</td>
                    <td class="texttop">{{project.statuses[project.statuses.length-1].apo}}<br/>{{project.bu.name}}</td>
                    <td class="texttop">{{project.outcome}}</td>
                    <td class="texttop">{{project.statuses[project.statuses.length-1].overallcomments}}</td>
                    <td class="{{csrender(project.statuses[project.statuses.length-1].cs)}}">{{project.statuses[project.statuses.length-1].cs}}</td>
                    <td class="{{csrender(project.statuses[project.statuses.length-1].productcs)}}">{{project.statuses[project.statuses.length-1].productcs}}</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>





<div id="linkdiv6" class="hide">
    <h2>
        Risk list
    </h2>
    
    <div class="smaller">
        
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/>
                BU<br/>Project<br/>Responsible<br/>Audience
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.buname" ng-options="bu.name as bu.name for bu in bus | orderBy:'name'"></select> 
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.projecttitle" ng-options="p.title as p.title for p in projects | filter:{state: '!Closed'} | orderBy: 'title'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.acname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy:'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.audience">
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/>
                Status<br/>Response<br/>Probability<br/>Impact
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.status">
                    <option value="Green">Accept</option>
                        <option value="Yellow">Observe</option>
                        <option value="Orange">Assist</option>
                        <option value="Red">Intervent</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.response">
                    <option value="Accept">Accept</option>
                    <option value="Mitigation">Mitigation</option>
                    <option value="Contingency">Contingency</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.prob">
                    <option value="1">1. Slim chance</option>
                    <option value="2">2. Could happen</option>
                    <option value="3">3. Likely to happen</option>
                    <option value="4">4. Most likely to happen</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="risksearch.impact">
                    <option value="1">1. Minor Project impact</option>
                    <option value="2">2. Major Project impact</option>
                    <option value="3">3. Business Unit impact</option>
                    <option value="4">4. Company impact</option>
                </select>
                
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="orderparam" ng-init="orderparam='-wtotal'">
                    <option value="-wtotal">Project/Risk Prob./Risk Imp.</option>
                    <option value="-wtotalprob">Project/Risk Prob.</option>
                    <option value="-wtotalimpact">Project/Risk Imp.</option>
                     <option value="title">Risk title</option>
                     <option value="projecttitle">Project title</option>
                    <option value="-total">Risk: Total</option>
                    <option value="-prob">Risk: Probability</option>
                    <option value="-impact">Risk: Impact</option>
                    <option value="-pkpi1">Project: {{company.projkpi1lable}}</option>
                    <option value="-pkpi2">Project: {{company.projkpi2lable}}</option>
                    <option value="-pkpi3">Project: {{company.projkpi3lable}}</option>
                    <option value="-pkpi4">Project: {{company.projkpi4lable}}</option>
                    <option value="-pkpi5">Project: {{company.projkpi5lable}}</option>
                    <option value="-pkpi6">Project: {{company.projkpi6lable}}</option>
                    <option value="-ptotal">Project: Total points</option>
                    <option value="-EtC">Project: Estimate to complete</option>
                    <option value="-ab">Project: Approved baseline</option> 
                    <option value="-fte">Project: FTE</option>
                </select>
            
                <select ng-model="orderparam2" ng-init="orderparam='-wtotal'">
                    <option value="-wtotal">Project/Risk Prob./Risk Imp.</option>
                    <option value="-wtotalprob">Project/Risk Prob.</option>
                    <option value="-wtotalimpact">Project/Risk Imp.</option>
                     <option value="title">Risk title</option>
                     <option value="projecttitle">Project title</option>
                    <option value="-total">Risk: Total</option>
                    <option value="-prob">Risk: Probability</option>
                    <option value="-impact">Risk: Impact</option>
                    <option value="-pkpi1">Project: {{company.projkpi1lable}}</option>
                    <option value="-pkpi2">Project: {{company.projkpi2lable}}</option>
                    <option value="-pkpi3">Project: {{company.projkpi3lable}}</option>
                    <option value="-pkpi4">Project: {{company.projkpi4lable}}</option>
                    <option value="-pkpi5">Project: {{company.projkpi5lable}}</option>
                    <option value="-pkpi6">Project: {{company.projkpi6lable}}</option>
                    <option value="-ptotal">Project: Total points</option>
                    <option value="-EtC">Project: Estimate to complete</option>
                    <option value="-ab">Project: Approved baseline</option> 
                    <option value="-fte">Project: FTE</option>
                </select>
            </div>
        </div>
        
        <div class="overview">
            <table class="tablelist" ng-if="allrisks.length > 0">
                <tr class="header">
                    <td>Risk - (Risk prio)<br/>Project (Project prio)</td>
                    <td>Description</td>
                    <td>Response<br/>Responsible</td>
                </tr>
                <tr ng-repeat="risk in allrisks | multiFilter:risksearch | orderBy:[orderparam, orderparam2]" ng-click="directProjectFromRisk(risk)" class="link"  ng-if="risk.state!='Closed'&&risk.audience!='Confidential'">
                    <td class="{{risk.status}}"><b>{{risk.title}} <div class="right">({{risk.total}})</div></b><br/>{{risk.projecttitle}}<div class="right">({{risk.ptotal}})</div></td>
                    <td class="wrap xl">{{risk.desc.substring(0,80)}} ...</td>
                    <td><b>{{risk.response}}</b><br/>{{risk.acc.name}}</td>
                </tr>
            </table>
        </div>
    </div> 
</div>      


<div id="linkdiv7" class="hide">
    <h2>Deliverables</h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/>
                BU<br/>Project<br/>Responsible
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.buname" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.projecttitle" ng-options="p.title as p.title for p in projects | filter:{state: '!Closed'} | orderBy: 'title'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.acname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy:'name'"></select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/>
                Status<br/>State<br/>Audience
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.status">
                    <option value="Green">Accept</option>
                        <option value="Yellow">Observe</option>
                        <option value="Orange">Assist</option>
                        <option value="Red">Intervent</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.state">
                    <option value="Target">Target</option>
                    <option value="Qualified">Qualified</option>
                    <option value="Progress">Progress</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="milesearch.audience">
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="orderdate" ng-init="orderdate='enddate'">
                    <option value="enddate" selected="selected">Order by end date</option>
                    <option value="date">Order by start date</option>
                    <option value="-wsjf">Order by WSJF</option>
                    <option value="title">Deliverable title</option>
                    <option value="projecttitle">Project title</option>
                </select>
            </div>
        </div>
    
        <div class="overview">
            <table class="tablelist" ng-if="allMilestones.length > 0">
                <tr class="header">
                    <td>(WSJF) Deliverable<br/>Project</td>
                    <td>Q1</td><td>Q2</td><td>Q3</td><td>Q4</td>
                    <td>Start Date<br/>End Date</td>
                    <td>State<br/>Responsible</td> 
                </tr>
               <tr ng-repeat="mile in allMilestones | multiFilter:milesearch | orderBy:orderdate" ng-click="directProjectFromMile(mile)" class="link" ng-if="mile.state!='Done' && mile.state!='Canceled'">
                   <td class="{{mile.status}}"><b>({{mile.wsjf}}) {{mile.title}}</b><br/>{{mile.projecttitle}}</td>
                   <td class="bar" ng-style="barrender(mile)" colspan="4"></td>
                   <td><b>{{mile.date | date:'d MMM, yyyy'}}</b><br/>{{mile.enddate | date:'d MMM, yyyy'}}</td>
                   <td><b>{{mile.state}}</b><br/>{{mile.acountable.name}}</td>
                   
                </tr>
            </table>
        </div>
    </div>
</div>