
<div class="mainbox">
    <h2>Project priority 
        <div class="right">
            <button type="button" ng-click="saveProjects()" ng-if="(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && !user.demo">save this priority</button>
        </div>
    </h2>
    <!--<div class="overview smaller"><div id='dashboard'></div></div>-->
    <br/>
    <div class="fanes">
        <div id="fane1" class="fane bottom set" onclick="javascript:showhidesub(1,3)"><a>{{company.projkpi1lable}} ({{company.projkpi1weight}}<input type="hidden" ng-model="company.projkpi1weight"/><input type="hidden" ng-model="company.projkpi1sort"/>)</a></div>
        <div id="fane2" class="fane bottom back" onclick="javascript:showhidesub(2,3)"><a>{{company.projkpi2lable}} ({{company.projkpi2weight}}<input type="hidden" ng-model="company.projkpi2weight"/><input type="hidden" ng-model="company.projkpi2sort"/>)</a></div>
        <div id="fane3" class="fane bottom back" onclick="javascript:showhidesub(3,3)"><a>{{company.projkpi3lable}} ({{company.projkpi3weight}}<input type="hidden" ng-model="company.projkpi3weight"/><input type="hidden" ng-model="company.projkpi3sort"/>)</a></div>
    </div>
    <table class="smaller noborder">
    <tr>
        <td style="vertical-align: top;">
        <div id="linkdiv1" class="view">
            <div ng-if="user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio">
                <div ng-if="company.projkpi1sort == 'tophigh'" class="sortable-container">
                    <h3 class="zeromargin">Drag and drop to sort the list</h3>
                    <ul ui-sortable="kpi1Config" ng-model="kpi1" class="sortable-container">
                      <li ng-repeat="item in freqData | orderBy:'-freq.kpi1'">
                        <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}}) </div>
                        </li>
                    </ul>
                </div>
                <div ng-if="company.projkpi1sort != 'tophigh'" class="sortable-container" >
                    <h3 class="zeromargin">Drag and drop to sort the list</h3>
                    <ul ui-sortable="kpi1Config" ng-model="kpi1"  class="sortable-container">
                      <li ng-repeat="item in freqData | orderBy:'freq.kpi1'">
                        <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}}) </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi1sort == 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                    <table class="tablelist">
                        <tr class="header"><td><b>Project</b> - {{company.projkpi1lable}} ({{company.projkpi1weight}})</td><td>BU</td></tr>
                        <tr ng-repeat="item in freqData | orderBy:'-freq.kpi1'">
                            <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi1sort != 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                    <table class="tablelist">
                        <tr class="header"><td><b>Project</b> - {{company.projkpi1lable}} ({{company.projkpi1weight}})</td><td>BU</td></tr>
                        <tr ng-repeat="item in freqData | orderBy:'freq.kpi1'">
                            <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="linkdiv2" class="noview">
            <div ng-if="user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio">
            <div ng-if="company.projkpi2sort == 'tophigh'" class="sortable-container" >
                <h3 class="zeromargin">Drag and drop to sort the list</h3>
                <ul ui-sortable="kpi2Config" ng-model="kpi2" class="sortable-container">
                  <li ng-repeat="item in freqData | orderBy:'-freq.kpi2'">
                    <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}}) </div>
                    </li>
                </ul>
            </div>
            <div ng-if="company.projkpi2sort != 'tophigh'" class="sortable-container" >
                <h3 class="zeromargin">Drag and drop to sort the list</h3>
                <ul ui-sortable="kpi2Config" ng-model="kpi2" class="sortable-container">
                  <li ng-repeat="item in freqData | orderBy:'freq.kpi2'">
                     <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}})</div>
                    </li>
                </ul>
            </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi2sort == 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                <table class="tablelist">
                    <tr class="header"><td><b>Project</b> - {{company.projkpi2lable}} ({{company.projkpi2weight}})</td><td>BU</td></tr>
                    <tr ng-repeat="item in freqData | orderBy:'-freq.kpi2'">
                        <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                    </tr>
                </table>
                </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi2sort != 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                <table class="tablelist">
                    <tr class="header"><td><b>Project</b> - {{company.projkpi2lable}} ({{company.projkpi2weight}})</td><td>BU</td></tr>
                    <tr ng-repeat="item in freqData | orderBy:'freq.kpi2'">
                        <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                    </tr>
                </table>
                </div>
            </div>
        
        </div>
        <div id="linkdiv3" class="noview">
            <div ng-if="user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio">
            <div ng-if="company.projkpi3sort == 'tophigh'" class="sortable-container" >
                <h3 class="zeromargin">Drag and drop to sort the list</h3>
                <ul ui-sortable="kpi3Config" ng-model="kpi3" class="sortable-container">
                  <li ng-repeat="item in freqData | orderBy:'-freq.kpi3'">
                     <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}})</div>
                    </li>
                </ul>
            </div>
            <div ng-if="company.projkpi3sort != 'tophigh'" class="sortable-container" >
                <h3 class="zeromargin">Drag and drop to sort the list</h3>
                <ul ui-sortable="kpi3Config" ng-model="kpi3" class="sortable-container">
                  <li ng-repeat="item in freqData | orderBy:'freq.kpi3'">
                    <b>{{item.title}}</b> &nbsp; &nbsp; &nbsp;  <div class="right">({{item.bu.name}}) </div>
                    </li>
                </ul>
            </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi3sort == 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                <table class="tablelist">
                    <tr class="header"><td><b>Project</b> - {{company.projkpi3lable}} ({{company.projkpi3weight}})</td><td>BU</td></tr>
                    <tr ng-repeat="item in freqData | orderBy:'-freq.kpi3'">
                        <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                    </tr>
                </table>
                </div>
            </div>
            <div ng-if="!(user.email==project.po.email || user.email==project.pm.email || user.isOwner || user.admin || user.prio) && company.projkpi3sort != 'tophigh'">
                <h3 class="zeromargin">Sorted list</h3>
                <div class="overview">
                <table class="tablelist">
                    <tr class="header"><td><b>Project</b> - {{company.projkpi3lable}} ({{company.projkpi3weight}})</td><td>BU</td></tr>
                    <tr ng-repeat="item in freqData | orderBy:'freq.kpi3'">
                        <td><b>{{item.title}}</b></td><td><div class="right">({{item.bu.name}})</div></td>
                    </tr>
                </table>
                </div>
            </div>
        
        </div>

   </td>
        <td style="vertical-align: top;">
            <h3 class="zeromargin">Final sorted and weighted list</h3>
            <div class="overview">
            <table class="tablelist">
                <tr class="header"><td>Project</td><td>BU</td><td>Value</td></tr>
                    <tr ng-repeat="item in freqData | orderBy:'-total'">
                   <td><b>{{item.title}}</b></td><td>{{item.bu.name}}</td><td><div class="right"> {{item.total}}</div></td>   
                </tr>
            </table> 
            </div>
        </td> 
    </tr>
</table>    
</div>       


