.dndbox{
    width: auto;
}
.sortable-container{
    border:1px solid grey;
    background: silver;
    width: 150px;
    margin: 5px;
    float: left;
}
.well{
    border:1px solid grey;
    background: silver;
    margin: 5px;
}
    .beingDragged {
        height: 24px;
        margin-bottom: .5em !important;
        border: 2px dotted #ccc !important;
        background: none !important;
    }