<div id="login">
    <div class="mainbox editboxon">
        <h1>PrioCloud - BETA TESTING</h2>
        
            <div id="login" class="column small-6">
                <div class="login-box">
					<h2>One Time Password</h1>

					<div ng-controller="LoginController">
						<form ng-submit="newPassword()">
							Email: <input type="email" ng-model="email" autofocus>
							New password: <input type="password" ng-model="newpassword">
							<button type="submit" ng-submit="newPassword()">Set password</button>
						</form>
					</div>
				</div>
			
		</div>
	</div>
</div>