<ul class="fanes">
    <li>
        <a class="fane" href="#/project/{{id}}">{{title}}</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/details">Details</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/status">Status</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/milestone">Deliver.</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/risks">Risks & Issues</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/dependencies">Depend.</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance">Finan.</a>
    </li>
</ul>