<ul>
    <li prio-route-active="login|price|about|alternatives|register|help|dashboard">
        <a href="#/login">Home</a>
        <ul>
            <li><a href="#/login">Log in/out</a></li>
            <li><a href="#/price">Pricing</a></li>
            <li><a href="#/about">What is PrioCloud</a></li>
            <li><a href="#/alternatives">Great alternatives</a></li>
            <li><a href="#/register">Create a new Company Portfolio</a></li>
            <li><a href="#/help">Help</a></li>
        </ul>
    </li>
    <span prio-user-authenticated="{display: true}">
        <li prio-route-active="projects|project">
            <a href="#/dashboard">Portfolio</a>
            <ul>
                <li><a href="#/projects">Lists</a></li>
                <li ng-if="user.businessowner"><a href="#/projects/create">New entry</a></li>                               
                <li ng-if="company.filters.companyshowDepend"><a href="#/projects/dependencies">People</a></li>
                <li ng-if="company.filters.companyshowDeliverables"><a href="#/projects/deliverables">Deliverables</a></li>
                <li ng-if="company.filters.companyshowIssues"><a href="#/projects/risks">Risks</a></li>     
            </ul>
            
        </li>
        <li prio-route-active="systems|system|processs|process">
            <a href="#/systems">Compliance</a>
            <ul>
                <li><a href="#/systems">Systems</a></li>
                <li><a href="#/processs">Processes</a></li>                
            </ul>
        </li>
        <li prio-route-active="metrics|metric">
            <a href="#/metrics">Metrics</a>
            <ul>
                <li><a href="#/metrics">Metrics</a></li>              
            </ul>
        </li>
        <li prio-route-active="settings" ng-if="!user.demo">
            <a href="#/settings">Settings</a>
        </li>
        <li prio-route-active="admin" ng-if="user.admin || user.subadmin">
            <a href="#/admin">Administration</a>
        </li>
    </span>
</ul>
