<ul>
    <li prio-route-active="login|about|alternatives|register|help|dashboard">
        <a href="#/login">Home</a>
        <ul>
            <li><a href="#/login">Log in/out</a></li>
            <li><a href="#/about">What is PrioCloud</a></li>
            <li><a href="#/alternatives">Great alternatives</a></li>
            <li><a href="#/register">Create a new Company Portfolio</a></li>
            <li><a href="#/help">Help</a></li>
        </ul>
    </li>
    <span prio-user-authenticated="{display: true}">
        <li prio-route-active="projects|project">
            <a href="#/dashboard">Portfolio</a>
            <ul>
                <li><a href="#/projects">Project list - Overview</a></li>
                <li><a href="#/projects/dependencies">Project list - Dependencies</a></li>
                <li><a href="#/projects/kpi">Project list - KPI</a></li>
                <li><a href="#/projects/status">Project list - Status</a></li>
                <li><a href="#/projects/purpose">Project list - Purpose</a></li>
                <li><a href="#/projects/finance">Project list - Finance</a></li>
                <li><a href="#/projects/risks">Risk list</a></li> 
                <li><a href="#/projects/deliverables">Deliverable list</a></li>
                
            </ul>
        </li>
        <li prio-route-active="settings" ng-if="!user.demo">
            <a href="#/settings">Settings</a>
        </li>
        <li prio-route-active="admin" ng-if="user.admin || user.subadmin">
            <a href="#/admin">Administration</a>
            <ul>
            	<li><a href="#/admin">Company and business units</a></li>
            	<li><a href="#/admin/users">Users</a></li>
            	<li><a href="#/admin/projects">Projects</a></li>
            	<li><a href="#/admin/project-ratings">Project ratings</a></li>
            	<li><a href="#/admin/resource-types">Resource types</a></li>
            	<li><a href="#/admin/delete">Delete account</a></li>
            </ul>
        </li>
    </span>
</ul>