<ul>
    <li prio-route-active="login|about|alternatives|register|help|dashboard">
        <a href="#/login">Home</a>
        <ul>
            <li><a href="#/login">Log in/out</a></li>
            <li><a href="#/about">What is PrioCloud</a></li>
            <li><a href="#/alternatives">Great alternatives</a></li>
            <li><a href="#/register">Create a new Company Portfolio</a></li>
            <li><a href="#/help">Help</a></li>
        </ul>
    </li>
    <span prio-user-authenticated="{display: true}">
        <li prio-route-active="projects|project">
            <a href="#/dashboard">Project views</a>
            <ul>
                <li><a href="#/projects">Overview</a></li>
                <li><a href="#/projects/kpi">KPI view</a></li>
                <li><a href="#/projects/status">Status view</a></li>
                <li><a href="#/projects/purpose">Purpose view</a></li>
                <li><a href="#/projects/finance">Finance view</a></li>
                <li><a href="#/projects/reports">Report list</a></li>                
            </ul>
            <a href="#/projects/dependencies">Portfolio tools</a>
            <ul>
                <li><a href="#/projects/dependencies">Dependencies</a></li>
                <li><a href="#/projects/deliverables">Deliverables</a></li>
                <li><a href="#/projects/risks">Risk & Issues</a></li>     
            </ul>
            
        </li>
        <li prio-route-active="settings" ng-if="!user.demo">
            <a href="#/settings">Settings</a>
        </li>
        <li prio-route-active="admin" ng-if="user.admin">
            <a href="#/admin">Administration</a>
            <ul>
            	<li><a href="#/admin">Company and business units</a></li>
            	<li><a href="#/admin/users">Users</a></li>
            	<li><a href="#/admin/projects">Projects</a></li>
            	<li><a href="#/admin/project-ratings">Project ratings</a></li>
            	<li><a href="#/admin/resource-types">Resource types</a></li>
            	<li><a href="#/admin/delete">Delete account</a></li>
            </ul>
        </li>
    </span>
</ul>