<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<div id="project-dependencies" class="view">
    <div ng-show="showDepForm">
        <h2 class="{{editdep.status}}">
            {{editdep.title}}
            <div class="right">
                <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.admin"
                        ng-click="saveDeps(true)">save</button>
                <button type="button" ng-click="hideDepForm()">close</button>
                <button type="button" 
                ng-click="$parent.deleteThis=true" 
                ng-show="!$parent.deleteThis"
                ng-if="user.email==project.po.email || 
                user.email==project.pm.email || 
                user.isOwner || user.admin">delete</button>
            <button type="button" class="Red"
                ng-click="$parent.deleteThis=false; removeDep(editdep)" 
                ng-show="$parent.deleteThis"
                ng-if="user.email==project.po.email || 
                user.email==project.pm.email || 
                user.isOwner || user.admin">confirm delete!!!</button>
            </div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Title</td>
                <td>
                    <div class="field">
                        <input ng-model="editdep.title" ng-change="saveNow(editdep)"/>
                    </div>
                </td>
                <td class="header">Audience</td>
                <td>
                    <select ng-model="editdep.audience" ng-change="saveNow(editdep)">
                        <option value="Project">Project</option>
                        <option value="Portfolio">Portfolio</option>
                        <option value="Company">Company</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Agreement</td>
                <td>
                    <select ng-model="editdep.agreement" ng-change="saveNow(editdep)">
                        <option value="None">None</option>
                        <option value="Conflict">Conflict</option>
                        <option value="Tentative">Tentative</option>
                        <option value="Agreed">Agreed</option>
                    </select>
                    
                </td>
                <td class="header">State</td>
                <td>
                    <select ng-model="editdep.state" ng-change="saveNow(editdep)">
                        <option value="Open">Open</option>
                        <option value="On hold">On hold</option>
                        <option value="Closed">Closed</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Dependency requester</td>
                <td>
                    <select ng-model="editdep.requester"  ng-change="saveNow(editdep)" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                </td>
                <td class="header">Dependency resource owner</td>
                <td>
                    <select ng-model="editdep.resowner"  ng-change="saveNow(editdep)" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                </td>
            </tr>
            <tr>
                    <td class="header">Show in report</td>
                    <td>
                            <input type="checkbox" ng-model="editdep.showInReport" ng-change="saveNow(editdep)">
                    </td>
                                    
                    <td class="header">Status</td>
                    <td>
                        <select ng-model="editdep.status" ng-change="saveNow(editdep)">
                            <option value="Green">OK (Green)</option>
                            <option value="Yellow">Observe (Yellow)</option>
                            <option value="Orange">Assist (Orange)</option>
                            <option value="Red">Intervention (Red)</option>
                        </select>
                    </td>
                    
                </tr>
                <tr>
                        <td class="header">Work start</td>
                        <td>
                            <input type="text" id="depdate" datepicker="" ng-model="editdep.depdate" ng-change="saveNow(editdep); dateChanged(editdep.depdate)"  class="cal"/>
                            {{editdep.depdate | date:'longDate'}}
                        </td>
                                        
                        <td class="header">Deadline</td>
                        <td>
                                <input type="text" id="depdeaddate" datepicker="" ng-model="editdep.depdeaddate" ng-change="saveNow(editdep); dateChanged(editdep.depdeaddate)"  class="cal"/>
                                {{editdep.depdeaddate | date:'longDate'}}
                        </td>
                        
                    </tr>
                        
            <tr>
                <td class="header">Request quantum</td>
                <td>
                    <select ng-model="editdep.quantum"  ng-change="saveNow(editdep)">
                        <option value="None">None</option>
                        <option value="Minor tasks">Minor tasks</option>
                        <option value="Major tasks">Major tasks</option>
                        <option value="0.1 FTE">0.1 FTE</option>
                        <option value="0.2 FTE">0.2 FTE</option>
                        <option value="0.5 FTE">0.5 FTE</option>
                        <option value="1 FTE">1 FTE</option>
                        <option value="2-3 FTE">2-3 FTE</option>
                        <option value="4-7 FTE">4-7 FTE</option>
                        <option value=">7 FTE">>7 FTE</option>
                    </select>
                </td>
                
                <td class="header">Source</td>
                <td>
                    <select ng-change="saveNow(editdep)" ng-model="editdep.bu" id="depbu" ng-options="bu.name for bu in bus | orderBy:'name' track by bu.name"></select>
                </td>
                
            </tr>
            
            
            <tr>
                <td>
                    <p>Description<span id="depdec_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow(editdep)" ng-model="editdep.description" maxlength="300" id="depdec" placeholder="Describe the dependency."></textarea>
                    </div>
                </td>
            </tr>
                        
            <tr>
                <td>
                    <p>Names<span id="depname_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow(editdep)" ng-model="editdep.names" maxlength="300" id="depname" placeholder="Describe the key persons requested."></textarea>
                    </div>
                </td>
            </tr>
                
            
        </table>
    </div>

    <div class="mainbox" id="deplist" ng-show="!showDepForm">
        <h2>
            Dependencies
            <div class="right"> 
                
                <button type="button"
                    ng-click="newDep()"
                    ng-if="user.email==project.po.email || 
                    user.email==project.pm.email || 
                    user.email==project.altpo.email || 
                    user.email==project.altpm.email || 
                    user.isOwner || user.admin">create new dependency</button>

                <button type="button" id="saveButtonQ" prio-class save-this="$parent.hasChanged"
                    ng-if="user.email == project.po.email || 
                    user.email == project.pm.email || 
                    user.email == project.altpo.email || 
                    user.email == project.altpm.email || 
                    user.isOwner || 
                    user.admin"
                    ng-click="saveDeps(false)">save</button>
            </div>
        </h2>
        <div class="overview">
            <table class="tablelist smaller" ng-if="project.milestones.length > 0">
                <tr class="header">
                    <td>Title</td>
                    <td>2017</td>
                    <td>2018</td>
                    <td>2019</td>
                    <td>Source</td>
                    <td>Owner</td>
                    <td>State</td>
                    <td>Report</td>
                </tr>
                <tr ng-repeat="dep in project.deps | orderBy:'depdate'" class="link">
                        <td ng-click="beginEditDep(dep)" class="{{dep.status}}"><b>{{dep.title}}</b></td>
                        <td ng-click="beginEditDep(dep)" class="bar xl" ng-style="depbarRender(dep)" colspan="3">{{dep.quantum}}</td>
                        <td ng-click="beginEditDep(dep)">{{dep.bu.name}}</td>
                        <td ng-click="beginEditDep(dep)">{{dep.resowner.name}}</td>                                
                        <td ng-click="beginEditDep(dep)">{{dep.state}}</td>                                
                        
                    <td><input type="checkbox" ng-model="dep.showInReport" ng-change="saveNowQuick()"></td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>