<prio-admin-menu></prio-admin-menu>

<div id="linkdiv4" class="view">
    <div class="mainbox">
        <h2>
            Project rating lables
            <div class="right"><button type="button" ng-click="saveCompany(company)" ng-if="user.admin">Save</button></div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Project KPI 1</td>
                <td><input ng-model="company.projkpi1lable" /></td>
                <td>
                    <select ng-model="company.projkpi1Neg">
                        <option value="High">High is good</option>
                        <option value="Low">Low is good</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Project KPI 2</td>
                <td><input ng-model="company.projkpi2lable" /></td>
                <td>
                        <select ng-model="company.projkpi2Neg">
                            <option value="High">High is good</option>
                            <option value="Low">Low is good</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td class="header">Project KPI 3</td>
                <td><input ng-model="company.projkpi3lable" /></td>
                <td>
                        <select ng-model="company.projkp31Neg">
                            <option value="High">High is good</option>
                            <option value="Low">Low is good</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td class="header">Project KPI 4</td>
                <td><input ng-model="company.projkpi4lable" /></td>
                <td>
                        <select ng-model="company.projkpi4Neg">
                            <option value="High">High is good</option>
                            <option value="Low">Low is good</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td class="header">Project KPI 5</td>
                <td><input ng-model="company.projkpi5lable" /></td>
                <td>
                        <select ng-model="company.projkpi5Neg">
                            <option value="High">High is good</option>
                            <option value="Low">Low is good</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td class="header">Project KPI 6</td>
                <td><input ng-model="company.projkpi6lable" /></td>
                <td>
                        <select ng-model="company.projkpi6Neg">
                            <option value="High">High is good</option>
                            <option value="Low">Low is good</option>
                        </select>
                    </td>
            </tr>
        </table>
    </div>
</div>