<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>
<prio-project-finance-menu prio-project-id="{{project._id.$oid}}"></prio-project-finance-menu>

<div id="linkdiv8" class="view">
    <h2>
        Finance
        
    
    <div class="right">
            
            <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.controller ||
                        user.admin"
                        ng-click="saveProject(project)">save</button>
        </div>
        </h2>
    <div id="finance" ng-show="route == 'finance'">
        <h3>Key project figures</h3>
        <table class="smaller smallinput">
            <tr class="header" ng-if="user.controller || user.admin">
                <td>To be controlled<input ng-change="saveNow()" type="checkbox" ng-model="project.isControlled" /></td>
                <td colspan="2">
                    Capex proj. num.:
                </td>
                <td>
                    <div class="field"><input ng-change="saveNow()" ng-model="project.projectnumber" /></div>
                </td>
                <td colspan="2">
                    Opex proj. num.: 
                </td>
                <td colspan="2">
                    <div class="field"><input ng-model="project.opexprojectnumber" ng-change="saveNow()" /></div>
                </td>
            </tr>
            <tr class="header" ng-if="user.controller || user.admin">
                <td>
                    Controller status: 
                    <select ng-model="project.financeControl" ng-change="saveNow()">
                        <option value="Green">Finance controlled (Green)</option>
                        <option value="Yellow">Please update (Yellow)</option>
                        <option value="Orange">Deviation unexplained (Orange)</option>
                        <option value="Red">Budget breached (Red)</option>
                    </select>
                </td>
                <td colspan="2">
                   Lifetime:
                </td>
                <td>
                    <div class="field">
                   <input type="text" ng-model="project.depriciation" ng-change="saveNow()" id="depriciation" />
                    </div>
                </td>
                <td colspan="2">Dep. date:</td>
                <td colspan="2">
                    
                        <input class="cal" type="text" id="depriciationdate" datepicker="" ng-model="project.depriciationdate" ng-change="saveNow(); dateChanged(project.depriciationdate)"/>
                        {{project.depriciationdate | date:'yyyy-MM-dd'}}
                        
                   
                </td>
            </tr>


            <tr class="header" ng-if="!user.controller && !user.admin">
                <td rowspan="2">Controller status: {{project.financeControl}}</td>
                <td colspan="3"><div ng-if="project.isControlled">To be controlled, </div></td>
                <td colspan="4">Project number: {{project.projectnumber}}</td>
            </tr>
            <tr class="header" ng-if="!user.controller && !user.admin">
                
                <td colspan="3">Dep. date {{project.depriciationdate | date:'yyyy-MM-dd'}}</td>
                <td colspan="4">Depriciation: {{project.depriciation}}</td>
            </tr>


            <tr class="header">
                <td>TDKK Ex. Vat</td>
                <td>Prev</td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Year</td>
                <td>Grand</td>
            </tr>
            <tr>
                <td>Budget total</td>
                <td class="sums">{{ project.finance.budTotalprev | number:0}}</td>
                <td class="sums">{{ project.finance.budTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Posted total</td>
                <td class="sums">{{ project.finance.postTotalprev | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalgrandSum | number:0 }}</td>
            </tr>
            <tr class="header">
                <td>Deviation total</td>
                <td class="sums">{{ project.finance.devTotalprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalgrandSum | number:0 }}</td>
            </tr>
        </table>
    </div>

    <div id="budget" ng-show="route == 'budget'">
        <h3>Budget this year</h3>
        <table class="smaller smallinput">
            <tr class="header">
                <td>TDKK Ex. Vat</td>
                <td>Prev</td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Year</td>
                <td>Grand</td>
            </tr>
            <tr class="header">
                <td colspan="8">Capex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextq4" /></div></td>
                <td class="sums">{{ project.finance.budcapexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapextoneq4" /></div></td>
                <td class="sums">{{ project.finance.budcapexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budcapintq4" /></div></td>
                <td class="sums">{{ project.finance.budcapexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Capex total</td>
                <td class="sums">{{ project.finance.budcapexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.budcapexTotalgrand | number:0 }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">Opex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextq4" /></div></td>
                <td class="sums">{{ project.finance.budopexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopextoneq4" /></div></td>
                <td class="sums">{{ project.finance.budopexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.budopintq4" /></div></td>
                <td class="sums">{{ project.finance.budopexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Opex total</td>
                <td class="sums">{{ project.finance.budopexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.budopexTotalgrand | number:0 }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">External/Internal</td>
            </tr>
            <tr>
                <td>External total</td>
                <td class="sums">{{ project.finance.budExternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budExternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal total</td>
                <td class="sums">{{ project.finance.budInternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budInternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr class="header">
                <td>Budget total</td>
                <td class="sums">{{ project.finance.budTotalprev | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.budTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Year accum.</td>
                <td></td>
                <td class="sums">{{ project.finance.budAccq1 | number:0}}</td>
                <td class="sums">{{ project.finance.budAccq2 | number:0}}</td>
                <td class="sums">{{ project.finance.budAccq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.budAccq4 | number:0 }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="posted" ng-show="route == 'posted'">
        <h3>Posted this year</h3>
        <table class="smaller smallinput">
            <tr class="header">
                <td>TDKK Ex. Vat</td>
                <td>Prev</td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Year</td>
                <td>Grand</td>
            </tr>
            <tr class="header">
                <td colspan="8">Capex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextq4" /></div></td>
                <td class="sums">{{ project.finance.postcapexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapextoneq4" /></div></td>
                <td class="sums">{{ project.finance.postcapexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postcapintq4" /></div></td>
                <td class="sums">{{ project.finance.postcapexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Capex total</td>
                <td class="sums">{{ project.finance.postcapexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.postcapexTotalgrand | number:0 }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">Opex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextq4" /></div></td>
                <td class="sums">{{ project.finance.postopexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopextoneq4" /></div></td>
                <td class="sums">{{ project.finance.postopexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.postopintq4" /></div></td>
                <td class="sums">{{ project.finance.postopexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Opex total</td>
                <td class="sums">{{ project.finance.postopexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.postopexTotalgrand  | number:0}}</td>
            </tr>
            <tr class="header">
                <td colspan="8">External/Internal</td>
            </tr>
            <tr>
                <td>External total</td>
                <td class="sums">{{ project.finance.postExternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postExternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal total</td>
                <td class="sums">{{ project.finance.postInternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postInternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr class="header">
                <td>Posted total</td>
                <td class="sums">{{ project.finance.postTotalprev | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.postTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Year accum.</td>
                <td></td>
                <td class="sums">{{ project.finance.postAccq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.postAccq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.postAccq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.postAccq4 | number:0 }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="deviation" ng-show="route == 'deviation'">
        <h3>Deviation this year</h3>
        <table class="smaller smallinput">
            <tr class="header">
                <td>TDKK Ex. Vat</td>
                <td>Prev</td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Year</td>
                <td>Grand</td>
            </tr>
            <tr class="header">
                <td colspan="8">Capex</td>
            </tr>
            <tr>
                <td>External</td>
                <td class="sums">{{ project.finance.devcapextprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td class="sums">{{ project.finance.devcapextoneprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextoneq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextoneq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextoneq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapextoneq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td class="sums">{{ project.finance.devcapintprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapintq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapintq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapintq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapintq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Capex total</td>
                <td class="sums">{{ project.finance.devcapexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.devcapexTotalgrand | number:0 }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">Opex</td>
            </tr>
            <tr>
                <td>External</td>
                <td class="sums">{{ project.finance.devopextprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexExternal | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexExternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td class="sums">{{ project.finance.devopextoneprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextoneq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextoneq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextoneq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopextoneq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexExtOff | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexExtOffgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td class="sums">{{ project.finance.devopintprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devopintq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopintq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopintq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopintq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexInternal | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexInternalgrand | number:0 }}</td>
            </tr>
            <tr>
                <td>Opex total</td>
                <td class="sums">{{ project.finance.devopexprevSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexq1Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexq2Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexq3Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexq4Sum | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.devopexTotalgrand | number:0 }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">External/Internal</td>
            </tr>
            <tr>
                <td>External total</td>
                <td class="sums">{{ project.finance.devExternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devExternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Internal total</td>
                <td class="sums">{{ project.finance.devInternalprevTotal | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalq1Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalq2Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalq3Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalq4Total | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devInternalTotalgrandSum | number:0 }}</td>
            </tr>
            <tr class="header">
                <td>Deviation total</td>
                <td class="sums">{{ project.finance.devTotalprev | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalq4 | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalSum | number:0 }}</td>
                <td class="sums">{{ project.finance.devTotalgrandSum | number:0 }}</td>
            </tr>
            <tr>
                <td>Year accum.</td>
                <td></td>
                <td class="sums">{{ project.finance.devAccq1 | number:0 }}</td>
                <td class="sums">{{ project.finance.devAccq2 | number:0 }}</td>
                <td class="sums">{{ project.finance.devAccq3 | number:0 }}</td>
                <td class="sums">{{ project.finance.devAccq4 | number:0 }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="deviation-report" ng-show="route == 'deviation-report'">
        <h2>Comments</h2>
        <table>
            <tr>
                <td class="header" rowspan="3">Q1</td>
                <td class="header"><p>Budget <span id="financebudQ1_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.budq1" maxlength="300" id="budq1" placeholder="Describe budget decisions on Q1 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Posted <span id="financepostQ1_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.postq1" maxlength="300" id="postq1" placeholder="Describe posted figures on Q1 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Deviation <span id="financedevQ1_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.devq1" maxlength="300" id="devq1" placeholder="Describe major changes and impact on Q1 financing."></textarea></div></td>
            </tr>

            <tr>
                <td class="header" rowspan="3">Q2</td>
                <td class="header"><p>Budget <span id="financebudQ2_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.budq2" maxlength="300" id="budq2" placeholder="Describe budget decisions on Q2 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Posted <span id="financepostQ2_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.postq2" maxlength="300" id="postq2" placeholder="Describe posted figures on Q2 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Deviation <span id="financedevQ2_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.devq2" maxlength="300" id="devq2" placeholder="Describe major changes and impact on Q2 financing."></textarea></div></td>
            </tr>

            <tr>
                <td class="header" rowspan="3">Q3</td>
                <td class="header"><p>Budget <span id="financebudQ3_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.budq3" maxlength="300" id="budq3" placeholder="Describe budget decisions on Q3 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Posted <span id="financepostQ3_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.postq3" maxlength="300" id="postq3" placeholder="Describe posted figures on Q3 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Deviation <span id="financedevQ3_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.devq3" maxlength="300" id="devq3" placeholder="Describe major changes and impact on Q3 financing."></textarea></div></td>
            </tr>

            <tr>
                <td class="header" rowspan="3">Q4</td>
                <td class="header"><p>Budget <span id="financebudQ4_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.budq4" maxlength="300" id="budq4" placeholder="Describe budget decisions on Q4 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Posted <span id="financepostQ4_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.postq4" maxlength="300" id="postq4" placeholder="Describe posted figures on Q4 financing."></textarea></div></td>
            </tr>
            <tr>
                <td class="header"><p>Deviation <span id="financedevQ4_count" class="right"></span></p></td>
                <td><div class="field"><textarea ng-model="project.finance.devq4" maxlength="300" id="devq4" placeholder="Describe major changes and impact on Q4 financing."></textarea></div></td>
            </tr>
        </table>
    </div>
    <div id="next-year" ng-show="route == 'next-year'">
        <h3>Budget next year</h3>
        <table class="smaller smallinput">
            <tr class="header">
                <td>TDKK Ex. Vat</td>
                <td>Prev</td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Year</td>
                <td>Grand</td>
            </tr>
            <tr class="header">
                <td colspan="8">Capex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextq4" /></div></td>
                <td class="sums">{{ project.finance.nextcapexExternal }}</td>
                <td class="sums">{{ project.finance.nextcapexExternalgrand }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapextoneq4" /></div></td>
                <td class="sums">{{ project.finance.nextcapexExtOff }}</td>
                <td class="sums">{{ project.finance.nextcapexExtOffgrand }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextcapintq4" /></div></td>
                <td class="sums">{{ project.finance.nextcapexInternal }}</td>
                <td class="sums">{{ project.finance.nextcapexInternalgrand }}</td>
            </tr>
            <tr>
                <td>Capex total</td>
                <td class="sums">{{ project.finance.nextcapexprevSum }}</td>
                <td class="sums">{{ project.finance.nextcapexq1Sum }}</td>
                <td class="sums">{{ project.finance.nextcapexq2Sum }}</td>
                <td class="sums">{{ project.finance.nextcapexq3Sum }}</td>
                <td class="sums">{{ project.finance.nextcapexq4Sum }}</td>
                <td class="sums">{{ project.finance.nextcapexTotal }}</td>
                <td class="sums">{{ project.finance.nextcapexTotalgrand }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">Opex</td>
            </tr>
            <tr>
                <td>External</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextq4" /></div></td>
                <td class="sums">{{ project.finance.nextopexExternal }}</td>
                <td class="sums">{{ project.finance.nextopexExternalgrand }}</td>
            </tr>
            <tr>
                <td>Ext. One-Off</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextoneprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextoneq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextoneq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextoneq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopextoneq4" /></div></td>
                <td class="sums">{{ project.finance.nextopexExtOff }}</td>
                <td class="sums">{{ project.finance.nextopexExtOffgrand }}</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopintprev" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopintq1" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopintq2" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopintq3" /></div></td>
                <td><div class="field"><input ng-change="saveNow()" ng-model="project.finance.nextopintq4" /></div></td>
                <td class="sums">{{ project.finance.nextopexInternal }}</td>
                <td class="sums">{{ project.finance.nextopexInternalgrand }}</td>
            </tr>
            <tr>
                <td>Opex total</td>
                <td class="sums">{{ project.finance.nextopexprevSum }}</td>
                <td class="sums">{{ project.finance.nextopexq1Sum }}</td>
                <td class="sums">{{ project.finance.nextopexq2Sum }}</td>
                <td class="sums">{{ project.finance.nextopexq3Sum }}</td>
                <td class="sums">{{ project.finance.nextopexq4Sum }}</td>
                <td class="sums">{{ project.finance.nextopexTotal }}</td>
                <td class="sums">{{ project.finance.nextopexTotalgrand }}</td>
            </tr>
            <tr class="header">
                <td colspan="8">External/Internal</td>
            </tr>
            <tr>
                <td>External total</td>
                <td class="sums">{{ project.finance.nextExternalprevTotal }}</td>
                <td class="sums">{{ project.finance.nextExternalq1Total }}</td>
                <td class="sums">{{ project.finance.nextExternalq2Total }}</td>
                <td class="sums">{{ project.finance.nextExternalq3Total }}</td>
                <td class="sums">{{ project.finance.nextExternalq4Total }}</td>
                <td class="sums">{{ project.finance.nextExternalTotalSum }}</td>
                <td class="sums">{{ project.finance.nextExternalTotalgrandSum }}</td>
            </tr>
            <tr>
                <td>Internal total</td>
                <td class="sums">{{ project.finance.nextInternalprevTotal }}</td>
                <td class="sums">{{ project.finance.nextInternalq1Total }}</td>
                <td class="sums">{{ project.finance.nextInternalq2Total }}</td>
                <td class="sums">{{ project.finance.nextInternalq3Total }}</td>
                <td class="sums">{{ project.finance.nextInternalq4Total }}</td>
                <td class="sums">{{ project.finance.nextInternalTotalSum }}</td>
                <td class="sums">{{ project.finance.nextInternalTotalgrandSum }}</td>
            </tr>
            <tr class="header">
                <td>Budget total</td>
                <td class="sums">{{ project.finance.nextTotalprev }}</td>
                <td class="sums">{{ project.finance.nextTotalq1 }}</td>
                <td class="sums">{{ project.finance.nextTotalq2 }}</td>
                <td class="sums">{{ project.finance.nextTotalq3 }}</td>
                <td class="sums">{{ project.finance.nextTotalq4 }}</td>
                <td class="sums">{{ project.finance.nextTotalSum }}</td>
                <td class="sums">{{ project.finance.nextTotalgrandSum }}</td>
            </tr>
            <tr>
                <td>Year accum.</td>
                <td></td>
                <td class="sums">{{ project.finance.nextAccq1 }}</td>
                <td class="sums">{{ project.finance.nextAccq2 }}</td>
                <td class="sums">{{ project.finance.nextAccq3 }}</td>
                <td class="sums">{{ project.finance.nextAccq4 }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>