<ul class="fanes">
    <li>
        <a class="fane" href="#/project/{{id}}/finance">Key figures 2018</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/budget">Budget 2018</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/posted">Posted 2018</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/deviation">Deviation 2018</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/next-year">Budget 2019</a>
    </li>
</ul>