<ul class="fanes">
    <li>
        <a class="fane" href="#/project/{{id}}/finance">Key figures</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/budget">Budget</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/posted">Posted</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/deviation">Deviation</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/deviation-report">Deviation report</a>
    </li>
    <li>
        <a class="fane" href="#/project/{{id}}/finance/next-year">Next year</a>
    </li>
</ul>