<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>
<div class="disp">
<b>Show:</b>  <input type="checkbox" ng-model="showDetails" ng-init="showDetails=true"> Details,&nbsp;
<input type="checkbox" ng-model="showStatus" ng-init="showStatus=true"> Status,&nbsp;
 <input type="checkbox" ng-model="showFinance" ng-init="showFinance=true"> Finance,&nbsp;
 <input type="checkbox" ng-model="showBusinesscase" ng-init="showBusinesscase=true"> Business case,&nbsp;
 <input type="checkbox" ng-model="showIssues" ng-init="showIssues=true"> Issues,&nbsp;
 <input type="checkbox" ng-model="showRisks" ng-init="showRisks=true"> Risks,&nbsp;
 <input type="checkbox" ng-model="showDeliverables" ng-init="showDeliverables=true"> Deliverables,&nbsp;
 <input type="checkbox" ng-model="showDepend" ng-init="showDepend=true"> Dependencies
</div>
<div id="project-overview" class="view">
    <div class="mainbox" id="overview">
        <h2 class="{{editstatus.status}}">
            {{project.title}} - {{project.state}}
        </h2>
        <table class="noborder nopadding smaller gutter-top">
            <tr ng-if="showDetails">
                <td>
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td>Business unit</td>
                                <td>{{project.bu.name}}</td>
                            </tr>
                            <tr>
                                <td>PM </td>
                                <td class="wrap">{{project.pm.name}}</td>
                            </tr>
                            <tr>
                                <td>PO </td>
                                <td class="wrap">{{project.po.name}}</td>
                            </tr>
                            <tr>
                                <td class="texttop">Steering members</td>
                                <td class="wrap">
                                    <pre>{{project.memberssteering}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="texttop">Project members</td>
                                <td class="wrap">
                                    <pre>{{project.membersproject}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="showStatus">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td colspan="4">Project status
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="showStatusFlags" ng-init="showStatusFlags=true"> Status flags, 
                                        <input type="checkbox" ng-model="showStatusElab" ng-init="showStatusElab=false"> Status elaboration
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="header">Project feedback</td>
                                <td prio-class prio-cs-render="editstatus.cs">{{editstatus.cs}}</td>
                                <td class="header">Product feedback</td>
                                <td prio-class prio-cs-render="editstatus.productcs">{{editstatus.productcs}}</td>
                            </tr>
                            <tr>
                                <td class="header">Status date</td>
                                <td>
                                    {{editstatus.date | date:'yyyy-MM-dd'}}
                                </td>
                                <td class="header">PO approval</td>
                                <td>
                                    {{editstatus.apo}}
                                </td>
                            </tr>
                            <tr>
                                <td class="{{editstatus.status}} l texttop">Overall status</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.overallcomments}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Demo date</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.demodate | date:'yyyy-MM-dd'}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags" class="header">
                                <td colspan="4">Status flags</td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statusbc}} l texttop">Business case</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.bccomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statussc}} l texttop">Scope</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.sccomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statustl}} l texttop">Time line</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.tlcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statusres}} l texttop">Resources</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.rescomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statusbud}} l texttop">Budget</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.budcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusFlags">
                                <td class="{{editstatus.statusrisk}} l texttop">Risks</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.riskcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusElab">
                                <td class="header" colspan="4">Status elaboration </td>
                            </tr>
                            <tr ng-if="showStatusElab">
                                <td class="label texttop">Delivered </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.del}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusElab">
                                <td class="label texttop">Next </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.next}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusElab">
                                <td class="label texttop">Concerns </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.concerns}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="showStatusElab">
                                <td class="label texttop">Changes </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.changes}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="showFinance">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="{{project.financeControl}}">Finance, TDKK</td>
                                <td>Prev</td>
                                <td>Q1</td>
                                <td>Q2</td>
                                <td>Q3</td>
                                <td>Q4</td>
                                <td>Year</td>
                                <td>Grand</td>
                            </tr>
                            <tr>
                                <td>Budget total</td>
                                <td class="sums">{{ project.finance.budTotalprev }}</td>
                                <td class="sums">{{ project.finance.budTotalq1 }}</td>
                                <td class="sums">{{ project.finance.budTotalq2 }}</td>
                                <td class="sums">{{ project.finance.budTotalq3 }}</td>
                                <td class="sums">{{ project.finance.budTotalq4 }}</td>
                                <td class="sums">{{ project.finance.budTotalSum }}</td>
                                <td class="sums">{{ project.finance.budTotalgrandSum }}</td>
                            </tr>
                            <tr>
                                <td>Posted total</td>
                                <td class="sums">{{ project.finance.postTotalprev }}</td>
                                <td class="sums">{{ project.finance.postTotalq1 }}</td>
                                <td class="sums">{{ project.finance.postTotalq2 }}</td>
                                <td class="sums">{{ project.finance.postTotalq3 }}</td>
                                <td class="sums">{{ project.finance.postTotalq4 }}</td>
                                <td class="sums">{{ project.finance.postTotalSum }}</td>
                                <td class="sums">{{ project.finance.postTotalgrandSum }}</td>
                            </tr>
                            <tr class="header">
                                <td>Deviation total</td>
                                <td class="sums">{{ project.finance.devTotalprev }}</td>
                                <td class="sums">{{ project.finance.devTotalq1 }}</td>
                                <td class="sums">{{ project.finance.devTotalq2 }}</td>
                                <td class="sums">{{ project.finance.devTotalq3 }}</td>
                                <td class="sums">{{ project.finance.devTotalq4 }}</td>
                                <td class="sums">{{ project.finance.devTotalSum }}</td>
                                <td class="sums">{{ project.finance.devTotalgrandSum }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

            <tr ng-if="showBusinesscase">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td colspan="8">Brief business case</td>
                            </tr>
                            <tr>
                                <td>Priorities</td>
                                <td class="label piecell">Prio total</td>
                                <td class="label piecell">{{company.projkpi1lable}}</td>
                                <td class="label piecell">{{company.projkpi2lable}}</td>
                                <td class="label piecell">{{company.projkpi3lable}}</td>
                                <td class="label piecell">{{company.projkpi4lable}}</td>
                                <td class="label piecell">{{company.projkpi5lable}}</td>
                                <td class="label piecell">{{company.projkpi6lable}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.total"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi1"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi2"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi3"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi4"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi5"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi6"></prio-mini-pie></td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Purpose </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.outcome}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Benefits </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.costbenefit}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Don't do impact </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.costrisk}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            
            <tr ng-if="showIssues && project.risks.length > 0">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="label l" colspan="100%">Issues 
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="showIssueImpact" ng-init="showIssueImpact=true"> Impact, 
                                        <input type="checkbox" ng-model="showIssueState" ng-init="showIssueState=true"> State, 
                                        <input type="checkbox" ng-model="showIssueRequest" ng-init="showIssueRequest=true"> Request, 
                                        <input type="checkbox" ng-model="showIssueAudience" ng-init="showIssueAudience=true"> Audience
                                    </div>
                                </td>
                            </tr>
                            <tr class="header">
                                <td class="label l">Title</td>
                                <td ng-if="showIssueImpact" class="label">Impact</td>
                                <td ng-if="showIssueState" class="label">State</td>
                                <td ng-if="showIssueRequest" class="label">Request</td>
                                <td ng-if="showIssueAudience" class="label">Audience</td>
                            </tr>
                            <tr ng-repeat="risk in project.risks | orderBy:'-total'" ng-click="goToRiskInProject(risk)" class="link texttop" 
                            ng-if="(risk.type=='Issue' && risk.state!='Closed') && 
                            (risk.audience!='Confidential' || (risk.audience=='Confidential' && (user.email==project.po.email || user.email==project.pm.email || user.isOwner ||  user.admin) && project.showconfrisk=='true'))">
                                <td class="{{risk.status}}">{{risk.title}}</td>
                                <td  ng-if="showIssueImpact" prio-class prio-risk-bar-render="risk.impact"></td>
                                <td ng-if="showIssueState">&nbsp;{{risk.state}}</td>
                                <td ng-if="showIssueRequest"><pre>{{risk.request}}</pre></td>
                                <td ng-if="showIssueAudience">&nbsp;{{risk.audience}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="showRisks && project.risks.length > 0">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="label l" colspan="100%">Risks 
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="showRiskResponsible" ng-init="showRiskResponsible=true"> Responsible, 
                                        <input type="checkbox" ng-model="showRiskResponse" ng-init="showRiskResponse=false"> Response, 
                                        <input type="checkbox" ng-model="showRiskProx" ng-init="showRiskProx=false"> Proximity, 
                                        <input type="checkbox" ng-model="showRiskRequest" ng-init="showRiskRequest=false"> Request, 
                                        <input type="checkbox" ng-model="showRiskDesc" ng-init="showRiskDesc=false"> Description, 
                                        <input type="checkbox" ng-model="showRiskAudience" ng-init="showRiskAudience=false"> Audience
                                    </div>
                                </td>
                            </tr>
                            <tr class="header">
                                <td class="label l">Risk</td>
                                <td class="label">Prob.</td>
                                <td class="label">Imp.</td>
                                <td ng-if="showRiskResponsible" class="label">Responsible</td>
                                <td ng-if="showRiskResponse" class="label">Response</td>
                                <td ng-if="showRiskProx" class="label">Proximity</td>
                                <td ng-if="showRiskRequest" class="label">Request</td>
                                <td ng-if="showRiskDesc" class="label">Description</td>
                                <td ng-if="showRiskAudience" class="label">Audience</td>
                            </tr>
                            <tr ng-repeat="risk in project.risks | orderBy:'-total'" ng-click="goToRiskInProject(risk)" class="link texttop" 
                            ng-if="(risk.type=='Risk' && risk.state!='Closed') && 
                            (risk.audience!='Confidential' || (risk.audience=='Confidential' && (user.email==project.po.email || user.email==project.pm.email || user.isOwner ||  user.admin) && project.showconfrisk=='true'))">
                                <td class="{{risk.status}}">{{risk.title}}</td>
                                <td prio-class prio-risk-bar-render="risk.prob"></td>
                                <td prio-class prio-risk-bar-render="risk.impact"></td>
                                <td ng-if="showRiskResponsible">&nbsp;{{risk.acc.name}}</td>
                                <td ng-if="showRiskResponse">&nbsp;{{risk.response}}</td>
                                <td ng-if="showRiskProx">&nbsp;{{risk.proximity}}</td>
                                <td ng-if="showRiskRequest"><pre>{{risk.request}}</pre></td>
                                <td ng-if="showRiskDesc"><pre>{{risk.desc}}</pre></td>
                                <td ng-if="showRiskAudience">&nbsp;{{risk.audience}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="showDeliverables">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist" ng-if="project.milestones.length > 0">
                            <tr class="header">
                                <td class="label l">(WSJF) Deliverable</td>
                                <td>2016</td>
                                <td>2017</td>
                                <td>2018</td>
                                <td class="label">State</td>
                                <td class="label">End Date</td>
                            </tr>
                            <tr ng-repeat="mile in project.milestones | orderBy:'enddate'" ng-click="goToMilestoneInProject(mile)" class="link" ng-if="mile.state!='Done' && mile.state!='Canceled'">
                                <td class="{{mile.status}}">({{mile.wsjf}}) {{mile.title}}</td>
                                <td class="bar xl" ng-style="barRender(mile)" colspan="3"></td>
                                <td>&nbsp;{{mile.state}}</td>
                                <td>&nbsp;{{mile.enddate | date:'yyyy-MM-dd'}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="showDepend">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td>Dependencies</td>
                                <td>Request/Response</td>
                                <td>Comments</td>
                            </tr>
                            <tr ng-if="project.res1fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res1skill" prio-size-render="project.res1">{{company.res1lable}}</td>
                                <td>{{project.res1fte}}</td><td>{{project.res1comment}}</td>
                            </tr>
                            <tr ng-if="project.res1fte != 'None'">
                                <td>{{project.res1owner}}</td><td>{{project.res1ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res2fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res2skill" prio-size-render="project.res2">{{company.res2lable}}</td>
                                <td>{{project.res2fte}}</td><td>{{project.res2comment}}</td>
                            </tr>
                            <tr ng-if="project.res2fte != 'None'">
                                <td>{{project.res2owner}}</td><td>{{project.res2ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res3fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res3skill" prio-size-render="project.res3">{{company.res3lable}}</td>
                                <td>{{project.res3fte}}</td><td>{{project.res3comment}}</td>
                            </tr>
                            <tr ng-if="project.res3fte != 'None'">
                                <td>{{project.res3owner}}</td><td>{{project.res3ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res4fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res4skill" prio-size-render="project.res4">{{company.res4lable}}</td>
                                <td>{{project.res4fte}}</td><td>{{project.res4comment}}</td>
                            </tr>
                            <tr ng-if="project.res4fte != 'None'">
                                <td>{{project.res4owner}}</td><td>{{project.res4ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res5fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res5skill" prio-size-render="project.res5">{{company.res5lable}}</td>
                                <td>{{project.res5fte}}</td><td>{{project.res5comment}}</td>
                            </tr>
                            <tr ng-if="project.res5fte != 'None'">
                                <td>{{project.res5owner}}</td><td>{{project.res5ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res6fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res6skill" prio-size-render="project.res6">{{company.res6lable}}</td>
                                <td>{{project.res6fte}}</td><td>{{project.res6comment}}</td>
                            </tr>
                            <tr ng-if="project.res6fte != 'None'">
                                <td>{{project.res6owner}}</td><td>{{project.res6ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res7fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res7skill" prio-size-render="project.res7">{{company.res7lable}}</td>
                                <td>{{project.res7fte}}</td><td>{{project.res7comment}}</td>
                            </tr>
                            <tr ng-if="project.res7fte != 'None'">
                                <td>{{project.res7owner}}</td><td>{{project.res7ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res8fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res8skill" prio-size-render="project.res8">{{company.res8lable}}</td>
                                <td>{{project.res8fte}}</td><td>{{project.res8comment}}</td>
                            </tr>
                            <tr ng-if="project.res8fte != 'None'">
                                <td>{{project.res8owner}}</td><td>{{project.res8ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res9fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res9skill" prio-size-render="project.res9">{{company.res9lable}}</td>
                                <td>{{project.res9fte}}</td><td>{{project.res9comment}}</td>
                            </tr>
                            <tr ng-if="project.res9fte != 'None'">
                                <td>{{project.res9owner}}</td><td>{{project.res9ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res10fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res10skill" prio-size-render="project.res10">{{company.res10lable}}</td>
                                <td>{{project.res10fte}}</td><td>{{project.res10comment}}</td>
                            </tr>
                            <tr ng-if="project.res10fte != 'None'">
                                <td>{{project.res10owner}}</td><td>{{project.res10ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res11fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res11skill" prio-size-render="project.res11">{{company.res11lable}}</td>
                                <td>{{project.res11fte}}</td><td>{{project.res11comment}}</td>
                            </tr>
                            <tr ng-if="project.res11fte != 'None'">
                                <td>{{project.res11owner}}</td><td>{{project.res11ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res12fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res12skill" prio-size-render="project.res12">{{company.res12lable}}</td>
                                <td>{{project.res12fte}}</td><td>{{project.res12comment}}</td>
                            </tr>
                            <tr ng-if="project.res12fte != 'None'">
                                <td>{{project.res12owner}}</td><td>{{project.res12ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res13fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res13skill" prio-size-render="project.res13">{{company.res13lable}}</td>
                                <td>{{project.res13fte}}</td><td>{{project.res13comment}}</td>
                            </tr>
                            <tr ng-if="project.res13fte != 'None'">
                                <td>{{project.res13owner}}</td><td>{{project.res13ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res14fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res14skill" prio-size-render="project.res14">{{company.res14lable}}</td>
                                <td>{{project.res14fte}}</td><td>{{project.res14comment}}</td>
                            </tr>
                            <tr ng-if="project.res14fte != 'None'">
                                <td>{{project.res14owner}}</td><td>{{project.res14ownercomment}}</td>
                            </tr>
                            
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>