<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>
<div class="disp">
<b>Show:</b>  <input type="checkbox" ng-model="project.filters.showDetails" ng-change="saveNow()"> Details,&nbsp;
<input type="checkbox" ng-model="project.filters.showStatus" ng-change="saveNow()"> Status,&nbsp;
<input type="checkbox" ng-model="project.filters.showDeliverables" ng-change="saveNow()"> Deliverables,&nbsp;
<input type="checkbox" ng-model="project.filters.showFinance" ng-change="saveNow()"> Finance,&nbsp;
 <input type="checkbox" ng-model="project.filters.showBusinesscase" ng-change="saveNow()"> Business case,&nbsp;
 <input type="checkbox" ng-model="project.filters.showIssues" ng-change="saveNow()"> Issues,&nbsp;
 <input type="checkbox" ng-model="project.filters.showRisks" ng-change="saveNow()"> Risks,&nbsp;
 
 <input type="checkbox" ng-model="project.filters.showDepend" ng-change="saveNow()"> Dependencies
        <div class="right">
            <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                ng-if="user.email == project.pm.email || user.email == project.altpm.email || user.admin"
                        ng-click="saveProject(project)">save view</button>
        </div>
</div>
<div id="project-overview" class="view">
    <div class="mainbox" id="overview">
        <h2 class="{{editstatus.status}}">
            {{project.title}}
        </h2>
        <table class="noborder nopadding smaller gutter-top">
            <tr>
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr>
                                    <td class="header" colspan="3">PO section</td>
                                    <td class="header">Saved by: {{editstatus.savedfinalby}}</td>
                                </tr>
                                <tr>
                                    <td class="header">PO feedback</td>
                                    <td>
                                        <select ng-model="editstatus.apo" ng-change="saveNow(editstatus)" ng-disabled="!editstatus.active || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                                                <option value="Not evaluated">Not evaluated</option>
                                                <option value="Please amend">Please amend</option>
                                                <option value="Approved">Approved</option>
                                        </select>
                                        
                                    </td>
                                    <td class="header">Status state</td>
                                    <td>
                                        <select ng-model="editstatus.statusstate" ng-change="saveNow(editstatus)"  ng-disabled="!editstatus.active || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                                                <option value="Draft">Draft</option>
                                                <option value="Ready for PM">Ready for PM</option>
                                                <option value="Ready for PO">Ready for PO</option>
                                                <option value="Final">Final</option>
                                        </select>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td prio-class prio-cs-render="editstatus.cs" class="header">Project feedback</td>
                                    <td>
                                        <select ng-model="editstatus.cs" ng-change="saveNow(editstatus)" ng-disabled="!editstatus.active || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                                            <option value="1">1. Total breakdown</option>
                                            <option value="2">2. No value</option>
                                            <option value="3">3. Lack of trust</option>
                                            <option value="4">4. Comply</option>
                                            <option value="5">5. Trust</option>
                                            <option value="6">6. Real value</option>
                                            <option value="7">7. Great value</option>
                                            <option value="8">8. Exeptional</option>
                                        </select>
                                        
                                    </td>
                                    <td prio-class prio-cs-render="editstatus.productcs" class="header">Product feedback</td>
                                    <td>
                                        <select ng-model="editstatus.productcs" ng-change="saveNow(editstatus)" ng-disabled="!editstatus.active || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                                            <option value="1">1. Total breakdown</option>
                                            <option value="2">2. No value</option>
                                            <option value="3">3. Lack of trust</option>
                                            <option value="4">4. Comply</option>
                                            <option value="5">5. Trust</option>
                                            <option value="6">6. Real value</option>
                                            <option value="7">7. Great value</option>
                                            <option value="8">8. Exeptional</option>
                                        </select>
                                        
                                    </td>
                                </tr>
                                <tr ng-if="(user.email == project.po.email || 
                                                user.email == project.altpo.email || 
                                                user.isOwner || 
                                                user.admin) && (editstatus.active == null || editstatus.active)">
                                    <td colspan="4">
                                        <div class="right">
                                            
                                            <button type="button" prio-class save-this="$parent.hasChanged"
                                            ng-show="saveStatusEnabled"
                                            ng-if="(user.email == project.po.email || 
                                                user.email == project.altpo.email || 
                                                user.isOwner || 
                                                user.admin) && (editstatus.active == null || editstatus.active)"
                                            ng-click="saveStatus(editstatus)">save PO feedback</button>
        
                                        </div>
                                    </td>
                                </tr>
                            </table>
        
        
                    </div>
                </td>
            </tr>
                    
            <tr ng-if="project.filters.showDetails">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td colspan="4">Project details</td>
                            </tr>
                            <tr>
                                <td class="header">Business unit</td>
                                <td>{{project.bu.name}}</td>
                                <td class="header">Portfolio</td>
                                <td>{{project.support}}</td>
                            </tr>
                            <tr>
                                <td class="header">State</td>
                                <td>{{project.state}}</td>
                                <td class="header">Audience</td>
                                <td>{{project.audience}}</td>
                            </tr>
                            <tr>
                                <td class="header">PM </td>
                                <td class="wrap">{{project.pm.name}}</td>
                                <td class="header">PO </td>
                                <td class="wrap">{{project.po.name}}</td>
                            </tr>
                            <tr>
                                <td class="header texttop">Steering members</td>
                                <td class="wrap texttop">
                                    <pre>{{project.memberssteering}}</pre>
                                </td>
                                <td class="header texttop">Project members</td>
                                <td class="wrap texttop">
                                    <pre>{{project.membersproject}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="project.filters.showStatus">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td colspan="4">Project status - {{editstatus.date | date:'yyyy-MM-dd HH:mm'}}
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="project.filters.showStatusFlags" ng-change="saveNow()"> Status flags, 
                                        <input type="checkbox" ng-model="project.filters.showStatusElab" ng-change="saveNow()"> Status elaboration,
                                        <input type="checkbox" ng-model="project.filters.showStatusSteerco" ng-change="saveNow()"> Steerco section
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="{{editstatus.status}} l texttop">Overall status</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.overallcomments}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td>Demo date</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.demodate | date:'yyyy-MM-dd'}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags" class="header">
                                <td colspan="4">Status flags</td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statusbc}} l texttop">Business case</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.bccomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statussc}} l texttop">Scope</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.sccomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statustl}} l texttop">Time line</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.tlcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statusres}} l texttop">Resources</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.rescomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statusbud}} l texttop">Budget</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.budcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusFlags">
                                <td class="{{editstatus.statusrisk}} l texttop">Risks</td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.riskcomments}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusElab">
                                <td class="header" colspan="4">Status elaboration </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusElab">
                                <td class="label texttop">Delivered </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.del}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusElab">
                                <td class="label texttop">Next </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.next}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusElab">
                                <td class="label texttop">Concerns </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.concerns}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusElab">
                                <td class="label texttop">Changes </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.changes}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusSteerco">
                                <td class="header" colspan="4">Steerco section </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusSteerco">
                                <td class="label texttop">Steerco date </td>
                                <td colspan="3" class="wrap xxxl">
                                    {{editstatus.steercodate | date:'yyyy-MM-dd'}}
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusSteerco">
                                <td class="label texttop">Agenda </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.steercoagenda}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusSteerco">
                                <td class="label texttop">Attendees </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.steercoattendees}}</pre>
                                </td>
                            </tr>
                            <tr ng-if="project.filters.showStatusSteerco">
                                <td class="label texttop">Minutes </td>
                                <td colspan="3" class="wrap xxxl">
                                    <pre>{{editstatus.steercominutes}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="project.filters.showDeliverables && project.milestones.length > 0">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="label l" colspan="100%">Project deliverables
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableGantt" ng-change="saveNow()"> Gantt, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableResp" ng-change="saveNow()"> Responsible, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableAcc" ng-change="saveNow()"> Approver, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableState" ng-change="saveNow()"> State, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableStart" ng-change="saveNow()"> Start date, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableEnd" ng-change="saveNow()"> End date, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableEffort" ng-change="saveNow()"> Effort, 
                                        <input type="checkbox" ng-model="project.filters.showDeliverableDesc" ng-change="saveNow()"> Description
                                    </div>
                                </td>
                            </tr>
                            <tr class="header">
                                <td class="label l">(WSJF) Deliverable</td>
                                <td ng-if="project.filters.showDeliverableGantt">2016</td>
                                <td ng-if="project.filters.showDeliverableGantt">2017</td>
                                <td ng-if="project.filters.showDeliverableGantt">2018</td>
                                <td ng-if="project.filters.showDeliverableResp">Responsible</td>
                                <td ng-if="project.filters.showDeliverableAcc">Approver</td>
                                <td ng-if="project.filters.showDeliverableStart">Start date</td>
                                <td ng-if="project.filters.showDeliverableEnd">End date</td>
                                <td ng-if="project.filters.showDeliverableEffort">Effort</td>
                                <td ng-if="project.filters.showDeliverableDesc">Description</td>
                            </tr>
                            <tr ng-repeat="mile in project.milestones | orderBy:'enddate'" ng-click="goToMilestoneInProject(mile)" class="link texttop" ng-if="mile.state!='Done' && mile.state!='Canceled'">
                                <td class="{{mile.status}}">({{mile.wsjf}}) {{mile.title}}</td>
                                <td ng-if="project.filters.showDeliverableGantt" class="bar xl" ng-style="barRender(mile)" colspan="3"><div ng-if="project.filters.showDeliverableState">{{mile.state}}</div></td>
                                <td ng-if="project.filters.showDeliverableResp">{{mile.responsible.name}}</td>
                                <td ng-if="project.filters.showDeliverableAcc">{{mile.acountable.name}}</td>
                                <td ng-if="project.filters.showDeliverableStart">{{mile.date | date:'yyyy-MM-dd'}}</td>
                                <td ng-if="project.filters.showDeliverableEnd">{{mile.enddate | date:'yyyy-MM-dd'}}</td>
                                <td ng-if="project.filters.showDeliverableEffort" prio-class prio-value-bar-render-neg="mile.effort">&nbsp;</td>
                                <td ng-if="project.filters.showDeliverableDesc"><pre>{{mile.delivarables}}</pre></td>
                                
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="project.filters.showFinance">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="{{project.financeControl}}">Finance, TDKK</td>
                                <td>Prev</td>
                                <td>Q1</td>
                                <td>Q2</td>
                                <td>Q3</td>
                                <td>Q4</td>
                                <td>Year</td>
                                <td>Grand</td>
                            </tr>
                            <tr>
                                <td>Budget total</td>
                                <td class="sums">{{ project.finance.budTotalprev }}</td>
                                <td class="sums">{{ project.finance.budTotalq1 }}</td>
                                <td class="sums">{{ project.finance.budTotalq2 }}</td>
                                <td class="sums">{{ project.finance.budTotalq3 }}</td>
                                <td class="sums">{{ project.finance.budTotalq4 }}</td>
                                <td class="sums">{{ project.finance.budTotalSum }}</td>
                                <td class="sums">{{ project.finance.budTotalgrandSum }}</td>
                            </tr>
                            <tr>
                                <td>Posted total</td>
                                <td class="sums">{{ project.finance.postTotalprev }}</td>
                                <td class="sums">{{ project.finance.postTotalq1 }}</td>
                                <td class="sums">{{ project.finance.postTotalq2 }}</td>
                                <td class="sums">{{ project.finance.postTotalq3 }}</td>
                                <td class="sums">{{ project.finance.postTotalq4 }}</td>
                                <td class="sums">{{ project.finance.postTotalSum }}</td>
                                <td class="sums">{{ project.finance.postTotalgrandSum }}</td>
                            </tr>
                            <tr class="header">
                                <td>Deviation total</td>
                                <td class="sums">{{ project.finance.devTotalprev }}</td>
                                <td class="sums">{{ project.finance.devTotalq1 }}</td>
                                <td class="sums">{{ project.finance.devTotalq2 }}</td>
                                <td class="sums">{{ project.finance.devTotalq3 }}</td>
                                <td class="sums">{{ project.finance.devTotalq4 }}</td>
                                <td class="sums">{{ project.finance.devTotalSum }}</td>
                                <td class="sums">{{ project.finance.devTotalgrandSum }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

            <tr ng-if="project.filters.showBusinesscase">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td colspan="8">Brief business case</td>
                            </tr>
                            <tr>
                                <td>Priorities</td>
                                <td class="label piecell">Prio total</td>
                                <td class="label piecell">{{company.projkpi1lable}}</td>
                                <td class="label piecell">{{company.projkpi2lable}}</td>
                                <td class="label piecell">{{company.projkpi3lable}}</td>
                                <td class="label piecell">{{company.projkpi4lable}}</td>
                                <td class="label piecell">{{company.projkpi5lable}}</td>
                                <td class="label piecell">{{company.projkpi6lable}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.total"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi1"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi2"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi3"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi4"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi5"></prio-mini-pie></td>
                                <td class="label piecell"><prio-mini-pie prio-val="project.kpi6"></prio-mini-pie></td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Purpose </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.outcome}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Benefits </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.costbenefit}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <td class="label l texttop">Don't do impact </td>
                                <td class="wrap" colspan="7">
                                    <pre>{{project.costrisk}}</pre>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            
            <tr ng-if="project.filters.showIssues && project.risks.length > 0">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="label l" colspan="100%">Issues 
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="project.filters.showIssueResponsible" ng-change="saveNow()"> Responsible, 
                                        <input type="checkbox" ng-model="project.filters.showIssueImpact" ng-change="saveNow()"> Impact, 
                                        <input type="checkbox" ng-model="project.filters.showIssueState" ng-change="saveNow()"> State, 
                                        <input type="checkbox" ng-model="project.filters.showIssueRequest" ng-change="saveNow()"> Request, 
                                        <input type="checkbox" ng-model="project.filters.showIssueAudience" ng-change="saveNow()"> Audience
                                    </div>
                                </td>
                            </tr>
                            <tr class="header">
                                <td class="label l">Title</td>
                                <td ng-if="project.filters.showIssueResponsible" class="label">Responsible</td>
                                <td ng-if="project.filters.showIssueImpact" class="label">Impact</td>
                                <td ng-if="project.filters.showIssueState" class="label">State</td>
                                <td ng-if="project.filters.showIssueRequest" class="label">Request</td>
                                <td ng-if="project.filters.showIssueAudience" class="label">Audience</td>
                            </tr>
                            <tr ng-repeat="risk in project.risks | orderBy:'-total'" ng-click="goToRiskInProject(risk)" class="link texttop" 
                            ng-if="(risk.type=='Issue' && risk.state!='Closed') && 
                            (risk.audience!='Confidential' || (risk.audience=='Confidential' && (user.email==project.po.email || user.email==project.pm.email || user.isOwner ||  user.admin) && project.showconfrisk=='true'))">
                                <td class="{{risk.status}}">{{risk.title}}</td>
                                <td ng-if="project.filters.showIssueResponsible">{{risk.acc.name}}</td>
                                <td  ng-if="project.filters.showIssueImpact" prio-class prio-risk-bar-render="risk.impact"></td>
                                <td ng-if="project.filters.showIssueState">&nbsp;{{risk.state}}</td>
                                <td ng-if="project.filters.showIssueRequest"><pre>{{risk.request}}</pre></td>
                                <td ng-if="project.filters.showIssueAudience">&nbsp;{{risk.audience}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="project.filters.showRisks && project.risks.length > 0">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td class="label l" colspan="100%">Risks 
                                    <div class="right"> 
                                        <input type="checkbox" ng-model="project.filters.showRiskResponsible" ng-change="saveNow()"> Responsible, 
                                        <input type="checkbox" ng-model="project.filters.showRiskResponse" ng-change="saveNow()"> Response, 
                                        <input type="checkbox" ng-model="project.filters.showRiskProx" ng-change="saveNow()"> Proximity, 
                                        <input type="checkbox" ng-model="project.filters.showRiskRequest" ng-change="saveNow()"> Request, 
                                        <input type="checkbox" ng-model="project.filters.showRiskDesc" ng-change="saveNow()"> Description, 
                                        <input type="checkbox" ng-model="project.filters.showRiskAudience" ng-change="saveNow()"> Audience
                                    </div>
                                </td>
                            </tr>
                            <tr class="header">
                                <td class="label l">Title</td>
                                <td class="label">Prob.</td>
                                <td class="label">Imp.</td>
                                <td ng-if="project.filters.showRiskResponsible" class="label">Responsible</td>
                                <td ng-if="project.filters.showRiskResponse" class="label">Response</td>
                                <td ng-if="project.filters.showRiskProx" class="label">Proximity</td>
                                <td ng-if="project.filters.showRiskRequest" class="label">Request</td>
                                <td ng-if="project.filters.showRiskDesc" class="label">Description</td>
                                <td ng-if="project.filters.showRiskAudience" class="label">Audience</td>
                            </tr>
                            <tr ng-repeat="risk in project.risks | orderBy:'-total'" ng-click="goToRiskInProject(risk)" class="link texttop" 
                            ng-if="(risk.type=='Risk' && risk.state!='Closed') && 
                            (risk.audience!='Confidential' || (risk.audience=='Confidential' && (user.email==project.po.email || user.email==project.pm.email || user.isOwner ||  user.admin) && project.showconfrisk=='true'))">
                                <td class="{{risk.status}}">{{risk.title}}</td>
                                <td prio-class prio-risk-bar-render="risk.prob"></td>
                                <td prio-class prio-risk-bar-render="risk.impact"></td>
                                <td ng-if="project.filters.showRiskResponsible">&nbsp;{{risk.acc.name}}</td>
                                <td ng-if="project.filters.showRiskResponse">&nbsp;{{risk.response}}</td>
                                <td ng-if="project.filters.showRiskProx">&nbsp;{{risk.proximity}}</td>
                                <td ng-if="project.filters.showRiskRequest"><pre>{{risk.request}}</pre></td>
                                <td ng-if="project.filters.showRiskDesc"><pre>{{risk.desc}}</pre></td>
                                <td ng-if="project.filters.showRiskAudience">&nbsp;{{risk.audience}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            
            <tr ng-if="project.filters.showDepend">
                <td colspan="3">
                    <div class="overview">
                        <table class="tablelist">
                            <tr class="header">
                                <td>Dependencies</td>
                                <td>Request/Response</td>
                                <td>Comments</td>
                            </tr>
                            <tr ng-if="project.res1fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res1skill" prio-size-render="project.res1">{{company.res1lable}}</td>
                                <td>{{project.res1fte}}</td><td>{{project.res1comment}}</td>
                            </tr>
                            <tr ng-if="project.res1fte != 'None'">
                                <td>{{project.res1owner}}</td><td>{{project.res1ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res2fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res2skill" prio-size-render="project.res2">{{company.res2lable}}</td>
                                <td>{{project.res2fte}}</td><td>{{project.res2comment}}</td>
                            </tr>
                            <tr ng-if="project.res2fte != 'None'">
                                <td>{{project.res2owner}}</td><td>{{project.res2ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res3fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res3skill" prio-size-render="project.res3">{{company.res3lable}}</td>
                                <td>{{project.res3fte}}</td><td>{{project.res3comment}}</td>
                            </tr>
                            <tr ng-if="project.res3fte != 'None'">
                                <td>{{project.res3owner}}</td><td>{{project.res3ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res4fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res4skill" prio-size-render="project.res4">{{company.res4lable}}</td>
                                <td>{{project.res4fte}}</td><td>{{project.res4comment}}</td>
                            </tr>
                            <tr ng-if="project.res4fte != 'None'">
                                <td>{{project.res4owner}}</td><td>{{project.res4ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res5fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res5skill" prio-size-render="project.res5">{{company.res5lable}}</td>
                                <td>{{project.res5fte}}</td><td>{{project.res5comment}}</td>
                            </tr>
                            <tr ng-if="project.res5fte != 'None'">
                                <td>{{project.res5owner}}</td><td>{{project.res5ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res6fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res6skill" prio-size-render="project.res6">{{company.res6lable}}</td>
                                <td>{{project.res6fte}}</td><td>{{project.res6comment}}</td>
                            </tr>
                            <tr ng-if="project.res6fte != 'None'">
                                <td>{{project.res6owner}}</td><td>{{project.res6ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res7fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res7skill" prio-size-render="project.res7">{{company.res7lable}}</td>
                                <td>{{project.res7fte}}</td><td>{{project.res7comment}}</td>
                            </tr>
                            <tr ng-if="project.res7fte != 'None'">
                                <td>{{project.res7owner}}</td><td>{{project.res7ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res8fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res8skill" prio-size-render="project.res8">{{company.res8lable}}</td>
                                <td>{{project.res8fte}}</td><td>{{project.res8comment}}</td>
                            </tr>
                            <tr ng-if="project.res8fte != 'None'">
                                <td>{{project.res8owner}}</td><td>{{project.res8ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res9fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res9skill" prio-size-render="project.res9">{{company.res9lable}}</td>
                                <td>{{project.res9fte}}</td><td>{{project.res9comment}}</td>
                            </tr>
                            <tr ng-if="project.res9fte != 'None'">
                                <td>{{project.res9owner}}</td><td>{{project.res9ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res10fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res10skill" prio-size-render="project.res10">{{company.res10lable}}</td>
                                <td>{{project.res10fte}}</td><td>{{project.res10comment}}</td>
                            </tr>
                            <tr ng-if="project.res10fte != 'None'">
                                <td>{{project.res10owner}}</td><td>{{project.res10ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res11fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res11skill" prio-size-render="project.res11">{{company.res11lable}}</td>
                                <td>{{project.res11fte}}</td><td>{{project.res11comment}}</td>
                            </tr>
                            <tr ng-if="project.res11fte != 'None'">
                                <td>{{project.res11owner}}</td><td>{{project.res11ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res12fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res12skill" prio-size-render="project.res12">{{company.res12lable}}</td>
                                <td>{{project.res12fte}}</td><td>{{project.res12comment}}</td>
                            </tr>
                            <tr ng-if="project.res12fte != 'None'">
                                <td>{{project.res12owner}}</td><td>{{project.res12ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res13fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res13skill" prio-size-render="project.res13">{{company.res13lable}}</td>
                                <td>{{project.res13fte}}</td><td>{{project.res13comment}}</td>
                            </tr>
                            <tr ng-if="project.res13fte != 'None'">
                                <td>{{project.res13owner}}</td><td>{{project.res13ownercomment}}</td>
                            </tr>
                            <tr ng-if="project.res14fte != 'None'">
                                <td rowspan="2" class="header" prio-class prio-skill-render="project.res14skill" prio-size-render="project.res14">{{company.res14lable}}</td>
                                <td>{{project.res14fte}}</td><td>{{project.res14comment}}</td>
                            </tr>
                            <tr ng-if="project.res14fte != 'None'">
                                <td>{{project.res14owner}}</td><td>{{project.res14ownercomment}}</td>
                            </tr>
                            
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
{{project.lastchangedby}} - {{project.lastchangeddate | date:'yyyy-MM-dd HH:mm'}}