<div id="projects-Gantt">
    <h2>Project list - Gantt
        <div class="right">
            <button ng-click="showmebuowner()" ng-show="showmeownerbutton">Show me as Owner</button>
            <button ng-click="clearmebuowner()" ng-show="!showmeownerbutton">Clear me as Owner</button>
            <button ng-click="showmepm()" ng-show="showmepmbutton">Show me as PM</button>
            <button ng-click="clearmepm()" ng-show="!showmepmbutton">Clear me as PM</button>
            <button ng-click="showmepo()" ng-show="showmepobutton">Show me as PO</button>
            <button ng-click="clearmepo()" ng-show="!showmepobutton">Clear me as PO</button>
            <button ng-click="showfilters=true" ng-show="!showfilters">Show filters</button>
            <button ng-click="showfilters=false" ng-show="showfilters">Hide filters</button>
        </div>
    </h2>
    <div class="smaller">
        <table ng-show="showfilters">
            <tr class="header">
                <td colspan="5">Filters</td>
            </tr>
            <tr class="header">
                <td class="filter-container">Unit
                    <div class="right">
                        <button ng-click="search.buname=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td class="filter-container">Portfolio
                    <div class="right">
                        <button ng-click="search.portname=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td class="filter-container">Project Owner
                    <div class="right">
                        <button ng-click="search.poname=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td class="filter-container">Project manager
                    <div class="right">
                        <button ng-click="search.pmname=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td class="filter-container">Project status
                    <div class="right">
                        <button ng-click="search.lastStatusFlag=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
            </tr>
            <tr class="filtertd">
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.buname"
                        ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.portname"
                        ng-options="port.name as port.name for port in company.portfolios | orderBy: 'level'"></select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.poname"
                        ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.pmname"
                        ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.lastStatusFlag">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
            </tr>
            <tr class="header">
                <td>State
                    <div class="right">
                        <button ng-click="search.state=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td>Type
                    <div class="right">
                        <button ng-click="search.type=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td>Affected
                    <div class="right">
                        <button ng-click="search.connect=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td>Priority
                    <div class="right">
                        <button ng-click="search.priority=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
                <td>Finance
                    <div class="right">
                        <button ng-click="search.financeFlag=[]" ng-show="showfilters">clear</button>
                    </div>
                </td>
            </tr>
            <tr class="filtertd">
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-model="search.state" ng-change="saveSearch()">
                        <option value="Template">Template</option>
                        <option value="Proposed">Proposed</option>
                        <option value="Progress">Progress</option>
                        <option value="Onhold">On hold</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Closed">Closed</option>
                    </select>

                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.type">
                        <option value="Project">Project</option>
                        <option value="Product">Product</option>
                    </select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.connect"
                        ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>

                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.priority">
                        <option value="1. Must">1. Must</option>
                        <option value="2. Should">2. Should</option>
                        <option value="3. Could(H1)">3. Could(H1)</option>
                        <option value="4. Backlog(H2)">4. Backlog(H2)</option>
                    </select>
                </td>
                <td>
                    <select class="multiple-select" multiple="multiple" ng-multiple="true" ng-change="saveSearch()" ng-model="search.financeFlag">
                        <option value="Green">Finance controlled (Green)</option>
                        <option value="Yellow">Please update (Yellow)</option>
                        <option value="Orange">Deviation unexplained (Orange)</option>
                        <option value="Red">Budget breached (Red)</option>
                    </select>
                </td>
            </tr>
            <tr class="header">
                <td colspan="5">Order by</td>
            </tr>
            <tr>
                <td colspan="5">
                    <select ng-model="porderparam" ng-init="porderparam='priority'">
                        <option value="priority">Portfolio priority</option>
                        <option value="-total">KPI: Total points</option>
                        <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                        <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                        <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                        <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                        <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                        <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                        <option value="title">Title</option>
                        <option value="bu.name">BU</option>
                        <option value="support.name">Portfolio</option>
                    </select>
                    <select ng-model="porderparam2" ng-init="porderparam2='-total'">
                        <option value="priority">Portfolio priority</option>
                        <option value="-total">KPI: Total points</option>
                        <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                        <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                        <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                        <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                        <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                        <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                        <option value="title">Title</option>
                        <option value="bu.name">BU</option>
                        <option value="support.name">Portfolio</option>
                    </select>
                    <select ng-model="porderparam3" ng-init="porderparam3='support.name'">
                        <option value="priority">Portfolio priority</option>
                        <option value="-total">KPI: Total points</option>
                        <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                        <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                        <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                        <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                        <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                        <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                        <option value="title">Title</option>
                        <option value="bu.name">BU</option>
                        <option value="support.name">Portfolio</option>
                    </select>

                    <div class="right">
                        <button ng-click="saveFilters()">Save as default</button>
                    </div>

                </td>
            </tr>
        </table>

        <div class="overview">
            <table class="tablelist" ng-if="projectList.length > 0">
                <tr class="header">
                    <td>Project</td>
                    <td colspan="4" style="text-align: center">2017</td>
                    <td colspan="4" style="text-align: center">2018</td>
                    <td colspan="4" style="text-align: center">2019</td>
                    <td ng-if="showPending"></td>
                </tr>
                <tr class="header">
                    <td>Pending action:
                        <input type="checkbox" ng-model="showPending" />
                    </td>
                    <td>Q1</td>
                    <td>Q2</td>
                    <td>Q3</td>
                    <td>Q4</td>
                    <td>Q1</td>
                    <td>Q2</td>
                    <td>Q3</td>
                    <td>Q4</td>
                    <td>Q1</td>
                    <td>Q2</td>
                    <td>Q3</td>
                    <td>Q4</td>
                    <td ng-if="showPending">Pending action</td>
                </tr>
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:[porderparam, porderparam2, porderparam3]" ng-if="!showPending || (project.pending && showPending)"
                    ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.lastStatus.status}}">
                        <b>{{project.title}}</b>
                    </td>


                    <td class="bar" ng-style="barRender(project.milestones[0])" colspan="12">{{project.priority}} - KPI: {{project.total}}</td>

                    <td class="texttop" ng-if="showPending">{{project.deccomment}}</td>

                </tr>
            </table>
        </div>
    </div>
</div>