<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
<!-- 	<servlet>
	    <servlet-name>TestServlet</servlet-name>
	    <display-name>Test Servlet</display-name>
	    <servlet-class>dk.theisborg.mongorest.SslMailer</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet> 
 -->  <welcome-file-list><welcome-file>index.html</welcome-file></welcome-file-list>
</web-app>
