<div class="fanes">
    <a class="fane system-menu-home" href="#/system/{{system._id.$oid}}">Overview</a>
    <a class="fane system-menu-details" href="#/system/{{system._id.$oid}}/details">Details</a>
    <a class="fane system-menu-access" href="#/system/{{system._id.$oid}}/access">Access</a>
    <a class="fane system-menu-perimeter" href="#/system/{{system._id.$oid}}/perimeter">Perimeter</a>
    <a class="fane system-menu-data" href="#/system/{{system._id.$oid}}/data">Data</a>
    <a class="fane system-menu-connections" href="#/system/{{system._id.$oid}}/connections">Connections</a>
    <a class="fane system-menu-controls" href="#/system/{{system._id.$oid}}/controls">Controls</a>
</div>
