<h2 class="center {{system.statusFlag}}">
    {{system.title}}
</h2>
<prio-system-menu prio-system-id="{{system._id.$oid}}"></prio-system-menu>
<div class="view">
    <div class="popup">
        <div class="overview popupcontent">
            <div class="actions">
                <div class="layout">
                    <div class="layoutelement">
                        <button type="button" id="saveButton1" prio-class save-this="$parent.hasChanged"
                            ng-if="user.changeContent" ng-click="saveContinuitys()">save</button>
                    </div>
                    <div class="layoutelement center">
                        <button type="button" ng-if="user.changeContent"
                            ng-click="newCloneContinuity(editcontinuity)">clone</button>
                        <button type="button" class="Red" ng-click="removeContinuity(editcontinuity)"
                            ng-show="$parent.deleteThis" ng-if="user.changeContent">confirm
                            delete!!!</button>
                        <button type="button" ng-click="delete()" ng-show="!$parent.deleteThis"
                            ng-if="user.changeContent">delete</button>
                    </div>
                    <div class="layoutelement right">
                        <button type="button" class="close" ng-click="close()"></button>
                    </div>
                </div>
            </div>
            <h3 class="{{editcontinuity.status}}">
                {{editcontinuity.title}}
            </h3>
            <table class="formtable smaller">
                <tr>
                    <td class="formlabel">Title</td>
                    <td>
                        <input ng-model="editcontinuity.title" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent" />
                    </td>
                </tr>
                <tr>

                    <td class="formlabel">Show in report</td>
                    <td>
                        <input type="checkbox" ng-model="editcontinuity.showInReport"
                            ng-change="saveNow(editcontinuity)" ng-disabled="!user.changeContent">
                    </td>
                </tr>
                
                <tr>
                    <td class="formlabel">Plan purpose</td>
                    <td>
                        <textarea ng-change="saveNow(editcontinuity)" ng-model="editcontinuity.purpose" maxlength="800"
                            id="continuitydec" placeholder="Describe the purpose."
                            ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Plan step description</td>
                    <td>
                        <textarea ng-change="saveNow(editcontinuity)" ng-model="editcontinuity.description"
                            maxlength="800" id="continuitydec" placeholder="Describe the plan."
                            ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="formlabel">Plan type</td>
                    <td>
                        <select ng-model="editcontinuity.type" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent">
                            <option value="System recovery">System recovery</option>
                            <option value="Data recovery">Data recovery</option>
                            <option value="Work around">Work around</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Status</td>
                    <td>
                        <select ng-model="editcontinuity.status" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent">
                            <option value="Green">OK (Green)</option>
                            <option value="Yellow">Observe (Yellow)</option>
                            <option value="Orange">Assist (Orange)</option>
                            <option value="Red">Intervention (Red)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Responsible</td>
                    <td>
                        <select ng-model="editcontinuity.pm" ng-disabled="!user.changeContent"
                            ng-change="saveNow(editcontinuity)"
                            ng-options="u.name for u in tempusers | filter: {source: true} | orderBy:'name' track by u.name">
                        </select>

                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Accountable</td>
                    <td>
                        <select ng-model="editcontinuity.po" ng-disabled="!user.changeContent"
                            ng-change="saveNow(editcontinuity)"
                            ng-options="u.name for u in tempusers | filter: {source: true} | orderBy:'name' track by u.name">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Support phone</td>
                    <td>
                        <input ng-model="editcontinuity.supportphone" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent" />
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Support email</td>
                    <td>
                        <input ng-model="editcontinuity.supportemail" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent" />
                    </td>
                </tr>
            </table>
            <h3>Control</h3>
            <table class="formtable smaller">
                <tr>
                    <td class="formlabel">Use standard control</td>
                    <td>
                        <select ng-model="editcontinuity.controltemplate"
                            ng-change="usecontroltemplate(editcontinuity.controltemplate, editcontinuity);saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent"
                            ng-options="control.title for control in company.standardcontrols | filter: {target: 'Continuity'} | orderBy:'title' track by control.title">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Control responsible</td>
                    <td>
                        <select ng-model="editcontinuity.conresp" id="contresp" ng-disabled="!user.changeContent"
                            ng-change="saveNow(editcontinuity)">
                            <option ng-repeat="u in tempusers | filter: {source: true} | orderBy:'name'"
                                value="{{u.name}}">{{u.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Control accountable</td>
                    <td>
                        <select ng-model="editcontinuity.conacc" id="contacc" ng-disabled="!user.changeContent"
                            ng-change="saveNow(editcontinuity)">
                            <option ng-repeat="u in tempusers | filter: {source: true} | orderBy:'name'"
                                value="{{u.name}}">{{u.name}}</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="formlabel">Control description</td>
                    <td>
                        <textarea ng-change="saveNow(editcontinuity)" ng-model="editcontinuity.controldescription"
                            maxlength="800" id="controldec" placeholder="Describe the control."
                            ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Control level</td>
                    <td>
                        <select ng-model="editcontinuity.level" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent">
                            <option value="Ad hoc Internal">Ad hoc Internal</option>
                            <option value="Ad hoc External">Ad hoc External</option>
                            <option value="Mandatory Internal">Mandatory Internal</option>
                            <option value="Mandatory External">Mandatory External</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Control frequency</td>
                    <td>
                        <select ng-model="editcontinuity.freq" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent">
                            <option value="Weekly">Weekly</option>
                            <option value="Bi-weekly">Bi-weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Half yearly">Half yearly</option>
                            <option value="Yearly">Yearly</option>
                            <option value="On request">On request</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Next control</td>
                    <td>
                        <input type="text" id="nextdate" datepicker="" ng-model="editcontinuity.rawnextdate"
                            ng-change="saveNow(editcontinuity)" class="cal" ng-disabled="!user.changeContent" />
                        {{editcontinuity.nextdate | date:'longDate'}}
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Last control</td>
                    <td>
                        <input type="text" id="lastdate" datepicker="" ng-model="editcontinuity.rawlastdate"
                            ng-change="saveNow(editcontinuity)" class="cal" ng-disabled="!user.changeContent" />
                        {{editcontinuity.lastdate | date:'longDate'}}
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Last control result</td>
                    <td>
                        <select ng-model="editcontinuity.result" ng-change="saveNow(editcontinuity)"
                            ng-disabled="!user.changeContent">
                            <option value="Control not passed">Control not passed</option>
                            <option value="Control insuficient">Control insuficient</option>
                            <option value="Control passed">Control passed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Control conclusion</td>
                    <td>
                        <textarea ng-change="saveNow(editcontinuity)" ng-model="editcontinuity.conclusion"
                            maxlength="800" id="controldec" placeholder="Describe the control."
                            ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>
            </table>
            <h3>Comments</h3>
            <table class="formtable smaller">
                <tr>
                    <td class="formlabel">Comment</td>
                    <td>
                        <textarea ng-model="newcomment" maxlength="800" id="newcom" placeholder="Create comment"
                            ng-disabled="!user.changeContent"></textarea>
                        <button type="button" id="commentadd" prio-class ng-if="user.changeContent"
                            ng-click="addcomment(editcontinuity)">Add comment</button>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Comment log</td>
                    <td>
                        <pre>{{editcontinuity.commentslist}}</pre>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel"></td>
                    <td>
                        <button type="button" id="clearcomment" prio-class class="right" ng-if="user.changeContent"
                            ng-click="clearcomment(editcontinuity)" ng-show="!$parent.clearThis">Clear all
                            comments</button>
                        <button type="button" ng-click="confirmclearcomment(editcontinuity)" ng-show="$parent.clearThis"
                            ng-if="user.changeContent">Confirm clear all comments</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mainbox">
        <div class="{{system.continuity.securityownerfeedback}}">Security assesment
            <select ng-model="system.continuity.securityownerfeedback" ng-change="saveContinuitys()"
                ng-disabled="!user.changeContent" ng-show="user.securityowner || user.admin">
                <option value="Green">OK (Green)</option>
                <option value="Yellow">Observe (Yellow)</option>
                <option value="Orange">Assist (Orange)</option>
                <option value="Red">Intervention (Red)</option>
            </select>
        </div>
        <div class="right">
            <button type="button" ng-click="newContinuity()" ng-if="user.changeContent">create new
                continuity</button>
        </div>
        <div class="overview">
            <table class="tablelist smaller" ng-if="system.continuitys.length > 0">
                <tr class="header">
                    <td>Continuity plan</td>
                    <td>Data category</td>
                    <td>Plan type</td>
                    <td>Responsible</td>
                    <td>Last control</td>
                    <td>Control result</td>
                    <td>Report</td>
                </tr>
                <tr ng-repeat="continuity in system.continuitys | orderBy:'title'" class="link">
                    <td ng-click="beginEditContinuity(continuity)" class="{{continuity.status}}">
                        <b>{{continuity.title}}</b></td>
                    <td ng-click="beginEditContinuity(continuity)">{{continuity.datacat}}</td>
                    <td ng-click="beginEditContinuity(continuity)">{{continuity.type}}</td>
                    <td ng-click="beginEditContinuity(continuity)">{{continuity.pm.name}}</td>
                    <td ng-click="beginEditContinuity(continuity)">{{continuity.lastdate | date:'longDate'}}</td>
                    <td ng-click="beginEditContinuity(continuity)">{{continuity.result}}</td>
                    <td><input type="checkbox" ng-model="continuity.showInReport" ng-change="saveContinuitys()"
                            ng-disabled="!user.changeContent"></td>
                </tr>
            </table>
            <h4>Links</h4>
            <table class="smaller gutter-top">
                <tr class="header">
                    <td colspan="4">Links to documentation
                        <div class="right">
                            <button ng-if="user.changeContent" ng-click="addlink('IT continuity')"
                                ng-if="user.changeContent">create link</button>
                        </div>
                    </td>
                </tr>
                <tr class="header" ng-if="system.linklist.length > 0">
                    <td>Title</td>
                    <td>URL</td>
                    <td>Show in report</td>
                    <td>Follow link</td>
                </tr>
                <tr ng-repeat="link in system.linklist" ng-if="link.lable=='IT continuity'">
                    <td ng-click="editlinkitem(link)">
                        {{link.title}}
                    </td>
                    <td ng-click="editlinkitem(link)">
                        {{link.url}}
                    </td>
                    <td class="Green" ng-show="link.showinreport">Show</td>
                    <td class="Red" ng-show="!link.showinreport">Hide</td>
                    <td>
                        <a target="_blank" href="{{link.url}}">
                            <div class="linkicon right"></div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="popuplink">
            <div class="overview popupcontent">
                <div class="actions">
                    <div class="layout">
                        <div class="layoutelement">
                            <button type="button" id="saveButton5" ng-if="user.changeContent"
                                ng-click="savelink(editlink)">save</button>
                        </div>
                        <div class="layoutelement center">
                            <button type="button primary" class="Red" ng-click="dellink(editlink)"
                                ng-if="user.changeContent">delete</button>
                        </div>
                        <div class="layoutelement right">
                            <button type="button" class="close" ng-click="closelink(editlink)"></button>
                        </div>
                    </div>
                </div>
                <h3>
                    Edit link
                </h3>
                <table class="formtable smaller">
                    <tr>
                        <td class="formlabel">Link title</td>
                        <td><input ng-model="editlink.title" /></td>
                    </tr>
                    <tr>
                        <td class="formlabel">Link URL</td>
                        <td><input ng-model="editlink.url" /></td>
                    </tr>
                    <tr>
                        <td class="formlabel">Show link in report</td>
                        <td><input type="checkbox" ng-model="editlink.showinreport"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>