<div class="fanes">
        <a class="fane details-menu-details" href="#/project/{{id}}/details">Basics</a>
        <a ng-show="{{showsimplestatus}}" class="fane details-menu-simplestatus" href="#/project/{{id}}/details/simplestatus">Status</a>
        <a class="fane details-menu-priority" href="#/project/{{id}}/details/priority">Priority</a>
        <a class="fane details-menu-owners" href="#/project/{{id}}/details/owners">Owners</a>
        <a class="fane details-menu-businesscase" href="#/project/{{id}}/details/businesscase">Business case</a>
</div>