<div id="projects-overview">
    <h2>Project list - Overview</h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label" style="height:120px;">
                Filter by:<br/>
                BU<br/>PO<br/>PM
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.buname">
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.poname">
                    <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.pmname">
                    <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label" style="height:120px;">
                Filter by:<br/>
                State<br/>Audience<br/>Portfolio
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.state">
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.audience">
                    <option value="Project">Project</option>
                    <option value="Portfolio">Portfolio</option>
                    <option value="Company">Company</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.support">
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview"> 
            <table class="tablelist" ng-if="projectList.length > 0">
                <tr class="listsubject">
                    <td colspan="7">
                        <h3>Projects</h3>
                    </td>
                </tr>
                <tr class="header">
                    <td>Project, PM<br/>BU, PO</td>
                    <td>Status state<br/>PO approval</td>
                    <td colspan="2">Project/Product<br/>User feedback</td>
                    <td>Status date<br/>Demo date</td>
                </tr>
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.lastStatus.status}}">
                        <b>{{project.title}}</b>, {{project.pm.name}}
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b>{{project.bu.name}}</b>, {{project.po.name}}
                    </td>
                    <td>
                        {{project.lastStatus.statusstate}}
                        <br/>
                        {{project.lastStatus.apo}}
                    </td>
                    <td prio-class prio-cs-render="project.lastStatus.cs">
                        {{project.lastStatus.cs}}
                    </td>
                    <td prio-class prio-cs-render="project.lastStatus.productcs">
                        {{project.lastStatus.productcs}}
                    </td>
                    <td>
                        <div class="right">
                            {{project.lastStatus.date | date:'yyyy-MM-dd'}}
                            <br/>
                            {{project.lastStatus.demodate | date:'yyyy-MM-dd'}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>