<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<div id="linkdiv4" class="view">
    <div id="popdiv4" ng-show="showMilestoneForm">
        <h2 class="{{editmile.status}}">
            ({{editmile.wsjf}}) {{editmile.title}}
            <div class="right">
                <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.admin"
                        ng-click="saveMilestones(true)">save</button>
                <button type="button" ng-click="hideMilestoneForm()">close</button>
            </div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Title</td>
                <td>
                    <div class="field">
                        <input ng-model="editmile.title" ng-change="saveNow(editmile)"/>
                    </div>
                </td>
                <td class="header">Audience</td>
                <td>
                    <select ng-model="editmile.audience" ng-change="saveNow(editmile)">
                        <option value="Project">Project</option>
                        <option value="Portfolio">Portfolio</option>
                        <option value="Company">Company</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">Type</td>
                <td>
                    <select ng-model="editmile.type" ng-change="saveNow(editmile)">
                        <option value="Milestone">Milestone</option>
                        <option value="Roadmap item">Roadmap item</option>
                        <option value="Phase">Phase</option>
                        <option value="Task">Task</option>
                        <option value="Go-live">Go-live</option>
                        <option value="Valuable">Valuable</option>
                    </select>
                    
                </td>
                <td class="header">Show in report</td>
                <td>
                        <input type="checkbox" ng-model="editmile.showInReport" ng-change="saveNow(editmile)">
                </td>
            </tr>
            <tr>
                <td class="header">Delivery responsible</td>
                <td>
                    <select ng-model="editmile.responsible"  ng-change="saveNow(editmile)" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                </td>
                <td class="header">Delivery approver</td>
                <td>
                    <select ng-model="editmile.acountable"  ng-change="saveNow(editmile)" ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name"></select>
                </td>
            </tr>
            <tr>
                <td class="header">Start Date</td>
                <td>
                    
                        <input type="text" id="miledate" datepicker="" ng-model="editmile.date" ng-change="saveNow(editmile); dateChanged(editmile.date)"  class="cal"/>
                        {{editmile.date | date:'longDate'}}
                    
                </td>
                <td class="header">End Date</td>
                <td>
                    
                        <input type="text" id="mileenddate" datepicker="" ng-model="editmile.enddate" ng-change="saveNow(editmile); dateChanged(editmile.enddate)"  class="cal"/>
                        {{editmile.enddate | date:'longDate'}}
                    
                </td>
            </tr>
            <tr>
                <td class="header">Status</td>
                <td>
                    <select ng-model="editmile.status" ng-change="saveNow(editmile)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td class="header">State</td>
                <td>
                    <select ng-model="editmile.state" ng-change="saveNow(editmile)">
                        <option value="Target">Target</option>
                        <option value="Qualified">Qualified</option>
                        <option value="Progress">Progress</option>
                        <option value="Done">Done</option>
                        <option value="Canceled">Canceled</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header">WSJF = {{editmile.wsjf}}</td>
                <td class="header">Value enabler</td>
                <td class="header"></td>
                <td class="header">Value limiter</td>
            </tr>
            <tr>
                <td class="header" prio-class prio-value-bar-render="editmile.bena">Business enabler</td>
                <td>
                    <select ng-model="editmile.bena" ng-change="saveNow(editmile)">
                        <option value="1">1. Minimal value</option>
                        <option value="2">2. Medium value</option>
                        <option value="3">3. Large value</option>
                        <option value="4">4. Game changer</option>
                    </select>
                </td>
                <td class="header" prio-class prio-value-bar-render-neg="editmile.effort">Effort</td>
                <td>
                    <select ng-model="editmile.effort" ng-change="saveNow(editmile)">
                        <option value="1">1. Minimal effort</option>
                        <option value="2">2. Medium effort</option>
                        <option value="3">3. Large effort</option>
                        <option value="4">4. Unknown effort</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="header" prio-class prio-value-bar-render="editmile.sena">Strategy enabler</td>
                <td>
                    <select ng-model="editmile.sena" ng-change="saveNow(editmile)">
                        <option value="1">1. Minimal value</option>
                        <option value="2">2. Medium value</option>
                        <option value="3">3. Large value</option>
                        <option value="4">4. Game changer</option>
                    </select>
                </td>
                <td class="header" prio-class prio-value-bar-render-neg="editmile.risklevel">Risk of failure</td>
                <td>
                    <select ng-model="editmile.risklevel" ng-change="saveNow(editmile)">
                        <option value="1">1. Slim risk</option>
                        <option value="2">2. Could happen</option>
                        <option value="3">3. Likely to happen</option>
                        <option value="4">4. Most likely to happen</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Description<span id="miledel_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow(editmile)" ng-model="editmile.delivarables" maxlength="300" id="miledel" placeholder="Describe the key business delivery that this deliverable will produce."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                    <td>
                        <p>Definition of Done<span id="miledel_count" class="right"></span></p>
                    </td>
                    <td colspan="3">
                        <div class="field">
                            <textarea ng-change="saveNow(editmile)" ng-model="editmile.dod" maxlength="300" id="miledel" placeholder="Describe the definition of Done."></textarea>
                        </div>
                    </td>
                </tr>
                    
            <tr>
                <td>
                    <p>Value enablers<span id="milecom_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow(editmile)" ng-model="editmile.comments" maxlength="300" id="milecom" placeholder="Describe the enablers of creating value both on implementation and if it enables further strategic work in the future"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Value limiters<span id="milerisk_count" class="right"></span></p>
                </td>
                <td colspan="3">
                    <div class="field">
                        <textarea ng-change="saveNow(editmile)" ng-model="editmile.risks" maxlength="300" id="milerisk" placeholder="Describe the limiters that work against creating value like the amount of work and the assosiated risk of failure"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="right">

                        <button type="button" 
                            ng-click="$parent.deleteThis=true" 
                            ng-show="!$parent.deleteThis"
                            ng-if="user.email==project.po.email || 
                            user.email==project.pm.email || 
                            user.isOwner || user.admin">delete</button>
                        <button type="button" class="Red"
                            ng-click="$parent.deleteThis=false; removeMilestone(editmile)" 
                            ng-show="$parent.deleteThis"
                            ng-if="user.email==project.po.email || 
                            user.email==project.pm.email || 
                            user.isOwner || user.admin">confirm delete!!!</button>


                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="mainbox" id="milestonelist" ng-show="!showMilestoneForm">
        <h2>
            Deliverables
            <div class="right"> 
                <select ng-model="orderdate" ng-init="orderdate='enddate'" style="font-size: 12px;">
                    <option value="enddate" selected="selected">Order by end date</option>
                    <option value="date">Order by start date</option>
                    <option value="-wsjf">Order by WSJF</option>
                </select>
                <button type="button"
                    ng-click="newMilestone()"
                    ng-if="user.email==project.po.email || 
                    user.email==project.pm.email || 
                    user.email==project.altpo.email || 
                    user.email==project.altpm.email || 
                    user.isOwner || user.admin">create new deliverable</button>

                <button type="button" id="saveButtonQ" prio-class save-this="$parent.hasChanged"
                    ng-if="user.email == project.po.email || 
                    user.email == project.pm.email || 
                    user.email == project.altpo.email || 
                    user.email == project.altpm.email || 
                    user.isOwner || 
                    user.admin"
                    ng-click="saveMilestones(false)">save</button>
            </div>
        </h2>
        <div class="overview">
            <table class="tablelist smaller" ng-if="project.milestones.length > 0">
                <tr class="header">
                    <td>Title <div class="right"><input type="checkbox" ng-model="showDone" ng-init="showDone=false"> show done</div></td>
                    <td>WSJF<br/>Type</td>
                    <td>2017</td>
                    <td>2018</td>
                    <td>2019</td>
                    <td>Start Date<br/>End Date</td>
                    <td>Responsible<br/>Approver</td>
                    <td>Show in<br/>Report</td>
                </tr>
                <tr ng-repeat="mile in project.milestones | orderBy:orderdate" ng-if="showDone || (!showDone && mile.state!='Done')" class="link">
                    <td ng-click="beginEditMile(mile)" class="{{mile.status}}"><b>{{mile.title}}</b></td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.wsjf}}</b><br/>{{mile.type}}</td>
                    <td ng-click="beginEditMile(mile)" class="bar" ng-style="barRender(mile)" colspan="3">{{mile.state}}</td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.date | date:'longDate'}}</b><br/>{{mile.enddate | date:'longDate'}}</td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.responsible.name }}</b><br/>{{mile.acountable.name }}</td>
                    <td><input type="checkbox" ng-model="mile.showInReport" ng-change="saveNowQuick()"></td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>