<h2 class="center {{project.lastStatusFlag}}">
    {{project.type}} - {{project.title}} ({{project.projectnumber}})
</h2>
<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>
<div class="view">
    <div class="popup">
        <div class="overview popupcontent">
            <div class="actions">
                <div class="layout">
                    <div class="layoutelement">
                        <button type="button" id="saveButton" save-this="$parent.hasChanged" ng-if="user.changeContent"
                            ng-click="saveMilestones(true)">save</button>
                    </div>
                    <div class="layoutelement center">
                        <button type="button" ng-if="user.changeContent"
                            ng-click="newCloneMilestone(editmile)">clone</button>
                        <button type="button" ng-click="$parent.deleteThis=true" ng-show="!$parent.deleteThis"
                            ng-if="user.changeContent && !editmile.prime">delete</button>
                        <button type="button primary" class="Red"
                            ng-click="$parent.deleteThis=false; removeMilestone(editmile)" ng-show="$parent.deleteThis"
                            ng-if="user.changeContent && !editmile.prime">confirm
                            delete!</button>
                    </div>
                    <div class="layoutelement right">
                        <button type="button" class="close" ng-click="close()"></button>
                    </div>
                </div>
            </div>
            <h3 class="{{editmile.status}}">
                {{editmile.title}}
            </h3>
            <table class="formtable smaller">
                <tr>
                    <td class="formlabel">Title</td>
                    <td><input ng-model="editmile.title" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent || editmile.prime" /></td>
                </tr>
                <tr>
                    <td class="formlabel">Show in report</td>
                    <td><input type="checkbox" ng-model="editmile.showInReport" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent"></td>
                </tr>
                <tr>
                    <td class="formlabel">Audience</td>
                    <td>
                        <select ng-model="editmile.audience" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="Internal">Internal</option>
                            <option value="Portfolio">Portfolio</option>
                            <option value="Company">Company</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Type</td>
                    <td>
                        <select ng-model="editmile.type" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent" ng-show="!editmile.first">
                            <option value="Roadmap item">Roadmap item</option>
                            <option value="Activity">Activity</option>
                        </select>
                        <div ng-show="editmile.first">{{editmile.type}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Priority</td>
                    <td>

                        <select ng-model="editmile.priority" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent || editmile.prime">
                            <option value="1. Mandatory">1. Mandatory</option>
                            <option value="2. Top priority">2. Top priority</option>
                            <option value="3. High priority">3. High priority</option>
                            <option value="4. Needed">4. Needed</option>
                            <option value="5. Valued">5. Valued</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Delivery responsible</td>
                    <td>
                        <select ng-model="editmile.responsible" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent" ng-show="!editmile.first">
                            <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">
                                {{u.name}}</option>
                        </select>
                        <div ng-show="editmile.first">{{editmile.responsible}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Delivery approver</td>
                    <td>
                        <select ng-model="editmile.acountable" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent" ng-show="!editmile.first">
                            <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">
                                {{u.name}}</option>
                        </select>
                        <div ng-show="editmile.first">{{editmile.acountable}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Start Date</td>
                    <td>

                        <input type="text" id="miledate" datepicker="" ng-model="editmile.rawdate"
                            ng-change="saveNow(editmile)" class="cal" ng-disabled="!user.changeContent" />
                        {{editmile.date | date:'longDate'}}

                    </td>
                </tr>
                <tr>
                    <td class="formlabel">End Date</td>
                    <td>

                        <input type="text" id="mileenddate" datepicker="" ng-model="editmile.rawenddate"
                            ng-change="saveNow(editmile)" class="cal" ng-disabled="!user.changeContent" />
                        {{editmile.enddate | date:'longDate'}}

                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Status</td>
                    <td>
                        <select ng-model="editmile.status" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="Green">OK (Green)</option>
                            <option value="Yellow">Observe (Yellow)</option>
                            <option value="Orange">Assist (Orange)</option>
                            <option value="Red">Intervention (Red)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">State</td>
                    <td>
                        <select ng-model="editmile.state" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="Target">Target</option>
                            <option value="Progress">Progress</option>
                            <option value="Done">Done</option>
                            <option value="Canceled">Canceled</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">WSJF</td>
                    <td>{{editmile.wsjf}}</td>
                </tr>
                <tr>
                    <td class="formlabel">Value enabler</td>
                    <td>{{editmile.enablerlable}}</td>
                </tr>
                <tr>
                    <td class="formlabel">Value limiter</td>
                    <td>{{editmile.limiterlable}}</td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render="editmile.bena">Platform enabler</td>
                    <td>
                        <select ng-model="editmile.bena" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1. Minimal value</option>
                            <option value="2">2. Medium value</option>
                            <option value="3">3. Large value</option>
                            <option value="4">4. Game changer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render="editmile.sena">Strategy enabler</td>
                    <td>
                        <select ng-model="editmile.sena" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1. Minimal value</option>
                            <option value="2">2. Medium value</option>
                            <option value="3">3. Large value</option>
                            <option value="4">4. Game changer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render="editmile.cena">Customer enabler</td>
                    <td>
                        <select ng-model="editmile.cena" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1. None</option>
                            <option value="2">2. Customer benefit</option>
                            <option value="3">3. Customer demand</option>
                            <option value="4">4. Deal maker</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render="editmile.mena">Market enabler</td>
                    <td>
                        <select ng-model="editmile.mena" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1. None</option>
                            <option value="2">2. Catch up</option>
                            <option value="3">3. Market leading</option>
                            <option value="4">4. Game changer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render-neg="editmile.effort">Effort</td>
                    <td>
                        <select ng-model="editmile.effort" ng-disabled="true">
                            <option value="1">1. Minimal effort</option>
                            <option value="2">2. Medium effort</option>
                            <option value="3">3. Large effort</option>
                            <option value="4">4. Unknown effort</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Highlevel hour estimate</td>
                    <td>
                        <select ng-model="editmile.estimate" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1 hour</option>
                            <option value="2">2 hour</option>
                            <option value="3">3 hour</option>
                            <option value="5">5 hour</option>
                            <option value="8">8 hour</option>
                            <option value="13">13 hour</option>
                            <option value="20">20 hour</option>
                            <option value="40">40 hour</option>
                            <option value="60">60 hour</option>
                            <option value="80">80 hour</option>
                            <option value="100">100 hour</option>
                            <option value="150">150 hour</option>
                            <option value="200">200 hour</option>
                            <option value="300">300 hour</option>
                            <option value="400">400 hour</option>
                            <option value="500">500 hour</option>
                            <option value="600">600 hour</option>
                            <option value="700">700 hour</option>
                            <option value="800">800 hour</option>
                            <option value="900">900 hour</option>
                            <option value="1000">1.000 hour</option>
                            <option value="1200">1.200 hour</option>
                            <option value="1500">1.500 hour</option>
                            <option value="2000">2.000 hour</option>
                            <option value="3000">3.000 hour</option>
                            <option value="5000">5.000 hour</option>
                            <option value="8000">8.000 hour</option>
                            <option value="10000">10.000 hour</option>
                            <option value="13000">13.000 hour</option>
                            <option value="15000">15.000 hour</option>
                            <option value="20000">20.000 hour</option>
                            <option value="30000">30.000 hour</option>
                            <option value="50000">50.000 hour</option>
                            <option value="80000">80.000 hour</option>
                            <option value="100000">100.000 hour</option>
                            <option value="-1">Unknown estimate</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel" prio-class prio-value-bar-render-neg="editmile.risklevel">Risk of failure</td>
                    <td>
                        <select ng-model="editmile.risklevel" ng-change="saveNow(editmile)"
                            ng-disabled="!user.changeContent">
                            <option value="1">1. Slim risk</option>
                            <option value="2">2. Could happen</option>
                            <option value="3">3. Likely to happen</option>
                            <option value="4">4. Most likely to happen</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="formlabel">
                        Description
                    </td>
                    <td>
                        <textarea ng-change="saveNow(editmile)" ng-model="editmile.delivarables" maxlength="800"
                            id="miledel"
                            placeholder="Describe the key business delivery that this deliverable will produce."
                            ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">
                        Definition of Done
                    </td>
                    <td>
                        <textarea ng-change="saveNow(editmile)" ng-model="editmile.dod" maxlength="800" id="miledel"
                            placeholder="Describe the definition of Done." ng-disabled="!user.changeContent"></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="formlabel">
                        Value enablers
                    </td>
                    <td>
                        <textarea ng-change="saveNow(editmile)" ng-disabled="!user.changeContent"
                            ng-model="editmile.comments" maxlength="800" id="milecom"
                            placeholder="Describe the enablers of creating value both on implementation and if it enables further strategic work in the future"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">
                        Value limiters
                    </td>
                    <td>
                        <textarea ng-change="saveNow(editmile)" ng-disabled="!user.changeContent"
                            ng-model="editmile.risks" maxlength="800" id="milerisk"
                            placeholder="Describe the limiters that work against creating value like the amount of work and the assosiated risk of failure"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mainbox">
        <div class="overview">
            <div class="right"><button ng-click="newMilestone()" ng-if="user.changeContent" class="Green">create new
                    deliverable</button></div>
            <table class="tablelist smaller">
                <tr class="header">
                    <td colspan="8">
                        <div class="right">
                            Show: &nbsp;
                            <input type="radio" name="mileview" ng-model="mileview" value="all"> All &nbsp;
                            <input type="radio" name="mileview" ng-model="mileview" value="rm"> Roadmap &nbsp;
                            <input type="radio" name="mileview" ng-model="mileview" value="activity"> Activity &nbsp;
                            <input type="checkbox" ng-model="showDone" ng-init="showDone=false"> Done &nbsp;

                            <select ng-model="order1" ng-init="order1='date'" style="font-size: 12px;">
                                <option value="enddate" selected="selected">Order by end date</option>
                                <option value="date">Order by start date</option>
                                <option value="-wsjf">Order by WSJF</option>
                                <option value="-enablervaluetotal">Order by Enabler total</option>
                                <option value="-limitervaluetotal">Order by Limiter total</option>
                                <option value="-wsjf">Order by WSJF</option>
                                <option value="-bena">Order by Platform value</option>
                                <option value="-sena">Order by Strategy value</option>
                                <option value="-cena">Order by Customer value</option>
                                <option value="-mena">Order by Market value</option>
                                <option value="-effort">Order by Effort</option>
                                <option value="-numestimate">Order by high-low Estimate</option>
                                <option value="numestimate">Order by low-high Estimate</option>
                                <option value="-risklevel">Order by Risk</option>
                            </select>
                            <select ng-model="order2" ng-init="order2='-wsjf'" style="font-size: 12px;">
                                <option value="enddate" selected="selected">Order by end date</option>
                                <option value="date">Order by start date</option>
                                <option value="-wsjf">Order by WSJF</option>
                                <option value="-enablervaluetotal">Order by Enabler total</option>
                                <option value="-limitervaluetotal">Order by Limiter total</option>
                                <option value="-bena">Order by Platform value</option>
                                <option value="-sena">Order by Strategy value</option>
                                <option value="-cena">Order by Customer value</option>
                                <option value="-mena">Order by Market value</option>
                                <option value="-effort">Order by Effort</option>
                                <option value="-numestimate">Order by high-low Estimate</option>
                                <option value="numestimate">Order by low-high Estimate</option>
                                <option value="-risklevel">Order by Risk</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr class="header">
                    <td>Title <br />
                        Estimated hours
                    </td>
                    <td>Priority<br />WSJF</td>
                    <td>{{year-1}}</td>
                    <td>{{year}}</td>
                    <td>{{year+1}}</td>
                    <td>Start Date<br />End Date</td>
                    <td>Responsible<br />Approver</td>
                    <td>Show in<br />Report</td>
                </tr>
                <tr ng-repeat="mile in project.milestones | orderBy:[order1,order2]"
                    ng-if="(showDone || (!showDone && mile.state!='Done')) && 
                    (mileview=='all' || (mileview=='activity' && mile.type=='Activity') || (mileview=='rm' && mile.type=='Roadmap item'))" class="link">
                    <td ng-click="beginEditMile(mile)" class="{{mile.status}}">
                        <b>{{mile.title}}</b><br />{{mile.estimate}}</td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.priority}}</b><br />{{mile.wsjf}}</td>
                    <td ng-click="beginEditMile(mile)" class="bar" ng-style="barRender(mile)" colspan="3">
                        {{mile.type}}/{{mile.state}}
                    </td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.date | date:'longDate'}}</b><br />{{mile.enddate |
                        date:'longDate'}}</td>
                    <td ng-click="beginEditMile(mile)"><b>{{mile.responsible}}</b><br />{{mile.acountable}}</td>
                    <td><input type="checkbox" ng-model="mile.showInReport" ng-change="saveMilestones(false)"></td>

                </tr>
            </table>
        </div>
    </div>
    <h3>&nbsp;</h3>
    <table class="smaller">
        <tr class="header">
            <td colspan="4">Link external doc.</td>
        </tr>
        <tr>
            <td>Title: <input ng-model="project.dellinktitle" ng-change="saveNowQuick()"
                    ng-disabled="!user.changeContent" /></td>
            <td>URL: <input ng-model="project.dellink" ng-change="saveNowQuick()" ng-disabled="!user.changeContent" />
            </td>
            <td>Show in report <input type="checkbox" ng-model="project.filters.showDelExternalLink"
                    ng-change="saveNowQuick()"></td>
            <td><a target="_blank" href="{{project.dellink}}">{{project.dellinktitle}}<div class="linkicon right">
                    </div></a></td>
        </tr>
    </table>
</div>