<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<div id="linkdiv3" class="view">
    <div id="popdiv3" ng-show="showStatusForm">
        <h2 class="{{editstatus.status}}">
            Status per. {{editstatus.date | date:'yyyy-MM-dd'}}
            <div class="right">
                <!-- TODO: make directive for ng-if based on user.email == project.something -->
                <button type="button" class="Red"
                ng-click="$parent.deleteThis=false; removeStatus(editstatus)" 
                ng-show="$parent.deleteThis"
                ng-if="user.admin || ((user.email == project.po.email || 
                user.email == project.pm.email || 
                user.email == project.altpo.email || 
                user.email == project.altpm.email) && editstatus.apo != 'Approved')">confirm delete!!!</button>
                
                <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-show="saveStatusEnabled"
                        ng-if="(user.email == project.po.email || 
                            user.email == project.pm.email || 
                            user.email == project.altpo.email || 
                            user.email == project.altpm.email || 
                            user.isOwner || 
                            user.admin) && (editstatus.active == null || editstatus.active)"
                        ng-click="saveStatus(editstatus)">save</button>


                <button type="button" ng-click="hideStatusForm()">close</button>
                <button type="button" 
                    ng-click="newCloneStatus(editstatus)" 
                    ng-if="user.email == project.po.email || 
                                user.email == project.pm.email || 
                                user.email == project.altpo.email || 
                                user.email == project.altpm.email || 
                                user.isOwner || 
                                user.admin">clone status</button>
                

                    <button type="button" 
                    ng-click="$parent.deleteThis=true" 
                    ng-show="!$parent.deleteThis"
                    ng-if="user.admin || ((user.email == project.po.email || 
                    user.email == project.pm.email || 
                    user.email == project.altpo.email || 
                    user.email == project.altpm.email) && editstatus.apo != 'Approved')">delete</button>
                

            </div>
        </h2>
        <table class="smaller">
            <tr>
                <td class="header">Title</td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled"><input ng-model="editstatus.title" ng-change="saveNow(editstatus)"/></div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.title}}</div>
                </td>
                <td class="header">Next demo</td>
                <td>
                    <input ng-show="saveStatusEnabled" type="text" id="demodate" datepicker="editstatus.demodate | date:'yyyy-MM-dd'" ng-model="editstatus.demodate" ng-change="saveNow(editstatus); dateChanged(editstatus.demodate)"  class="cal"/>
                    {{editstatus.demodate | date:'yyyy-MM-dd'}}
                </td>
            </tr>
            <tr>
                <td class="header {{editstatus.status}}">
                    <p>Overall flag <span id="overallstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.status" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td class="header">
                    <p>Status state</p>
                </td>
                <td>
                    <div ng-if="editstatus.statusstate != 'Final'">
                        <select ng-show="saveStatusEnabled" ng-model="editstatus.statusstate" ng-change="saveNow(editstatus)">
                            <option value="Draft">Draft</option>
                            <option value="Ready for PM">Ready for PM</option>
                            <option value="Ready for PO">Ready for PO</option>
                        </select>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.statusstate}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="header">Overall status</td>
                <td colspan="3">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.overallcomments" maxlength="300" id="overallstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.overallcomments}}</div>
                    
                </td>
            </tr>
        </table>
        <br/>
        <table class="smaller">
            <tr>
                <td class="header" colspan="2">Steerco</td>
            </tr>
            <tr>
                <td>
                    Steerco meeting date
                </td>
                <td>
                    <input ng-show="saveStatusEnabled" type="text" id="steercodate" datepicker="" ng-model="editstatus.steercodate" ng-change="saveNow(editstatus); dateChanged(editstatus.steercodate)"  class="cal"/>
                    {{editstatus.steercodate | date:'yyyy-MM-dd'}}
                </td>               
            </tr>
            <tr>
                <td>
                    Agenda
                </td>
                <td>
                    <div class="field"><textarea ng-disabled="!saveStatusEnabled" ng-change="saveNow(editstatus)" ng-model="editstatus.steercoagenda" maxlength="300" id="steercoagenda" placeholder="Agenda for upcomming meeting"></textarea></div>
                </td>               
            </tr>
            <tr>
                <td>
                    Attendees
                </td>
                <td>
                    <div class="field"><textarea ng-disabled="!saveStatusEnabled" ng-change="saveNow(editstatus)" ng-model="editstatus.steercoattendees" maxlength="300" id="steercoattendees" placeholder="Who attends the meeting"></textarea></div>
                </td>               
            </tr>
            <tr>
                <td>
                    Minutes
                </td>
                <td>
                    <div class="field"><textarea ng-disabled="!saveStatusEnabled" ng-change="saveNow(editstatus)" ng-model="editstatus.steercominutes" maxlength="300" id="steercominutes" placeholder="Minutes from meeting"></textarea></div>
                </td>               
            </tr>
        </table>

        <br/>
        <table class="smaller">
            <tr>
                <td class="header" colspan="3">Status flags</td>
            </tr>
            <tr>
                <td class="{{editstatus.statusbc}}">
                    <p>Business case <span id="bcstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.statusbc" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.bccomments" maxlength="300" id="bcstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.bccomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="{{editstatus.statussc}}">
                    <p>Scope <span id="scstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.statussc" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.sccomments" maxlength="300" id="scstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.sccomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="{{editstatus.statustl}}">
                    <p>Time line <span id="tlstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.statustl" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.tlcomments" maxlength="300" id="tlstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.tlcomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="{{editstatus.statusres}}">
                    <p>Resources <span id="resstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.statusres" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.rescomments" maxlength="300" id="resstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.rescomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="{{editstatus.statusbud}}">
                    <p>Budget <span id="budstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-model="editstatus.statusbud" ng-change="saveNow(editstatus)">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.budcomments" maxlength="300" id="budstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.budcomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="{{editstatus.statusrisk}}">
                    <p>Risks <span id="riskstatus_count" class="right"></span></p>
                </td>
                <td>
                    <select ng-show="saveStatusEnabled" ng-change="saveNow(editstatus)" ng-model="editstatus.statusrisk">
                        <option value="Green">OK (Green)</option>
                        <option value="Yellow">Observe (Yellow)</option>
                        <option value="Orange">Assist (Orange)</option>
                        <option value="Red">Intervention (Red)</option>
                    </select>
                </td>
                <td>
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.riskcomments" maxlength="300" id="riskstatus" placeholder="Comments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.riskcomments}}</div>
                    
                </td>
            </tr>
            <tr>
                <td class="header" colspan="3">Status elaboration</td>
            </tr>
            <tr>
                <td>
                    <p>Delivered <span id="statusdel_count" class="right"></span></p>
                </td>
                <td colspan="2">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.del" maxlength="300" id="statusdel" placeholder="What have the project delivered compared to last status report."></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.del}}</div>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <p>Next <span id="statusnext_count" class="right"></span></p>
                </td>
                <td colspan="2">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.next" maxlength="300" id="statusnext" placeholder="What are the project to deliver in the next iteration (until next status report)"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.next}}</div>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <p>Concerns <span id="statusconcerns_count" class="right"></span></p>
                </td>
                <td colspan="2">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.concerns" maxlength="300" id="statusconcerns" placeholder="What concerns regarding deliveries, milestones and risks needs highliting?"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.concerns}}</div>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <p>Changes <span id="statuschanges_count" class="right"></span></p>
                </td>
                <td colspan="2">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.changes" maxlength="300" id="statuschanges" placeholder="Is there changes to economy, deliveries, milestones and risk?"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.changes}}</div>
                    
                </td>
            </tr>
            <!-- TODO: use - upper described - directive here -->
            <tr ng-if="user.email==project.po.email || user.email==project.pm.email|| user.email==project.altpo.email || user.email==project.altpm.email || user.isOwner || user.admin">
                <td>
                    <p>Comments <span id="statuscomments_count" class="right"></span></p>
                </td>
                <td colspan="2">
                    <div class="field" ng-show="saveStatusEnabled">
                        <textarea ng-change="saveNow(editstatus)" ng-model="editstatus.comments" maxlength="300" id="statuscomments"></textarea>
                    </div>
                    <div class="field" ng-show="!saveStatusEnabled">{{editstatus.comments}}</div>
                    
                </td>
            </tr>
        </table>
        <br/>
        <table class="smaller">
            <tr>
                <td class="header" colspan="3">PO section</td>
                <td class="header">Saved final by: {{editstatus.savedfinalby}}</td>
            </tr>
            <tr>
                <td class="header">PO feedback</td>
                <td>
                    <div ng-if="saveStatusEnabled && (user.email==project.po.email || user.email==project.altpo.email || user.isOwner || user.admin)">
                        <select ng-model="editstatus.apo" ng-change="saveNow(editstatus)">
                            <option value="Not evaluated">Not evaluated</option>
                            <option value="Please amend">Please amend</option>
                            <option value="Approved">Approved</option>
                        </select>
                    </div>
                    <div ng-if="!saveStatusEnabled || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                        {{editstatus.apo}}
                    </div>
                </td>
                <td class="header">Status state</td>
                <td>
                    <div ng-if="saveStatusEnabled && (user.email==project.po.email || user.email==project.altpo.email || user.isOwner || user.admin)">
                        <select ng-model="editstatus.statusstate" ng-change="saveNow(editstatus)">
                            <option value="Draft">Draft</option>
                            <option value="Ready for PM">Ready for PM</option>
                            <option value="Ready for PO">Ready for PO</option>
                            <option value="Final">Final</option>
                         </select>
                    </div>
                    <div ng-if="!saveStatusEnabled || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                        {{editstatus.statusstate}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="header {{csrender(editstatus.cs)}}">Project feedback</td>
                <td>
                    <div ng-if="saveStatusEnabled && (user.email==project.po.email || user.email==project.altpo.email || user.isOwner || user.admin)">
                        <select ng-model="editstatus.cs" ng-change="saveNow(editstatus)">
                            <option value="1">1. Total breakdown</option>
                            <option value="2">2. No value</option>
                            <option value="3">3. Lack of trust</option>
                            <option value="4">4. Comply</option>
                            <option value="5">5. Trust</option>
                            <option value="6">6. Real value</option>
                            <option value="7">7. Great value</option>
                            <option value="8">8. Exeptional</option>
                        </select>
                    </div>
                    <div ng-if="!saveStatusEnabled || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                        {{editstatus.cs}}
                    </div>
                </td>
                <td class="header {{csrender(editstatus.productcs)}}">Product feedback</td>
                <td>
                    <div ng-if="saveStatusEnabled && (user.email==project.po.email || user.email==project.altpo.email || user.isOwner || user.admin)">
                        <select ng-model="editstatus.productcs" ng-change="saveNow(editstatus)">
                            <option value="1">1. Total breakdown</option>
                            <option value="2">2. No value</option>
                            <option value="3">3. Lack of trust</option>
                            <option value="4">4. Comply</option>
                            <option value="5">5. Trust</option>
                            <option value="6">6. Real value</option>
                            <option value="7">7. Great value</option>
                            <option value="8">8. Exeptional</option>
                        </select>
                    </div>
                    <div ng-if="!saveStatusEnabled || (user.email!=project.po.email && user.email!=project.altpo.email && !user.isOwner && !user.admin)">
                        {{editstatus.productcs}}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="right">
                        
                        <button type="button" prio-class save-this="$parent.hasChanged"
                        ng-show="saveStatusEnabled"
                        ng-if="(user.email == project.po.email || 
                            user.email == project.altpo.email || 
                            user.isOwner || 
                            user.admin) && (editstatus.active == null || editstatus.active)"
                        ng-click="saveStatus(editstatus)">save</button>

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="mainbox" id="statushistory" ng-show="!showStatusForm">
        <h2>
            Status history
            <div class="right">
                <button type="button" ng-click="newStatus()" ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.admin">create new status</button>
            </div>
        </h2>
        <div class="overview">
            <table class="tablelist smaller" ng-if="project.statuses.length > 0">
                <tr class="header">
                    <td>Title<br/>Audience</td>
                    <td>Status state<br/>PO feedback</td>
                    <td>Project feedback</td>
                    <td>Product feedback</td>
                    <td>Status date<br/>Steerco date</td>
                </tr>
                <tr ng-repeat="status in project.statuses | orderBy: 'date' : true" ng-click="viewStatus(status)" class="link">
                    <td class="{{status.status}}">
                        &nbsp;{{status.title}}
                        <br/>
                        &nbsp;{{status.audience}}
                    </td>
                    <td ng-if="project.statuses.indexOf(status) == project.statuses.length-1" class="Blue">
                        &nbsp;{{status.statusstate}}
                        <br/>
                        &nbsp;{{status.apo}}
                    </td>
                    <td ng-if="project.statuses.indexOf(status) != project.statuses.length-1">
                        &nbsp;{{status.statusstate}}
                        <br/>
                        &nbsp;{{status.apo}}
                    </td>
                    <td prio-class prio-cs-render="status.cs">{{status.cs}}</td>
                    <td prio-class prio-cs-render="status.productcs">{{status.productcs}}</td>
                    <td>
                        <div class="right">
                            &nbsp;{{status.date | date:'yyyy-MM-dd'}}
                            <br/>
                            &nbsp;{{status.steercodate | date:'yyyy-MM-dd'}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>