<prio-project-menu prio-project-id="{{project._id.$oid}}" prio-project-title="{{project.title}}"></prio-project-menu>

<div id="linkdiv7" class="view">        
    <h2>
        KPIs  
        <div class="right">
            <button type="button" id="saveButton" prio-class save-this="$parent.hasChanged"
                        ng-if="user.email == project.po.email || 
                        user.email == project.pm.email || 
                        user.email == project.altpo.email || 
                        user.email == project.altpm.email || 
                        user.isOwner || 
                        user.admin"
                        ng-click="saveProject(project)">save</button>
        </div>
    </h2>
        <table class="smaller">
            <tr class="header"><td>Project KPI</td><td>Value</td></tr>
        <tr><td>{{company.projkpi1lable}}</td>
            <td>
                <select ng-model="project.kpi1"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
        <tr><td>{{company.projkpi2lable}}</td>
            <td>
                <select ng-model="project.kpi2"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
        <tr><td>{{company.projkpi3lable}}</td>
            <td>
                <select ng-model="project.kpi3"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
        <tr><td>{{company.projkpi4lable}}</td>
            <td>
                <select ng-model="project.kpi4"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
        <tr><td>{{company.projkpi5lable}}</td>
            <td>
                <select ng-model="project.kpi5"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
        <tr><td>{{company.projkpi6lable}}</td>
            <td>
                <select ng-model="project.kpi6"  ng-change="saveNow()">
                    <option value="0">No value</option>
                    <option value="10">Small business unit impact</option>
                    <option value="20">Large business unit impact</option>
                    <option value="40">Small division impact</option>
                    <option value="50">Large division impact</option>
                    <option value="70">Small company impact</option>
                    <option value="80">Large company impact</option>
                    <option value="99">Game changer</option>
                </select>
            </td>
        </tr>
    </table>

    <canvas id="radar" class="chart chart-radar"
      chart-data="data" chart-options="options" chart-labels="labels">
    </canvas> 
</div>