<prio-admin-menu></prio-admin-menu>
<div class="view">
    <h3>Processes</h3>
    <div class="popup">
        <div class="overview popupcontent">
            <div class="actions">
                <div class="layout">
                    <div class="layoutelement">
                        <button type="button" id="saveButton1" ng-if="user.admin && companyedit"
                            ng-click="saveProcess(np)">save</button>
                    </div>
                    <div class="layoutelement center">
                        <button type="button primary" class="Red" ng-click="deleteProcess(np)"
                            ng-if="user.admin && companyedit">delete</button>
                    </div>
                    <div class="layoutelement right">
                        <button type="button" class="close" ng-click="close()"></button>
                    </div>
                </div>
            </div>
            <h3>
                Edit process
            </h3>
            <table class="formtable smaller">
                <tr>
                    <td class="formlabel">Process title</td>
                    <td><input type="text" ng-model="np.title" /></td>
                </tr>
                <tr>
                    <td class="formlabel">Process category</td>
                    <td>
                        <select ng-model="np.type">
                            <option value="Employee business process">Employee business process</option>
                            <option value="Customer business process">Customer business process</option>
                            <option value="Data protection process">Data protection process</option>
                            <option value="IT Security process">IT Security process</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Business unit</td>
                    <td>
                        <select ng-model="np.bu" ng-options="bu.name for bu in bus track by bu.name"></select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Process admin</td>
                    <td>
                        <select ng-model="np.pm"
                            ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formlabel">Process Owner</td>
                    <td>
                        <select ng-model="np.po"
                            ng-options="u.name for u in users | filter: {source: true} | orderBy:'name' track by u.name">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="right"><button ng-click="newProcess()" ng-if="user.admin && companyedit">create new process</button></div>
    <div class="mainbox" ng-if="processs.length > 0">
        <table class="tablelist smaller">
            <tr class="header">
                <td>Process</td>
                <td>BU</td>
                <td>Process Admin</td>
                <td>Process Owner</td>
                <td>Go to process</td>
            </tr>
            <tr ng-repeat="process in processs | orderBy: 'title'">
                <td ng-click="editProcess(process)">{{process.title}}</td>
                <td ng-click="editProcess(process)">{{process.bu.name}}</td>
                <td ng-click="editProcess(process)">{{process.pm.name}}</td>
                <td ng-click="editProcess(process)">{{process.po.name}}</td>
                <td ng-click="gotoProcess(process)">--></td>
            </tr>
        </table>
    </div>
</div>