<div id="projects-kpi">
    <h2>Project list - KPI</h2>
    <div class="smaller">
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/> BU
                <br/>PO<br/>PM
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.buname">
                    <option ng-repeat="bu in bus" value="{{bu.name}}">{{bu.name}}</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.poname">
                    <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.pmname">
                    <option ng-repeat="u in users | filter: {source: true} | orderBy:'name'" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label" style="height:110px;">
                Filter by:<br/> State
                <br/>Audience<br/>Support
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.state">
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.audience">
                    <option value="Project">Project</option>
                    <option value="Business Unit">Business Unit</option>
                    <option value="Company">Company</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.support">
                    <option value="None">None</option>
                    <option value="PMO">PMO</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projectList.length > 0">
                <tr class="listsubject">
                    <td colspan="8">
                        <h3>Projects</h3>
                    </td>
                </tr>
                <tr class="header">
                    <td>Project</td>
                    <td>Total</td>
                    <td>{{company.projkpi1lable}}</td>
                    <td>{{company.projkpi2lable}}</td>
                    <td>{{company.projkpi3lable}}</td>
                    <td>{{company.projkpi4lable}}</td>
                    <td>{{company.projkpi5lable}}</td>
                    <td>{{company.projkpi6lable}}</td>
                </tr>
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.lastStatus.status}}">{{project.title}}</td>
                    <td>{{project.total}}</td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi1"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi2"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi3"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi4"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi5"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi6"></td>
                </tr>
            </table>
        </div>
    </div>
</div>