<div id="projects-kpi">
    <h2>Project list - KPI <div class="right">
            <button ng-click="showmepm()"  ng-show="showmepmbutton">Show me as PM</button>
            <button ng-click="clearmepm()"  ng-show="!showmepmbutton">Clear me as PM</button>
            <button ng-click="showmepo()"  ng-show="showmepobutton">Show me as PO</button>
            <button ng-click="clearmepo()"  ng-show="!showmepobutton">Clear me as PO</button>
        <button ng-click="showfilters=true"  ng-show="!showfilters">Show filters</button><button ng-click="showfilters=false"  ng-show="showfilters">Hide filters</button></div></h2>
    <div class="smaller">
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label" style="height:120px;">
                Filter by:<br/>
                BU<br/>PO<br/>PM<br/>Status
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.buname" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.poname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.pmname" ng-options="u.name as u.name for u in users | filter: {source: true} | orderBy: 'name'"></select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.lastStatusFlag">
                    <option value="Green">OK (Green)</option>
                    <option value="Yellow">Observe (Yellow)</option>
                    <option value="Orange">Assist (Orange)</option>
                    <option value="Red">Intervention (Red)</option>
                </select>
            </div>
        </div>
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label" style="height:120px;">
                Filter by:<br/> State
                <br/>Type<br/>Audience<br/>Portfolio
            </div>
            <div class="field multiple-select">
                <select multiple="multiple" ng-multiple="true" ng-model="search.state" ng-init="search.state=['Progress']">
                    <option value="Proposed">Proposed</option>
                    <option value="Progress">Progress</option>
                    <option value="Onhold">On hold</option>
                    <option value="Closed">Closed</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.type">
                    <option value="Project">Project</option>
                    <option value="Program">Program</option>
                    <option value="Product">Product</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.audience">
                    <option value="Internal">Internal</option>
                    <option value="Portfolio">Portfolio</option>
                    <option value="Company">Company</option>
                </select>
                <select multiple="multiple" ng-multiple="true" ng-model="search.support" ng-options="bu.name as bu.name for bu in bus | orderBy: 'name'"></select>
            </div>
        </div>
        <div class="filter-order-container" ng-show="showfilters">
            <div class="label">
                Order by:
            </div>
            <div class="field">
                <select ng-model="porderparam" ng-init="porderparam='-total'">
                    <option value="-total">KPI: Total points</option>
                    <option value="-kpi1">KPI: {{company.projkpi1lable}}</option>
                    <option value="-kpi2">KPI: {{company.projkpi2lable}}</option>
                    <option value="-kpi3">KPI: {{company.projkpi3lable}}</option>
                    <option value="-kpi4">KPI: {{company.projkpi4lable}}</option>
                    <option value="-kpi5">KPI: {{company.projkpi5lable}}</option>
                    <option value="-kpi6">KPI: {{company.projkpi6lable}}</option>
                    <option value="title">Title</option>
                    <option value="bu.name">BU</option>
                </select>
            </div>
        </div>
        <div class="overview">
            <table class="tablelist" ng-if="projectList.length > 0">
                <tr class="listsubject">
                    <td colspan="8">
                        <h3>Projects</h3>
                    </td>
                </tr>
                <tr class="header">
                    <td>Project</td>
                    <td>Total</td>
                    <td>{{company.projkpi1lable}}</td>
                    <td>{{company.projkpi2lable}}</td>
                    <td>{{company.projkpi3lable}}</td>
                    <td>{{company.projkpi4lable}}</td>
                    <td>{{company.projkpi5lable}}</td>
                    <td>{{company.projkpi6lable}}</td>
                </tr>
                <tr ng-repeat="project in projectList | multiFilter:search | orderBy:porderparam" ng-click="goToProject(project._id.$oid)" class="link">
                    <td class="{{project.lastStatus.status}}">{{project.title}}</td>
                    <td>{{project.total}}</td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi1"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi2"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi3"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi4"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi5"></td>
                    <td class="Blue" prio-class prio-kpi-size-render="project.kpi6"></td>
                </tr>
            </table>
        </div>
    </div>
</div>