<div id="alternatives">
    <div class="mainbox editboxon">
        <h2>Great alternatives</h2>
        <b>- When you are ready for a bigger solution or more features look here!</b>
        <table class="tablelist smaller">
            <tr class="header">
                <td style="width: 20%;">Tool</td>
                <td>Site</td>
            </tr>
            <tr>
                <td>Projectplace</td>
                <td><a href="https://www.projectplace.com/" target="_blank">https://www.projectplace.com/</a></td>
            </tr>
            <tr>
                <td>Rally Software</td>
                <td><a href="https://www.rallydev.com/" target="_blank">https://www.rallydev.com/</a></td>
            </tr>
            <tr>
                <td>Metier</td>
                <td><a href="http://www.metier.dk/" target="_blank">http://www.metier.dk/</a></td>
            </tr>
            <tr>
                <td>LiquidPlanner</td>
                <td><a href="https://www.liquidplanner.com/" target="_blank">https://www.liquidplanner.com/</a></td>
            </tr>
            <tr>
                <td>Bitrix24</td>
                <td><a href="https://www.bitrix24.com/" target="_blank">https://www.bitrix24.com/</a></td>
            </tr>
            <tr>
                <td>Projecturf</td>
                <td><a href="https://www.projecturf.com/" target="_blank">https://www.projecturf.com/</a></td>
            </tr>
            <tr>
                <td>Projectbubble</td>
                <td><a href="http://projectbubble.com/" target="_blank">http://projectbubble.com/</a></td>
            </tr>
            <tr>
                <td>Basecamp</td>
                <td><a href="https://basecamp.com/" target="_blank">https://basecamp.com/</a></td>
            </tr>
            <tr>
                <td>Zoho Projects</td>
                <td><a href="https://www.zoho.com/projects/" target="_blank">https://www.zoho.com/projects/</a></td>
            </tr>
            <tr>
                <td>Podio</td>
                <td><a href="https://podio.com/" target="_blank">https://podio.com/</a></td>
            </tr>
            <tr>
                <td>Clarizen</td>
                <td><a href="http://www.clarizen.com/" target="_blank">http://www.clarizen.com/</a></td>
            </tr>
        </table>
    </div>
</div>